@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */
@include reset;
$base_minwidth:1200px;
.backgrond-color--beige {
	min-width:$base_minwidth;
	background: url('../images/bg_beige.jpg') repeat center center;
}
.backgrond-color--lightblue {
	min-width:$base_minwidth;
	background: url('../images/bg_blue.png') repeat center center;
	position: relative;
	&:before {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--top.png) repeat-x center center;
		top: -13px;
		left:0;
		z-index:1000;
	}
	&:after {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--bottom.png) repeat-x center center;
		bottom: -13px;
		left:0;
		z-index:1000;
	}

	&.nosep {
		&:after {
			display:none;
		}
	}
}
.backgrond-color__inner {
	min-width:$base_minwidth;
	overflow: hidden;
}
.backgrond-color--lightgreen {
	min-width:$base_minwidth;
	background: url('../images/bg_green.png') repeat center center;
}

body {
	@extend .backgrond-color--beige;
	min-width: 1100px;
}
#wrap {
	min-width: 1100px;
}
.btn_sp_navi_wrap {
	display:none;
}

a {
	@include opacity--anim(0.4);
}
.tel_link,.tel_link a,a.nolink {
	cursor: default;
	&:hover {
		@include opacity(1);
	}
}

.tel_link.caution {
	&:hover {
		color: #16b5a7;
	}
}

a.nolink {
	cursor: default;
	color: #a1a2a1 !important;
	&:hover {
		color: #a1a2a1!important;
	}
}

.inview,
.inview--to_top {
	position: absolute;
	&  > * {
		@include opacity(0);
	}
}

.linetext--yellow--wavy {
	@include mincho;
	color: #565a55;
	font-size: 2.6rem;
	line-height: (52 / 26);
	text-align: center;
	display: inline;
	padding-bottom: 12px;
	background:url('../images/line--wave-yellow.png') repeat-x left bottom;
	background-size: auto 6px;
}

.linetext--green--wavy {
	@extend .linetext--yellow--wavy;
	background:url('../images/line--wave-green.png') repeat-x left bottom;
	background-size: auto 6px;
}

.linetext--blue--wavy {
	@extend .linetext--yellow--wavy;
	background:url('../images/line--wave-blue.png') repeat-x left bottom;
	background-size: auto 6px;
}

.list-style--leaf {
	li {
		color: #565a55;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: (40 / 36);
		text-align: left;
		display: block;
		& + li {
			margin-top: 18px;
		}
		span {
			border-bottom: 2px solid #acc756;
			padding-bottom: 2px;
			&:before {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(icon_seedling);
				display: inline-block;
				margin-right: 14px;
				vertical-align: -6px;
			}
		}
	}
}

.icon--yellow_back {
	background:url(../images/icon_back_yellow.png) no-repeat center center;
	background-size:128px auto;
	width:128px;
	height: 43px;
	color: #fff;
	font-size: 2.4rem; /* フォント置換による類似 */
	font-weight: 700;
	line-height: 43px;
	text-align: center;
}

.icon--green_back {
	background:url(../images/icon_back_green.png) no-repeat center center;
	background-size:130px auto;
	width:130px;
	height: 44px;
	color: #fff;
	font-size: 2.4rem; /* フォント置換による類似 */
	font-weight: 700;
	line-height: 43px;
	text-align: center;
}

.icon--blue_back {
	background:url(../images/icon_back_blue.png) no-repeat center center;
	background-size:122px auto;
	width:122px;
	height: 46px;
	color: #fff;
	font-size: 2.4rem; /* フォント置換による類似 */
	font-weight: 700;
	line-height: 46px;
	text-align: center;
}
/* ===============================================
table
=============================================== */
%border-area {
	margin-top: 30px;
	@include border-radius(10px);
	border: 1px solid #565a55;
	background-color: #fffffd;
	width: 100%;
	box-sizing: border-box;
}
.table_wrapper--basic_table {
	@extend %border-area;
	table {
		width: 100%;
		table-layout: fixed;
	}
	th,td {
		border-top: 1px #565a55 dashed;
		vertical-align: middle;
		padding:8px 50px;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
	th {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		text-align: left;
		width: 290px;
		box-sizing: border-box;
	}
	td {
		font-size: 1.5rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (28 / 15); /* フォント置換による類似 */
		text-align: left;
		border-left: #565a55 1px solid;
	}
	.inner_table {
		display: table;
		table-layout: fixed;
		.row {
			display: table-row;
		}
		.row + .row {
			.col {
				padding-top: 12px;
			}
		}
		.col:first-child {
			width: 235px;
			padding-right: 35px;
			box-sizing: border-box;
		}
		.col {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.table--simple {
	table-layout: fixed;

	th,td {
		padding:8px 20px;
		box-sizing: border-box;
	}
	th {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		line-height: (28 / 15);
		border-top: 1px solid #dcdcdc;
		width: 283px;
	}
	td {
		color: #565a55;
		font-size: 1.5rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (28 / 15); /* フォント置換による類似 */
		text-align: left;
		border-top: 1px solid #dcdcdc;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
}
/* ===============================================
area
=============================================== */
.area--normal_border {
	@extend %border-area;
	@extend .clearfix;
	padding:38px 31px;
	box-sizing: border-box;
	.col--left {
		float: left;
	}
	.col--right {
		float: right;
	}
	.ttl {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		text-align: left;
	}
	.map {
		margin-top: 20px;
		border:1px #565a55 solid;
		iframe {
			vertical-align:middle;
		}
	}
	.txt {
		margin-top: 20px;
		font-size: 1.4rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (26 / 14); /* フォント置換による類似 */
		text-align: left;
	}
}

%wave_format {
	content: '';
	width:100%;
	height: 6px;
	position: absolute;
	left:0;
}
.area--wave_border {
	background: #fff;
	position: relative;
	padding:31px 30px;
	margin-top: 30px;
	&:before {
		background: url(../images/line-wave_above.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		top:-5px;
	}
	&:after {
		background: url(../images/line-wave_below.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		bottom:-5px;
	}
}
/* ===============================================
tab_content
=============================================== */
.tab_content {
	& + .tab_content {
		margin-top: 120px;
	}
}
/* **************************************************
Layout
************************************************** */
/* ===============================================
header
=============================================== */
.main_header {
	position:relative;
	width:100%;
	padding-top: 40px;
	.logo {
		@include text_indent_none();
		@include sprite_background_retina(logo);
		margin:0 auto;
	}

	.tel {
		border-bottom-left-radius: 4px;
		background-color: #14b4a6;
		width: 256px;
		height: 56px;
		line-height: 56px;
		display:block;
		position: absolute;
		top:0;
		right:0;
		text-align:center;
		a {
			color: #ffffff;
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			text-align: left;
		}
	}
}

.leaf1 {
	position: absolute;
	left: -90px;
	top: -50px;
	z-index: 3;
	@include animation(leaf1 3s ease infinite alternate 0.8s);
}
.leaf2 {
	position: absolute;
	left:85px;
	top:-190px;
	z-index: 2;
	@include animation(leaf2 2s ease infinite alternate 1.2s);
}

@include keyframes(leaf1) {
	from {
	}
	to {
		@include transform(rotate(6deg) translateX(-6px));
	}
}

@include keyframes(leaf2) {
	from {
	}
	to {
		@include transform(rotate(9deg) translateX(-10px));
	}
}

.gnav {
	text-align:center;
	padding:0 30px;
	font-size:0;
	margin-top: 51px;position: relative;
	z-index: 10001;
	& > ul > li {
		display:inline-block;
		vertical-align:middle;
		border-right: 1px solid #14b4a6;
		position:relative;
		height:18px;
		&:first-child {
			border-left: 1px solid #14b4a6;
		}
		a {
			display:block;
			padding-left: 30px;
			padding-right: 30px;
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 18px;
			transition:color 0.6s;
			&:hover {
				color: #14b4a6;
				@include opacity(1);
			}
		}
		&.fb {
			padding:0;
			border: none;
			position: relative;
			top:-4px;
			a {
				@include text_indent_none();
				@include sprite_background_retina(icon_fb);
				text-indent: 250%;
				margin-left: 30px;
				transition:opacity 0.6s;
				&:hover {
					color: #14b4a6;
					@include opacity(0.4);
				}
			}
		}
	}
	.child {
		display:none;
		width: 107px;
		position: absolute;
		left:0;
		right:0;
		top:99%;
		margin:auto;
		padding-top: 15px;
		li {
			background-color: rgba(255, 255, 253, 0.9);
			width: 107px;
			height: 35px;
			border-top: 1px solid #14b4a6;
			border-bottom: 1px solid #14b4a6;
			margin-top: -1px;
			a {
				display:block;
				font-family: YuGo;
				color: #14b4a6;
				font-size: 1.4rem;
				font-weight: 700;
				line-height: 35px;
				transition:background-color 0.6s;
				&:hover {
					background-color:#daf1ef;
					@include opacity(1);
				}
			}
		}
	}

}
/* ===============================================
footer
=============================================== */
#footer {
	min-width:$base_minwidth;
}
.footer_img {
	background:url(../images/wave_img.jpg) no-repeat center center;
	background-size:cover;
	height:412px;
	width: 100%;
	min-width:$base_minwidth;
	position: relative;
	canvas {
		min-width:1200px;
	}
	.top {
		width: 100%;
		text-align: center;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}
	.bottom {
		position: absolute;
		bottom:0;
		width: 100%;
		text-align: center;
		canvas {
			vertical-align:bottom;
		}
	}
	.btns {
		position: absolute;
		right:0;
		top:-38px;
		width: 100%;
		.inner {
			width: 1040px;
			margin:0 auto;
			position: relative;
			text-align: right;
		}
	}
}
.btn--gotop {
	@include text_indent_none();
	@include sprite_background_retina(btn_gotop);
	display:inline-block;
	&:hover{
		@include opacity(1);
		@include sprite_background_retina(btn_gotop_on);
		display:inline-block;
	}
}
.btn--inquiry {
	@include text_indent_none();
	@include sprite_background_retina(btn_inquiry);
	display:inline-block;
	margin-left: 16px;
	&:hover{
		@include opacity(1);
		@include sprite_background_retina(btn_inquiry_on);
		display:inline-block;
	}
}

.footer_info {
	margin-top: 52px;
	.inner {
		width: 1040px;
		margin:0 auto;
		padding-bottom: 60px;
		@extend .clearfix;
	}
	.col1 {
		width: 296px;
		float: left;
	}
	.col2 {
		width: 288px;
		float: right;
		margin-right: 63px;
	}
	.col3 {
		width: 393px;
		float: right;
		iframe {
			border: 1px solid #14b4a6!important;
		}
	}
	.logo a {
		@include text_indent_none();
		@include sprite_background_retina(logo_tankyu_mini);
	}

	.footer_nav , .meta , .sns {
		border-top: 1px solid #14b4a6;
		border-bottom: 1px solid #14b4a6;
		font-size: 1.4rem; /* フォント置換による類似 */
		padding:12px 9px;
		font-weight: 700;

	}
	.meta , .sns {
		margin-top: -1px;
	}
	.footer_nav {
		@extend .clearfix;
		.fb {
			display: none;
		}
		li {
			width:50%;
			float: left;
			padding-top: 5px;
			position: relative;
			&.even {
				padding-left: 15px;
				box-sizing: border-box;
			}
			a:before {
				content:"> ";
			}
			&.first_row {
				padding-top: 0;
			}
		}
		.child {
			display: none;
			position: absolute;
			background:#fff;
			z-index:5;
			padding:3px 5px 3px 10px;
			border-left: 1px solid #14b4a6;
			width: 55px;
			top:0;
			left: 97px;
			li {
				width:100%;
				a:before {
					content:"";
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	.icon--fb {
		@include text_indent_none();
		@include sprite_background_retina(icon_fb);
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
	.txt {
		display:inline-block;
		vertical-align: middle;
	}
}
/* ===============================================
mv
=============================================== */
.mv {
	width: 980px;
	margin:81px auto 0;
	.slide {
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
		.lead {
			position: absolute;
			right: 0;
			top:-40px;
			z-index:10000;
		}
	}
	.lead2 {
		color: #dd8321;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 2.5; /* フォント置換による類似 */
		text-align: center;
		margin-top: 30px;
		margin-bottom: 130px;
		p {
			display: inline;
			border-bottom: 2px #dd8322 dashed;
			padding-bottom: 10px;
		}
	}
}
.bx-wrapper {
	border: none;
	box-shadow: none;
	margin: 0;
	background:transparent;
	.bx-pager {
		display: none;
	}
	.bx-controls-direction {
		.bx-prev {
			@include text_indent_none();
			@include sprite_background_retina(arrow_slide_prev);
			left: -78px;
		}
		.bx-next {
			@include text_indent_none();
			@include sprite_background_retina(arrow_slide_next);
			right: -78px;
		}
	}
}
.date {
	position: absolute;
	background:url(../images/mv_date.png) no-repeat center center;
	background-size:157px auto;
	width:157px;
	height:157px;
	top:409px;
	left: -25px;
	z-index:10001;
	display:table;
	&:hover {
		background:url(../images/mv_date_on.png) no-repeat center center;
		background-size:157px auto;
		@include opacity(1);
	}
	&.nolink:hover {
		background:url(../images/mv_date.png) no-repeat center center;
		background-size:157px auto;
		@include opacity(1);
	}
	a {
		&:hover {
			@include opacity(1);
			display: block;
		}
	}
	.inner {
		display: table-cell;
		vertical-align:middle;
		text-align: center;
		width: 157px;
		height: 157px;
	}
	.text1 {

		//position: absolute;
		color: #fff;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (28 / 18); /* フォント置換による類似 */
		text-align: center;
		width: 157px;
		left:0;
		top:30px;
	}
	.text2 {

		//position: absolute;
		top: 96px;
		text-align: center;
		width: 100%;
	}
	.date1,
	.date2,
	.sep {
		color: #ffffff;
		font-size: 2.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (34 / 26); /* フォント置換による類似 */
		text-align: left;
	}
	.all {
		.date1,
		.date2,
		.sep {
			font-size: 1.8rem;
		}
	}
}
/* ===============================================
Top about
=============================================== */
.top_about {
	display: block;
	width: 100%;
	font-size: 0;
	text-align: center;
	padding:107px 0;
	.col {
		display: inline-block;
		vertical-align: middle;
		margin-left: 24px;
		margin-right: 24px;
		a:hover {
			@include opacity(1);
		}
	}
}
/* ===============================================
Top outline
=============================================== */
.top_outlne {
	padding:132px 0;
}
/* ===============================================
border_area
=============================================== */
.border-area + .border-area {
	margin-top: 100px;
}
.border_header {
	width: 960px;
	img {
		width:100%;
		height:auto;
	}
	margin:0 auto;
}
.border-body {
	margin-top: -15px;
}
.border-area {
	width: 960px;
	cursor:pointer;
	position: relative;
	margin: 0 auto;
	.border-body_inner {
		display:block;
	}
	/* header
	----------------------- */
	.ttl_area_wrapper {
		position: absolute;
		top: 6px;
		left: 3px;
		&:after {
			content:'';
			background:url(../images/border_ttl_under--yellow.png) no-repeat center center;
			width: 99%;
			height: 14px;
			background-size:100% auto;
			display: block;
			margin-top: -13px;
		}
	}
	.ttl_area {
		display:table;
		width:100%;
		height: 150px;
		table-layout: fixed;
	}
	.ttl_text,.ttl_prefix {
		display:table-cell;
		vertical-align:middle
	}
	.ttl_prefix {
		background: url(../images/border_ttl--yellow.png) no-repeat center center;
		width:150px;
		height:149px;
		background-size:150px auto;
		.inner {
			color: #ffffff;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: (36 / 24);
			text-align: center;
		}
	}
	.ttl_text {
		padding-left: 60px;
		.ttl {
			@extend .font--yu_mincho;
			font-size: 2.2rem;
			line-height: 1.6;
			text-align: left;
		}
		.lead {
			margin-top: 20px;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: (22 / 14);
			text-align: left;
		}
	}
	/* content
	----------------------- */
	.content_area_wrapper {
		background: url(../images/border--yellow--botom.png) no-repeat center bottom;
		background-size:100% auto;
		//min-height: 200px;
		text-align:center;
		padding-bottom: 60px;
		.row + .row {
			margin-top: 40px;
		}
		.block {
			display: inline-block;
			vertical-align:top;
			width: 306px;
			.block__base_height {
				display: table-cell;
				width: 1px;
				div {
					min-height: 100px;
				}
			}
			.block__inner-1st {
				display: table;
				width: 100%;
				height: 100%;
				border-radius: 20px;
				background-color: #f9f3c1;
				padding: 5px;
				box-sizing: border-box;
			}
			.block__inner-2nd {
				display: table-cell;
				vertical-align: top;
				text-align:center;
				border-radius: 18px;
				border-width: 2px;
				border-color: #fff;
				border-style: solid;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: 0;
			}
			.above {
				font-size: 2.0rem;
				font-weight: 700;
				line-height: (22 / 20);
			}
			.below {
				font-size: 1.6rem;
				font-weight: 700;
				line-height: (22 / 16);
				text-align: center;
			}
			.sep {
				background-color:#e0cd2f;
				width:256px;
				height: 1px;
				margin:10px auto;
			}
		}
	}

	/* hover
	----------------------- */
	.border-hover {
		position:absolute;
		width: 100%;
		height: 100%;
		left:0;
		top:0;
		@include opacity(0);
		@include transition(opacity 0.6s);
		.inner-1st {
			display:table;
			width: 100%;
			height: 100%;
		}
		.inner-2nd {
			display: table-cell;
			vertical-align:middle;
			text-align:center;
		}
		.ttl_1 {
			background:url(../images/border-hover-back--yellow.png) no-repeat left top;
			background-size:contain;
			width: 131px;
			height: 42px;
			line-height: 42px;
			display:inline-block;
			color: #ffffff;
			font-size: 2.4rem;
			font-weight: 700;;
			text-align: center;
		}
		.ttl_2 {
			font-family: YuGo;
			font-size: 2.2rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (26 / 22); /* フォント置換による類似 */
			text-align: center;
			margin-top: 29px;
		}
		.icon {
			@include text_indent_none();
			@include sprite_background_retina(arrow_border-hover);
			display: inline-block;
			margin-top: 30px;
		}
	}
	.ttl_area_wrapper ,.content_area_wrapper .row {
		@include transition(opacity 0.6s);
	}
	a:hover {
		@include opacity(1);
	}
	&:hover {
		.ttl_area_wrapper ,.content_area_wrapper .row {
			@include opacity(0.3);
		}
		.border-hover {
			@include opacity(1);
		}
	}
	/* inview
	----------------------- */
	.inview {
		top:351px;
		right:-184px;
		img {
			position: relative;
			top:-20px;
		}
	}
}

.home .border-area .content_area_wrapper .block {
	margin-left: 20px;
	margin-right: 20px;
}
.home {
	.border-area .content_area_wrapper .block .block__inner-2nd {
		vertical-align:middle;
	}
}
.page-template-guide {
	.border-area {
		cursor:default;
	}
	.border-area:hover {
		.ttl_area_wrapper ,.content_area_wrapper .row {
			@include opacity(1);
		}
		.border-hover {
			@include opacity(1);
		}
	}
}

.border-area.nolink {
	cursor:default;
	&:hover {
		.ttl_area_wrapper ,.content_area_wrapper .row {
			@include opacity(1);
		}
		.border-hover {
			@include opacity(0);
		}
	}
}


.border-area.border-area--blue{
	.ttl_area_wrapper {
		&:after {
			background:url(../images/border_ttl_under--blue.png) no-repeat center center;
			background-size:100% auto;
			width: 100%;
		}
	}
	.ttl_prefix {
		background: url(../images/border_ttl--blue.png) no-repeat center center;
		background-size: 150px auto;
	}
	.border-body {
		.content_area_wrapper {
			background: url(../images/border--blue--botom.png) no-repeat center bottom;
			background-size:100% auto;
			.block__inner-1st {
				background-color: #c8e8f2;
			}
			.sep {
				background-color:#78c9e1;
				width:256px;
				height: 1px;
				margin:10px auto;
			}
		}
	}

	.border-hover {
		.ttl_1 {
			background:url(../images/border-hover-back--blue.png) no-repeat left top;
			background-size:contain;
		}
	}

	/* inview
	----------------------- */
	.inview {
		top: -41px;
		right: -196px;
		img {
			position: relative;
			top:-20px;
		}
	}
}

.border-area.border-area--green {
	.ttl_area_wrapper {
		&:after {
			background:url(../images/border_ttl_under--green.png) no-repeat center center;
			background-size:100% auto;
			width: 100%;
		}
	}
	.ttl_prefix {
		background: url(../images/border_ttl--green.png) no-repeat center center;
		background-size: 150px auto;
	}
	.border-body {
		.content_area_wrapper {
			background: url(../images/border--green--botom.png) no-repeat center bottom;
			background-size:100% auto;
			.block__inner-1st {
				background-color: #cbeed7;
			}
			.sep {
				background-color:#71c684;
				width:256px;
				height: 1px;
				margin:10px auto;
			}
		}
	}
	.border-hover {
		.ttl_1 {
			background:url(../images/border-hover-back--green.png) no-repeat left top;
			background-size:contain;
		}
	}

	/* inview
	----------------------- */
	.inview {
		top: 320px;
		left: -206px;
		img {
			position: relative;
			top:-20px;
		}
	}
}

/* ===============================================
lower
=============================================== */
.content_area {
	width: 960px;
	margin:0 auto;
}
.lower_header {
	background: url(../images/lower_ttl_back_1.png) repeat-x center center;
	background-size: auto 90px;
	line-height: 90px;
	height:90px;
	text-align: center;
	margin-top: 80px;
	position: relative;
	margin-bottom: -5px;
	z-index:3;
	.ttl {
		line-height: 90px;
		height:90px;
	}
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_outline.png') center center no-repeat;
		background-size: 109px;
		width:109px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
	min-width:1200px;
}
.page_nav {
	@include border-radius(10px);
	border:1px solid #565a55;
	background-color: #fffffd;
	width: 960px;
	height: 54px;
	margin:0 auto 100px;
	ul {
		font-size: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		margin:0 26px;
		a {
			display: block;
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 54px; /* フォント置換による類似 */
			&:after {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(arrow_down);
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
}
.lower_header + .backgrond-color--lightblue {
	padding:80px 0;
	&:before {
		display: none;
	}
}
/* ===============================================
access
=============================================== */
.lower_header--access {
	@extend .lower_header;
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access.png') center center no-repeat;
		background-size: 194px;
		width:194px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
}
.lower_header--access + .backgrond-color--lightblue {
	padding-bottom: 150px;
}
.ttl--about {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_about.png') center center no-repeat;
		background-size: 100px auto;
		width:100px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--access {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access_2.png') center center no-repeat;
		background-size: 95px auto;
		width:95px;
		height: 22px;
		margin:0 auto;
	}
}
.ttl--relation {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_relation.png') center center no-repeat;
		background-size: 174px auto;
		width:174px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--history {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_history.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 23px;
		margin:0 auto;
	}
}

.ttl--media {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_media.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 26px;
		margin:0 auto;
	}
}

.table_wrapper--basic_table.relation,
.table_wrapper--basic_table.media {
	th {
		width: 215px;
		padding-right: 40px;
	}
}
.area--wave_border {
	.table--simple {
		th {
			width: 195px;
			padding-right: 40px;
		}
		td {
			padding-left: 40px;
		}
	}
}
#con5.tab_content {
	margin-bottom: 10px;
}
/* ===============================================
outline
=============================================== */
.content_area--info + .content_area--info {
	margin-top: 120px;
}
.outline--lead {
	@extend .clearfix;
	position: relative;
	.ttl  {
		margin-top: 27px;
	}
	.list-style--leaf {
		margin-top: 40px;
	}
	.col--left {
		float: left;
	}
	.col--left.abs {
		padding-bottom: 43px;
	}
	.col--right {
		float: right;
	}
	.col--right.abs {
		position: absolute;
		left:667px;
		top:30px;
	}
}
.outline--lead--s {
	.col--right {
		img {
			margin-top: 90px;
		}
	}
}

.backgrond-color--lightblue {
	.outline--lead .col--right.abs {
		top: -30px;
	}
}

.page-id-51 {
	.backgrond-color--lightblue {
		.outline--lead .col--right.abs {
			top: 30px;
		}
	}
}

.inview--to_top {
	top: -30px;
	img {
		position: relative;
		top:30px;
	}
}

.backgrond-color--lightgreen--lower {
	.backgrond-color__inner {
		padding-top: 189px;
		padding-bottom: 135px;
	}
}

.backgrond-color--lightblue--lower {
	.backgrond-color__inner {
		padding-top: 92px;
		padding-bottom: 160px;
	}
}

.border-area.border-area--lower {
	& + .border-area--lower {
		margin-top: 170px;
	}
	.border-body {
		.content_area_wrapper {
			.block {
				.block__inner-2nd {
					padding:18px 0;
				}
				.icon {
					background-color: #e0cd2f;
					padding:8px 20px;
					@include border-radius(20px);
					color: #ffffff;
					font-size: 1.4rem; /* フォント置換による類似 */
					font-weight: 700;
					line-height: 1; /* フォント置換による類似 */
					text-align: center;
					display: inline-block;
					margin-top: 13px;
				}

				.below {
					color: #565a55;
					font-weight: 700;
					text-align: justify;
					padding:0 36px;
					.level1 {
						font-size: 1.6rem;
						line-height: 1.9;
						&:before {
							content:'●';
							color:#e4d137;
							margin-right: 5px;
						}
					}
					.level2 {
						font-size: 1.4rem;
						line-height: (24 / 14);
						padding-left: 30px;
					}
					.level3 {
						font-size: 1.4rem;
						line-height: (24 / 14);
						padding-left: 60px;
					}
				}
			}
			.block.block--L {
				width:652px;
				margin-bottom: 50px;
				.block__inner-2nd {
					position: relative;
				}
				.icon {
					position: absolute;
					top:0;
					right:40px;
				}
				.sep {
					width: 602px;
				}
				.below {
					max-width:92%;
					display: inline-block;
				}
			}

			.block.block--S {
				width:280px;
				margin-left: 10px;
				margin-right: 10px;
				.block__inner-2nd {
					position: relative;
				}
				.sep {
					width: 230px;
				}
				.below {
					max-width:230px;
					display: inline-block;
				}
				.level2 {
					font-size: 1.4rem;
					line-height: (24 / 14);
					padding-left: 0;
				}
			}
			.block--M {
				margin-left: 22px;
				margin-right: 22px;
			}
		}
	}
}

.below_added {
	color: #565a55;
	font-weight: 700;
	text-align: justify;
	padding:29px ;
	display:inline-block;
	.level1 {
		font-size: 1.6rem;
		line-height: 1.9;
		&:before {
			content:'● ';
			color:#e4d137;
		}
	}
	.level2 {
		font-size: 1.4rem;
		line-height: (24 / 14);
		padding-left: 30px;
	}
	.level3 {
		font-size: 1.4rem;
		line-height: (24 / 14);
		padding-left: 60px;
	}
}

.border-area.border-area--lower.border-area--green {
	.border-body .content_area_wrapper{
		.block {
			.icon {
				background-color: #71c684;
			}
			.below .level1:before {
				content:'● ';
				color:#71c684;
			}
		}
	}
	.below_added {
		.level1 {
			&:before {
				content:'● ';
				color:#71c684;
			}
		}
	}
}

.border-area.border-area--lower.border-area--blue {
	.border-body .content_area_wrapper{
		.block {
			.icon {
				background-color: #78c9e1;
			}
			.below .level1:before {
				content:'● ';
				color:#78c9e1;
			}
		}
	}
	.below_added {
		.level1 {
			&:before {
				content:'● ';
				color:#78c9e1;
			}
		}
	}
}

.area--normal_border--price {
	padding: 29px 18px;
	.ttl_area {
		@extend .clearfix;
		padding: 0 14px 16px 24px;
		border-bottom: 1px #565a55 solid;
		.ttl {
			float: left;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: (22 / 16);
			text-align: left;
			padding-top: 8px;
		}
		.aside {
			float: right;
			color: #565a55;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (22 / 14); /* フォント置換による類似 */
			text-align: left;
		}
	}
	.info {
		margin-top: 20px;
		.ttl {
			width: 81px;
			float: left;
			text-align: center;
			padding-top: 8px;
		}
		.detail {
			overflow: hidden;
		}
	}
}

.info_detail_wrap + .info_detail_wrap {
	padding-top:30px;
	margin-top: 19px;
	border-top: 1px #565a55 dashed;
}
table.info_detail {
	table-layout:fixed;
	width: 100%;
	th,td {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: 1.5; /* フォント置換による類似 */
		text-align: left;
		padding:6px 0;
	}
	.th1 {
		text-align: center;
	}
}

.backgrond-color--lightblue.blue {
	.area--normal_border--results {
		font-weight: normal;
	}
	.area--normal_border--price {
		.info_detail_wrap+.info_detail_wrap {
			padding-top: 18px;
		}
		table.info_detail {
			table-layout: auto;
		}
		.sub {
			color: #565a55;
			font-size: 1.4rem;
			font-weight: 700;
			line-height: (22 / 14);
			text-align: right;
			padding-right: 12px;
		}
		.th1 {
			width:(240 / 2 ) * 1px;
			text-align: left;
			padding-left: 47px;
			box-sizing: border-box;
		}
		.th2 {
			width:(492 / 2 ) * 1px
		}
		.th3 {
			width:150px;
		}
		.th4 {
			width:149px;
		}
		.th5 {
			width:(178 / 2 ) * 1px;
		}
	}
}


/* inview
----------------------- */
.border-area--yellow.section1 {
	&#con1 {
		.inview--to_bottom {
			top:286px;
			left:-180px;
		}
		.inview-f-1 {
			left:249px;
		}
		.inview-f-2 {
			left:580px;
		}
	}
	&#con2{
		.inview-f-1 {
			left:138px;
		}
		.inview-f-2 {
			left:418px;
		}
		.inview-f-3 {
			left:672px;
		}
	}
	&#con3{
		.inview--to_bottom {
			top:-27px;
			left:895px;
		}
		.inview-f-1 {
			left:259px;
		}
		.inview-f-2 {
			left:623px;
		}
	}
}

/* inview
----------------------- */
.border-area--green.section1 {
	&#con1 {
		.inview--to_bottom {
			top:279px;
			left:859px;
		}
		.inview-f-1 {
			left:176px;
		}
		.inview-f-2 {
			left:497px;
		}
	}
	&#con2{
		.inview--to_bottom {
			top:174px;
			left:-199px;
		}
		.inview-f-1 {
			left:197px;
		}
		.inview-f-2 {
			left:493px;
		}
	}
}

/* inview
----------------------- */
.border-area--blue.section1 {
	.content_area_wrapper {
		padding-bottom: 10px;
	}
	&#con1 {
		.inview--to_bottom {
			top: 238px;
			left: -169px;
		}
		.inview-f-1 {
			left:185px;
		}
		.inview-f-2 {
			left:554px;
		}
		.below {
			max-width: 92%;
		}
	}
	&#con2{
		.inview--to_bottom {
			top: 266px;
			right: -184px;
		}
		.inview-f-1 {
			left:163px;
		}
		.inview-f-2 {
			left:595px;
		}
		.below {
			text-align: center;
			padding:0 12px;
			max-width:100%;
			.level1 {
				max-width: 58%;
				text-align: left;
				margin: 0 auto;
			}
			.level3 {
				padding-left: 0;
				font-size: 1.2rem;
				font-weight: 500;
				line-height: (20 / 12);
				text-align: center;
				letter-spacing: 0;
				margin-top: 8px;
			}
		}
	}
}

/* title
----------------------- */
.ttl--price {
	@include text_indent_none();
	background:transparent url('../images/ttl_price.png') center center no-repeat;
	background-size: 147px auto;
	width:147px;
	height: 26px;
	margin:0 auto;
}

.ttl--flow {
	@include text_indent_none();
	background:transparent url('../images/ttl_flow.png') center center no-repeat;
	background-size: 174px auto;
	width:174px;
	height: 23px;
	margin:0 auto;
}

.ttl--results {
	@include text_indent_none();
	background:transparent url('../images/ttl_results.png') center center no-repeat;
	background-size: 99px auto;
	width:99px;
	height: 23px;
	margin:0 auto;
}

.area--normal_border--flow {
	font-size: 1.8rem; /* フォント置換による類似 */
	font-weight: 700;
	line-height: (24 / 18); /* フォント置換による類似 */
	text-align: center;
	position: relative;
	.icon {
		position: absolute;
		color: #fff;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		text-align: left;
		top:-20px;
		right: 20px;

		background-color: #565a55;
		@include border-radius(30px);
		padding:11px 21px;
	}
}
.area--normal_border--results {
	@extend .area--normal_border--flow;
	font-size: 1.6rem;
	text-align: left;
	font-weight: 500;
	line-height: (24 / 16);
}

.area--normal_border--map {
	padding:0;
	.inner {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.left,.right {
		width: 50%;
		display: table-cell;
		vertical-align:middle;
		iframe {
			width: 100%;
			display: block;
			@include border-radius(10px);
		}
	}
	.left {
		padding-top: 10px;
		padding-left:18px;
	}
	.ttl {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: (22 / 16);
		text-align: left;
		padding-left: 32px;
		padding-bottom: 12px;
		border-bottom: 1px #565a55 dashed ;
	}
	.txt {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: (28 / 16);
		text-align: left;
		padding-left: 32px;
		margin-top: 10px;
	}
	p.bold {
		font-weight: 700;
		line-height: 2;
	}
}

//profile
.guide_prof {
	width:881px;
	margin:108px auto 0;
	& >.inner {
		display:table;
		width: 100%;
	}
	.img {
		display: table-cell;
		vertical-align: middle;
	}
	.txtarea {
		display: table-cell;
		vertical-align: middle;
		.inner {
			background:url(../images/prof_back.png) no-repeat left top;
			width: 570px;
			height: 159px;
			background-size: 570px auto;
			box-sizing: border-box;
			padding:29px 42px 31px 69px;
			margin-top: 25px;
			margin-left: 27px;
		}
		.ttl {
			font-size: 1.6rem;
			font-weight: 700;
			line-height: (20 / 16);
			text-align: left;
		}
		.txt {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: (24 / 14);
			text-align: left;
			margin-top: 12px;
		}
	}
}


/* ===============================================
.content_area--contact
=============================================== */
.caution {
	border-radius: 10px;
	border-width: 1px;
	border-color: #16b5a7;
	border-style: solid;
	background-color: #fffffd;
	display: block;
	width: 620px;
	height: 53px;
	color: #14b4a6;
	font-size: 2.0rem; /* フォント置換による類似 */
	font-weight: 700;
	line-height: 53px; /* フォント置換による類似 */
	text-align: center;
	margin-bottom: 100px;

}
.content_area--contact {
	width: 620px;
	margin:0 auto;
}
.basic_form {
	.form_group {
		display:table;
		width: 100%;
		.ttl {
			display: table-cell;
			vertical-align: middle;
		}
		.input {
			display: table-cell;
			vertical-align: middle;
			width: 422px;
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				height: 34px;
				line-height: 34px;
				width: 100%;
				padding-left: 4px;
				padding-right: 4px;
				box-sizing: border-box;
			}
			textarea {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				width: 100%;
				height: 128px;
				box-sizing: border-box;
			}
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 60px;
	}

	.select_wrapper {
		position: relative;
		width: 100%;
		&:after {
			content: "";
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/icon_select.png) no-repeat left top;
			background-size: 34px auto;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 4;
		}
	}

	.select_wrapper > select {
		height: 102%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 105%;
		z-index: 5;
	}

	.submit_wrap {
		margin-top: 60px;
	}

	.wpcf7-form-control-wrap.zip {
		display:inline-block;
		margin-left: 10px;
		width:8em;
	}

	.captcha {
		margin-top: 70px;
		text-align:center;
		.wpcf7-form-control-wrap {
			display:inline-block;
		}
	}

	.submit_btn {
		border-radius: 5px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #ffc664;
		width: 100%;
		height: 58px;
		line-height: 58px;
		cursor:pointer;
		&:hover {
			background-color: #ffe1ac;
		}
	}
}

.lower_header--contact {
	@extend .lower_header;
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_contact.png') center center no-repeat;
		background-size: 165px;
		width:165px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
}

/* ===============================================
concept
=============================================== */
.lower_header--concept {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_concept.png');
		display: inline-block;
	}
}

.lower_header--concept_2 {
	text-align: center;
	span {
		@include background_wh('../images/ttl_concept_2.png');
		display: inline-block;
	}
}

.lower_header--concept_3 {
	text-align: center;
	span {
		@include background_wh('../images/ttl_concept_3.png');
		display: inline-block;
	}
}

//ttl_concept_3.png

.concept {
	.mv{
		position: absolute;
		right:0;
		top:-91px;
		width:auto;
		width: 665px;
		height: auto;
		z-index:1;
	}
	.content_area {
		width: 989px;
	}
	.subttl {
		@include hira_mincho();
		font-weight:bold;
		font-size: 2.6rem;
		text-align: center;
		background:url(../images/bg_concept_2.png) no-repeat left top;
		background-size: 865px auto;
		width: 865px;
		height: 53px;
		line-height: 53px;
		margin-top: 42px;
		position: relative;
		z-index:4;
	}
	.txt {
		@include hira_mincho();
		color: #565a55;
		font-size: 1.8rem;
		line-height: (48 / 18);
		text-align: left;
		margin-top: 66px;
		padding-left: 16px;
		position: relative;
		z-index:11;
	}

	.backgrond-color--lightgreen {
		padding-top: 119px;
		padding-bottom: 135px;
		section > .ttl {
			text-align: center;
		}
		.txtarea {
			background:url(../images/bg_concept_1.png) no-repeat center top;
			width: 802px;
			height: 369px;
			background-size:802px auto;
			margin:100px auto 0;
			padding:45px 135px 0;
			box-sizing: border-box;
			& > .ttl {
				text-align: center;
				color: #acc756;
				font-size: 2.2rem;
				font-weight: 700;
				line-height: (34 / 22);
				text-align: center;
				transform: scaleX(1.0054);
				background:url(../images/bg_concept_3.png) repeat-x left bottom;
				background-size: auto 3px;
				width: 100%;
				padding-bottom: 12px;
				margin-bottom: 25px;
			}
			p {
				font-size: 1.6rem;
				font-weight: 500;
				line-height: (28 / 16);
				text-align: left;
			}
			.list-style--leaf {
				padding-top: 26px;
				margin-bottom: 35px;
			}
		}
		.msg {
			margin-top: 100px;
			text-align: center;
		}
	}
}

.navigation {
	padding-top: 106px;
	padding-bottom: 164px;
	.lower_header--concept_2 {
		margin-bottom: 30px;
	}
	.lower_header--concept_3 {
		margin-bottom: 6px;
	}
	.btns {
		ul {
			text-align: center;
			font-size: 0;
			li {
				display: inline-block;
				margin-left: 30px;
				margin-right: 30px;
				a {
					display: block;
					@include opacity--anim(0.5);
				}
			}
		}
	}
	section + section {
		margin-top: 120px;
		p {
			text-align: center;
		}
		a:hover {
			@include opacity(1);
		}
	}
}

/* ===============================================
卒業生
=============================================== */
.lower_header--graduate {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_graduate.png');
		display: inline-block;
	}
}
.graduate {
	.backgrond-color--lightblue.lead {
		padding-bottom: 150px;
		.content_area {
			position: relative;
		}
		h2 {
			margin-top: 6px;
			margin-bottom: 78px;
		}
		h2,p {
			position: relative;
			z-index:2;
		}
		.img {
			position: absolute;
			top:20px;
			right:0;
			z-index:1;
		}
	}
	.backgrond-color--lightgreen {
		padding-top: 170px;
		padding-bottom: 125px;
	}
	.step {
		width: 721px;
		height: 364px;
		background: url(../images/gr_img_4.png) no-repeat center top;
		background-size: 721px auto;
		position:relative;
		margin:0 auto;
		padding-top: 62px;
		box-sizing: border-box;
		.ttl {
			position: absolute;
			top:-32px;
			left: 60px;
		}
		.content {
			@extend .clearfix;
			width: 565px;
			margin:0 auto;
			.img {
				float: left;
				padding-right: 68px;
			}
			.txt {
				overflow: hidden;
				font-size: 1.4rem;
				font-weight: 500;
				line-height: 2.0;
				padding-top: 12px;
				h3 {
					font-weight: 700;
				}
			}
		}
		.content + .content {
			margin-top: 38px;
		}
	}

	.interview {
		width:718px;
		margin:68px auto 0;
		.txt + .txt {
			margin-top: 43px;
		}
		.green{
			color: #85bfbb;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: (32 / 16);
			text-align: justify;
			p:before {
				content:"";
				background-color: #85bfbb;
				width: 42px;
				height: 1px;
				display:inline-block;
				vertical-align: 5px;
				margin-right: 7px;
			}
		}
		.black {
			font-size: 1.6rem;
			line-height: (32 / 16);
			text-align: justify;
			font-weight: 500;
			.head {
				font-weight: 700;
				display: inline-block;
				margin-right: 4px;
			}
		}
		.img {
			text-align: center;
			margin-top: 74px;
			margin-bottom: 71px;
		}
	}
}

.blank {
	color: #2b978d;
	&:after {
		content:"";
		@include text_indent_none();
		@include sprite_background_retina(icon_blank);
		display: inline-block;
		margin-left: 10px;
	}
}
/* ===============================================
teacher
=============================================== */
.lower_header--teacher {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_teacher.png');
		display: inline-block;
	}
}
.t_data_wrapper {
	width:950px;
	margin:0 auto;
	overflow:hidden;
	@extend .clearfix;
	& > .inner {
		margin-right: -85px;
	}
	margin-bottom: -100px;
}
.card--teacher {
	width: 260px;
	margin:0 85px 0 0;
	float: left;
	margin-bottom: 100px;
	.img {
		position: relative;
	}
	.btn {
		position: absolute;
		right:13px;
		bottom:-20px;
		@include text_indent_none();
		@include sprite_background_retina(btn_msg_off);
		&:hover {
			@include text_indent_none();
			@include sprite_background_retina(btn_msg_on);
			@include opacity(1);
		}
	}
	.content {
		position: relative;
		&.odd {
			&:before {
				content:'';
				position: absolute;
				@include background_wh('../images/img_branch_1.png');
				top: -31px;
				left: 18px;
			}
		}
		&.even {
			&:before {
				content:'';
				position: absolute;
				@include background_wh('../images/img_branch_2.png');
				top: -31px;
				left: 27px;
			}
		}
		border-top: 3px solid #494c44;
		background:#fff;
		padding:11px 15px;
		margin-top: 52px;
		.ttl {
			padding-left: 6px;
			padding-right: 6px;
		}
		.sub {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: (26 / 14);
			text-align: left;
			display: block;
		}
		.main {
			font-size: 2.0rem;
			font-weight: 700;
			line-height: (26 / 20);
			text-align: left;
			display: block;
			margin-top: 2px;
		}
		.top,
		.other1,
		.other2 {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: (24 / 14);
			text-align: left;
			padding-left: 6px;
			padding-right: 6px;
		}
		.top {
			margin-bottom: 24px;
			margin-top: 21px;
			display: table;
			table-layout: fixed;
			.th {
				display: table-cell;
				width: 50px;
			}
			.td {
				display: table-cell;
			}
		}
		.other1 {
			border-bottom: 1px solid #dcdedb;
			padding-bottom:12px;
			margin-bottom: 10px;
		}
	}
}
/* ===============================================
colorbox
=============================================== */
#colorbox {
	@include opacity(0);
}
#cboxOverlay {
	background-image:none;
	background-color:#fff;
}
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxTitle,
#cboxCurrent,
#cboxPrevious,
#cboxNext {
	display: none!important;
}

#cboxClose {
	@include background_wh('../images/btn_cbox_close.png');
	@include opacity--anim(0.5);
	top:22px;
	right:22px;
	&:hover {
		@include background_wh('../images/btn_cbox_close.png');
	}
}

#colorbox.open {
	#cboxContent {
	width: 100% !important;
	// height: 100% !important;
	background:transparent;
	@include border-radius(10px);
	#cboxLoadedContent {
			width: 100% !important;
			height: 100% !important;
			margin-bottom: 0!important;
		}
	}
	#cboxContent {

		.inner {
			box-sizing:border-box;
			@include clearfix;
			background-color: #ffffff;
		}
	}
}
.colorBoxTarget {
	padding:53px 80px;
	box-sizing: border-box;
	border-width: 2px;
	border-color: #494c44;
	border-style: solid;
	background-color: #fffffd;
	border-radius: 10px;
	.header {
		display: table;
		width: 100%;
	}
	.img,.info {
		display: table-cell;
		vertical-align: middle;
		width:50%;
		text-align: center;
		img {
			max-width:204px;
			margin: 7px 0 0 17px;
		}
	}
	.msg {
		margin-top: 29px;
	}
	.sub {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: (26 / 14);
		display: block;
		margin-top: 20px;
	}
	.main {
		display: block;
		font-size: 2.0rem;
		font-weight: 700;
		line-height: (26 / 20);
	}
}
.c_open {
	.gnav {
		z-index:3;
	}
}


/* ===============================================
tab_content
=============================================== */
%more {
	text-align: right;
	position: absolute;
	top: 0;
	right: 7px;
	a {
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height:2; /* フォント置換による類似 */
		border-bottom: 1px #565a55 dashed;
		display: inline-block;
	}
}
.tab_content {
	position: relative;
	& + .tab_content {
		margin-top: 120px;
	}

	.more {
		@extend %more;
	}
}
/* **************************************************
Modules
************************************************** */
@include modules;


/* ===============================================
ie fix
=============================================== */
body.ie,
body.edge {
	.lower_header {
		.ttl span {
			vertical-align:-5px;
		}
	}
	.gnav > ul > li a {
		padding-top:3px;
	}
	.gnav > ul > li.fb a {
		padding-top:0;
	}
	.gnav > ul > li ul.child a {
		padding-top:0;
	}
	.mv .lead2 p {
		padding-bottom: 2px;
	}
	.list-style--leaf li span:before {
		vertical-align: -9px;
	}
	.list-style--leaf li span {
		padding-bottom: 0;
	}
	.linetext--yellow--wavy, .linetext--green--wavy,, .linetext--blue--wavy {
		padding-bottom: 7px;
	}
	.caution {
		line-height: 59px;
	}

	.border-area.border-area--lower .border-body .content_area_wrapper .block .icon {
		padding-top:11px;
	}
	.border-area.border-area--lower .border-body .content_area_wrapper .block.block--L .icon {
		top:-5px;
	}

	.concept .backgrond-color--lightgreen .txtarea {
		padding: 45px 124px 0;
	}

	.concept .backgrond-color--lightgreen .txtarea>.ttl {
		padding-bottom: 10px;
	}
}

body.ie {
	.linetext--yellow--wavy, .linetext--green--wavy, .linetext--blue--wavy {
		padding-bottom: 0;
	}
	.list-style--leaf li span {
		display:inline-block;
		line-height:1;
	}

	.list-style--leaf li span:before {
		vertical-align: middle;
	}

	.icon--yellow_back,.icon--green_back,.icon--blue_back {
		line-height:49px;
	}
	.concept .backgrond-color--lightgreen .txtarea>.ttl {
		padding-bottom: 4px;
	}
	.concept .subttl {
		line-height: 62px;
	}
	.concept .txt {
		margin-top: 75px;
	}
}
