.pc {
	display: none;
}
.sp {
	display: block;
}
$base_minwidth:100%;
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}
body {
	-webkit-text-size-adjust: none;
	//overflow-x: hidden;
	min-width: 320px;
}
body,div,p,h1,h2,h3,h4,h5,li,a,ul,li,dl,dt,dd,#wrap,header,footer,article,section,aside{
	box-sizing:border-box;
}

.backgrond-color--beige,
.backgrond-color--lightblue,
.backgrond-color__inner,
.backgrond-color--lightgreen,
#wrap {
	min-width:$base_minwidth;
}
/* ===============================================
tab
=============================================== */
.tab_content {
	display: none;
	.more {
		text-align: center;
		position: static;
		margin-top: 20px;
		a {
			font-size: 1.3rem; /* フォント置換による類似 */
		}
	}
}
.tab_content.tab_content--first {
	display: block;
}
.tab_content+.tab_content {
	margin-top: 0;
}
/* ===============================================
table
=============================================== */
.table_wrapper--basic_table {
	table {
		display: block;
		width:100%;
	}
	th,td {
		display: list-item;
		list-style-type: none;
		width:100%;
		box-sizing: border-box;
		padding:15px 20px;
	}
	td {
		border-left: none;
		border-bottom: 1px solid #565a55;
		border-top: none;
	}
	th {
		border-bottom: 1px dashed #565a55;
		border-top: none;
	}
	.inner_table {
		line-height: 1.5;
		display: block;
		.row {
			display: block;
		}
		.col {
			display: block;

			img {
				display: block;
				margin-top: 10px;
				padding-left: 1em;
			}
		}
		.row + .row {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #565a55;
			.col {
				padding-top: 0;
			}
		}
	}
	tr:last-child {
		td {
			border-bottom: none;
		}
	}
}
.table--simple {
	display: block;

	th,td {
		display: list-item;
		list-style-type: none;
		width:100%;
		box-sizing: border-box;
		padding:8px 10px;
	}
	tr:first-child {
		td {
			border-top: 1px solid #dcdcdc;
		}

	}

}
/* ===============================================
area
=============================================== */
.area--normal_border {
	padding:20px;
	.col--left , .col--right {
		float: none;
		.map iframe {
			max-width:100%;
		}
	}
	.col--right {
		margin-top: 25px;
	}
}
.area--wave_border {
	background: #fff;
	position: relative;
	padding:20;
	margin-top: 30px;
	padding:20px;
}
/* ===============================================
text
=============================================== */
.linetext--yellow--wavy {
	font-size: 2.0rem;
}

.linetext--green--wavy {
	font-size: 2.0rem;
}

.list-style--leaf {
	li {
		font-size: 1.5rem; /* フォント置換による類似 */
		text-align: left;
		display: block;
		& + li {
			margin-top: 15px;
		}
		span {
			border-bottom: 2px solid #acc756;
			padding-bottom: 2px;
			line-height: 1.9;
		}
	}
}

.outline--lead--s {
	.col--right {
		img {
			margin-top: 40px;
		}
	}
}
/* ===============================================
header
=============================================== */
.main_header {
	padding-top: 55px;
	z-index: 1;
	.tel {
		position:static;
		margin: 25px auto 0;
		@include border-radius(4px);
	}
	.logo {
		@include text_indent_none();
		@include sprite_background_retina(logo_tankyu--sp);
	}
}
.leaf1 {
	left: -20px;
	top: -4px;
	img {
		width:100px;
		height: auto;
	}
}
.leaf2 {
	left: 40px;
	top: -20px;
	img {
		width:70px;
		height: auto;
	}
}

.gnav {
	display:none;
}
/* ===============================================
spnav
=============================================== */
#spnavi {
	overflow: hidden;
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 10001;
	top: 133px;
	left:0;
	display:none;
}
.btn_sp_navi,.btn_sp_navi_wrap {
	display: inline-block;
}
.btn_sp_navi_wrap {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	z-index: 3;
	a {
		text-decoration: none;
		&:hover {
			@include opacity(1);
		}
	}
	.fa-bars {
		display: inline-block;
		font-size: 38px;
		color: #14B4A6;
	}
}

.btn_sp_navi {
	display: inline-block;
	@include transition(all .4s);
	box-sizing: border-box;
	span.bar {
		display: inline-block;
		@include transition(all .4s);
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #14b4a6;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 15px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}
	position: relative;
	width: 40px;
	height: 35px;
	.text {
		margin-bottom: -10px;
		font-size: 13px;
		position: absolute;
		left: 0;
		bottom: -13px;
		color:  #14b4a6;
	}
}

.btn_sp_navi.active span.bar {
	&:nth-of-type(1) {
		@include transform(translateY(15px) rotate(-45deg));
	}
	&:nth-of-type(2) {
		opacity: 0;
	}
	&:nth-of-type(3) {
		@include transform(translateY(-15px) rotate(45deg));
	}
}
#scroller {
	padding-bottom: 80px;

	& > ul > li  {
		& > a {
			font-weight: 700;
		}
		&:before {
			content:'';
			display: block;
			background: #fff url('../images/sep--spnav.png') 0 0 repeat-x;
			background-size: contain;
			width: 100%;
			height: 7px;
		}
	}
	li a {
		font-size:1.7rem;
		display:block;
		padding:15px;
	}
	.child {
		padding-left: 20px;
		margin-top: -10px;
		li a{
			font-size: 1.6rem;
			padding:10px;
		}
	}
}
/* ===============================================
footer
=============================================== */
#footer {
	min-width:100%;
}
.footer_img {
	min-width:100%;
	height:260px;
	canvas {
		min-width:100%;
	}
	.btns {
		position: absolute;
		right:0;
		top:-38px;
		width: 100%;
		.inner {
			width: 100%;
			text-align: center;
		}
	}
}
.footer_info {
	margin-top: 26px;
	.inner {
		width: 100%;
		padding-bottom: 30px;
	}
	.col1 {
		width: 100%;
		float:none;
		margin-top: 25px;
	}
	.col2 {
		width: 100%;
		float:none;
		margin-top: 25px;
		margin-right: 0;
	}
	.col3 {
		width: 100%;
		float: none;
		iframe {
			max-width: 100%;
			height: auto;
			border: none!important;
		}
	}
	.logo {
		a {
			margin:0 auto;
		}
	}
	.footer_nav , .meta , .sns {
		font-size: 1.3rem; /* フォント置換による類似 */
	}
	.meta , .sns {
		margin-top: -1px;
	}

}
/* ===============================================
mv
=============================================== */
.mv {
	width: 100%;
	margin:80px auto 0;
	.slide {
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
		.lead {
			right: 0;
			left:0;
			top:-60px;
			margin:auto;
			width:230px;
			img {
				width:100%;
				height: auto;
			}
		}
	}
	.lead2 {
		font-size: 1.4rem; /* フォント置換による類似 */
		margin-bottom: 40px;
		margin-top: 20px;
		padding:0 20px;
		p {
			line-height: 2.5;
			padding-bottom: 6px;
		}
	}
}
.bx-wrapper {
	.bx-controls-direction {
		.bx-prev {
			left: 0;
		}
		.bx-next {
			right: 0;
		}
	}
}

.date {
	position: relative;
	z-index:10001;
	margin:0 auto 40px;
	top:0;
	left:auto;
}
/* ===============================================
Top about
=============================================== */
.top_about {
	display: block;
	width: 100%;
	font-size: 0;
	text-align: center;
	padding:40px 0;
	.col {
		display: block;
		margin-left: 0;
		margin-right: 0;
		img {
			max-width:86%;
			height: auto;
		}
		& + .col {
			margin-top: 25px;
		}
	}
}
/* ===============================================
Top outline
=============================================== */
.top_outlne {
	padding:40px 0 70px;
}
/* ===============================================
border_area
=============================================== */
.border-area + .border-area {
	margin-top: 30px;
}
.border_header {
	width: 100%;
	// position:absolute;
	left:0;
	right:0;
	top:0;
	margn:auto;
	z-index: 1;
	img {
		width:100%;
		height:auto;
	}
	img.sp {
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		margin-left: -1px;
	}
	margin:0 auto;
}
.border-body {
	margin-top: -15px;
	position:relative;
	z-index:2;
}
.border-area {
	width: 96%;
	cursor:pointer;
	position: relative;
	margin: 0 auto;
	/* header
	----------------------- */
	.ttl_area_wrapper {
		position: relative;
		width:96%;
		margin:0 auto;
		z-index:2;
		&:after {
			display:none;
		}
	}
	.ttl_area {
		display:block;
		width:100%;
		height: auto;
	}
	.ttl_text,.ttl_prefix {
		display:block;
		vertical-align:middle
	}
	.ttl_prefix {
		width:100%;
		height:auto;
		padding:10px 0;
		background: none;
		.inner {
			color: #E0CD2F;
			font-size: 1.8rem;
		}
	}
	.ttl_text {
		padding:0 10px;
		.ttl {
			font-size: 1.6rem;
			line-height: 1.6;
		}
		.lead {
			margin-top: 15px;
			font-size: 1.3rem;
		}
	}

	.border-body {
		margin: 0 auto;
		.ttl_area {
			.ttl_prefix {
				display:none;
			}
		}
	}
	.border-body_inner {
		background: url(../images/border--yellow--botom--sp.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.sep-sp.sp {
		height:14px;
		width: 98%;
		margin:0 auto 20px;
		background:url(../images/border_ttl_under--yellow.png) repeat-x center center;
		background-size:contain;
	}

	.content_area_wrapper {
		background: none;
		padding: 15px 0 45px;
		.row + .row {
			margin-top: 0;
		}
		.block {
			margin-top: 20px;
			width: 275px;
			height: auto;
			.above {
				font-size: 1.6rem;
			}
			.below {
				font-size: 1.4rem;
			}
		}
	}

	/* inview
	----------------------- */
	.inview {
		top:-20px;
		right:0;
		width: 90px;
		z-index:10;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
.border-area.border-area--blue {
	.ttl_prefix {
		background: none;
		.inner {
			color: #7DCBE1;
		}
	}
	.border-body_inner {
		background: url(../images/border--blue--botom--sp.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.sep-sp.sp {
		background:url(../images/border_ttl_under--blue.png) repeat-x center center;
		background-size:contain;
	}

	.border-body {
		.content_area_wrapper {
			background: none;
		}
	}
	/* inview
	----------------------- */
	.inview {
		top:-20px;
		right:0;
		width: 90px;
		z-index:10;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

.border-area.border-area--green {
	.ttl_prefix {
		background: none;
		.inner {
			color: #71c684;
		}
	}
	.border-body_inner {
		background: url(../images/border--green--botom--sp.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.sep-sp.sp {
		background:url(../images/border_ttl_under--green.png) repeat-x center center;
		background-size:contain;
	}

	.border-body {
		.content_area_wrapper {
			background: none;
		}
	}

	/* inview
	----------------------- */
	.inview {
		top:-20px;
		right:0;
		left:auto;
		width: 90px;
		z-index:10;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}

/* ===============================================
lower
=============================================== */
.content_area {
	width:86%;
	margin:0 auto;
}
.lower_header {
	margin-top: 40px;
	min-width:auto;
}
.lower_header + .backgrond-color--lightblue {
	padding:40px 0;
	&:before {
		display: none;
	}
}
.page_nav {
	width: 100%;
	height: auto;
	margin:0 auto 40px;
	li {
		display: inline-block;
		width:48%;
		margin:0 0;
		a {
			display: block;
			font-size: 1.4rem; /* フォント置換による類似 */
			height: auto;
		}
	}
}
.backgrond-color--lightgreen--lower {
	.backgrond-color__inner {
		padding-top: 80px;
		padding-bottom: 40px;
	}
}

.backgrond-color--lightblue--lower {
	.backgrond-color__inner {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}

/* inview
----------------------- */
.inview--to_top {
	top:-30px;
	img {
		max-width:180px;
		height: auto;
	}
}
.inview--to_top.inview-f-1 {
	left:0!important;
	right:0!important;
	margin:auto;
	width:180px;
}

.inview--to_top.inview-f-2 {
	left: 110px!important;
}

.inview--to_top.inview-f-3 {
	left: 212px!important;
}

.border-area--blue.section1 {
	.content_area_wrapper {
		padding-bottom: 40px;
	}
	&#con1 {
		.below {
			max-width: 100%;
		}
	}
	&#con2{
		.below {
			padding-left: 36px;
			padding-right: 36px;
			.level1 {
				max-width: 100%;
				text-align: left;
				margin: 0 auto;
			}
		}
	}
}

//profile
.guide_prof {
	width:86%;
	margin:40px auto 0;
	& >.inner {
		display:block;
		width: 100%;
	}
	.img {
		display: block;
		text-align: center;
	}
	.txtarea {
		display: block;
		padding:20px;
		margin-top: 25px;
		margin-left: 0;
		border:1px dashed #78c9e1;
		background:#fff;
		@include border-radius(10px);
		.inner {
			background:none;
			width: 100%;
			height: auto;
			padding:0;
			margin:0;
		}
	}
}
/* ===============================================
access
=============================================== */
.lower_header--access + .backgrond-color--lightblue {
	padding-bottom: 90px;
}
/* ===============================================
outline
=============================================== */
.outline--lead {
	.ttl  {
		margin-top: 18px;
	}
	.list-style--leaf {
		margin-top: 30px;
	}
	.col--left {
		float: none;
	}
	.col--right {
		float: none;
		text-align: center;
	}
	.col--left.abs {
		padding-bottom: 0;
	}

	.col--right.abs {
		position: static!important;
	}
}


.border-area.border-area--lower {
	.border-body {
		.content_area_wrapper {
			.block {
				width:86%;
				.icon {
					font-size: 1.3rem;
				}
				.block__inner-2nd {
					padding:18px 0;
				}
				.below {
					padding:0 36px;
					.level2 {
						padding-left: 0;
					}
					.level3 {
						padding-left: 0;
					}
				}
			}
			.block.block--L {
				width:86%;
				margin-bottom: 0;
				.block__inner-2nd {
					position: relative;
				}
				.icon {
					position: static;
				}
				.sep {
					width: 100%;
				}
				.below {
					max-width:100%;
				}
			}

			.block.block--S {
				width:86%;
				.block__inner-2nd {
					position: relative;
				}
				.sep {
					width:100%;
				}
				.below {
					max-width:100%;
					display: inline-block;
				}
				.level2 {
					font-size: 1.4rem;
					line-height: (24 / 14);
					padding-left: 0;
				}
			}
		}
	}
}


.below_added {
	padding:20px ;

	.level2,.level3 {
		padding:0;
	}
}


.area--normal_border--price {
	padding-left: 10px;
	padding-right: 10px;
	.ttl_area {
		padding:0 10px 20px;
		.ttl {
			float: none;
			padding-top: 0;
			text-align: center;
		}
		.aside {
			float: none;
			margin-top: 8px;
			text-align: center;
		}
	}
	.info {
		padding-top: 30px;
		margin-top: 0;
		.ttl {
			width: 100%;
			float: none;
			text-align: center;
		}
		.detail {
			overflow: hidden;
		}
	}
	.info_detail_wrap+.info_detail_wrap {
		border-top: none;
		margin-top: 0;
	}
	table.info_detail {
		.th1 {
			text-align: left;
			padding-left: 5px;
			width: 100%;
		}
		tr + tr {
			margin-top: 20px;
		}
	}
}

.backgrond-color--lightblue.blue {
	.area--normal_border--results {
		font-weight: normal;
	}
	.area--normal_border--price {
		.info_detail_wrap+.info_detail_wrap {
			padding-top: 18px;
		}
		table.info_detail {
			table-layout: auto;
		}
		.sub {
			text-align: left;
		}
		.th1 {
			text-align: left;
			padding-left: 5px;
			width: 100%;
		}
		.th2,
		.th3,
		.th4,
		.th5 {
			width: 100%;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		.empty {
			display: none;
		}
	}
}

.area--normal_border--map {
	padding:0;
	.inner {
		display: block;
	}
	.left,.right {
		width: 100%;
		display: block;
		iframe {
			height: 200px;
			display: block;
			@include border-radius(0 0 10px 10px / 0 0 10px 10px);
		}
	}
	.left {
		padding-top: 20px;
		padding-left:0;
		margin-bottom: 25px;
	}
	.ttl {
		padding-left: 0;
		text-align: center;
	}
	.txt {
		padding-left: 20px;
		padding-right: 20px;
	}
}

table.info_detail {
	width: 100%;
	margin-top: 15px;
	& + table {
		border-top: none;
	}
	tr {
		width: 100%;
		display: block;
	}
	th,td {
		display:list-item;
		list-style-type:none;
		width: 100%;
		text-align: center;
	}
	.th1 {
		border-bottom: 1px solid #565a55;
		text-align: center;
		font-weight: bold;
	}
	.th2 {
		padding-top: 15px;
		border-bottom: 1px dashed #565a55;
		margin-bottom: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
	}
	.th1-none {
		display: none;
	}
}

table.info_detail + table.info_detail {
	margin-top: 20px;
}

.area--normal_border--flow {
	font-size: 1.6rem; /* フォント置換による類似 */
	font-weight: 700;
	.icon {
		position: static;
		color: #fff;
		font-size: 1.6rem; /* フォント置換による類似 */
		display: inline-block;
		margin-bottom: 20px;
	}
}

.table_wrapper--basic_table.relation th, .table_wrapper--basic_table.media th {
	padding-right: 0;
	width: 100%;
}


/* ===============================================
outline
=============================================== */
.border-area.border-area--lower+.border-area--lower {
	margin-top: 80px;
}
.content_area--info+.content_area--info {
	margin-top: 40px;
}

.area--wave_border .table--simple {
	th {
		width: 100%;
		text-align:center;
		padding-right: 0;
	}
	td {
		padding-left: 10px;
	}
}

/* ===============================================
.content_area--contact
=============================================== */
.caution {
	display: block;
	width: 100%;
	color: #14b4a6;
	font-size: 1.8rem; /* フォント置換による類似 */
	line-height: 1.8;
	height:auto;
	padding:10px 0;
	margin-bottom: 30px;
}
.content_area--contact {
	width: 86%;
	margin:0 auto;
}
.basic_form {
	.form_group {
		display:block;
		width: 100%;
		.ttl {
			display: block;
			vertical-align: middle;
			font-weight: 700;
			margin-bottom: 8px;
		}
		.input {
			display: block;
			vertical-align: middle;
			width: 100%;
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 30px;
	}
	.captcha {
		margin-top: 30px;
	}

}

/* ===============================================
concept
=============================================== */
.concept {
	.mv{
		position: absolute;
		right:0;
		top:-91px;
		width:auto;
		width: 220px;
	}
	.content_area {
		width: 100%;
	}
	.subttl {
		font-size: 2.0rem;
		text-align: left;
		background-image:none;
		width: 92%;
		height: auto;
		line-height: 1.6;
		margin:30px auto 0;
		position: relative;
		background-color:#fff;
		@include border-radius(10px);
		padding:15px 20px;
		box-sizing: border-box;
	}
	.txt {
		font-size: 1.6rem;
		text-align: left;
		padding-left: 0;
		width: 92%;
		margin:25px auto 0;
		line-height: 1.8;
	}

	.backgrond-color--lightgreen {
		padding-top: 40px;
		padding-bottom: 40px;
		img {
			max-width:92%;
			height:auto;
		}
		.txtarea {
			background:none;
			border:5px solid #aec75b;
			background-color:#fff;
			@include border-radius(10px);
			width: 92%;
			height: auto;
			margin:40px auto 0;
			padding:20px;
			& > .ttl {
				font-size: 2.0rem;
				width: 100%;
				padding-bottom: 12px;
				margin-bottom: 20px;
			}
			p {
				font-size: 1.5rem;
			}
			.list-style--leaf {
				padding-top: 20px;
				margin-bottom: 25px;
			}
		}
		.msg {
			margin-top: 40px;
		}
	}
}
.navigation {
	padding-top: 40px;
	padding-bottom: 80px;
	.lower_header--concept_2 {
		margin-bottom: 20px;
	}
	.lower_header--concept_3 {
		margin-bottom: 6px;
	}
	.btns {
		ul {
			text-align: center;
			font-size: 0;
			li {
				display: block;
				margin:0 auto;
				width: 92%;
				& + li {
					margin-top: 20px;
				}
			}
		}
	}
	section + section {
		margin-top: 40px;
		img {
			max-width:92%;
			height: auto;
		}
	}
}
/* ===============================================
graduate
=============================================== */
.graduate {
	.backgrond-color--lightblue.lead {
		padding-bottom: 40px;
		.content_area {
			position: relative;
		}
		h2 {
			margin-top: 6px;
			margin-bottom: 30px;
			text-align: center;
		}
		h2,p {
			position: relative;
			z-index:2;
			text-align: center;
		}
		img {
			max-width:100%;
			height:auto;
		}
		.img {
			position: static;
			img {
				margin:25px auto 0;
				display: block;
			}
		}
	}
	.backgrond-color--lightgreen {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.step {
		width: 92%;
		height: auto;
		background: none;
		background-color: #fff;
		position:relative;
		margin:0 auto;
		padding: 62px 30px 30px;
		box-sizing: border-box;
		@include border-radius(10px);
		border:2px dashed #9fdcd8;
		box-sizing: border-box;
		.ttl {
			position: absolute;
			top:-32px;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
		}
		.content {
			width: 100%;
			.img {
				float: none;
				padding-right: 0;
				text-align: center;
			}
			.txt {
				padding-top: 20px;
			}
		}
		.content + .content {
			margin-top: 30px;
		}
	}

	.interview {
		width: 88%;
		margin:30px auto 0;
		.txt + .txt {
			margin-top: 28px;
		}
		.green{
			p:before {
				width: 22px;
			}
		}
		.img {
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;
			img {
				max-width:100%;
				height: auto;
			}
		}
	}
}
/* ===============================================
teacher
=============================================== */
.t_data_wrapper {
	padding-bottom: 60px;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	& > .inner {
		margin-right: 0;
	}
	margin-bottom: -50px;
}

.card--teacher {
	width: 260px;
	margin:0 auto;
	float: none;
	margin-bottom: 50px;
}


.colorBoxTarget {
	padding:20px;
	margin-top: 30px;
	.header {
		display: block;
		width: 100%;
	}
	.img,.info {
		display: block;
		width:100%;
		text-align: center;
		img {
			max-width:180px;
			margin: 0;
		}
	}
	.msg {
		margin-top: 15px;
	}
}

#cboxClose {
	top:45px;
	right:15px;
}
