-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
	script.
		var GROBAL_WAVE_BACKGROUND = '#f5fbef';
body#top(class=slug)
	#wrap
		block header
			header.main_header
				h1.logo(title="学びの森")
					img(src=`${assets_prefix}images/logo-2.png`, alt="学びの森", width="340")

			section.sub_header
				a(href="http://tanq.manabinomori.co.jp/",targe="_blank")
					img(src=`${assets_prefix}images/btn_top_tankyu-2.png`, alt="= 学習塾 = 学びの森 探求スクール",width="229")
				a(href="").nolink
					img(src=`${assets_prefix}images/btn_top_freeschool-2.png`,width="230", alt="= 京都府教育委員会認定フリースクール = 学びの森 フリースクール")
				a(href="").nolink
					img(src=`${assets_prefix}images/btn_top_highschool-2.png`, width="231", alt="= 通信制サポート校 = 学びの森 ハイスクール")
			p.inquiry.ac
				a(href="http://tanq.manabinomori.co.jp/contact/",targe="_blank")
					img(src=`${assets_prefix}images/btn_to_inquiry.png`, alt="お問い合わせ" , width="416")
			p.ac.txt
				img(src=`${assets_prefix}images/top_text_01.png`, alt="みなさまに長年にわたり親しんでいただいた「アウラ」「知誠館」の名を2017年より 学びの森 に変更いたしました。森には様々な命が息づいています。ここでは、学校のように誰もが同じことをめざすわけではありません。一人ひとりの子どもたちがそれぞれのペースで学び、ワクワクしながら探究を続け、自分の人生を切り拓くための答えを創り出していく。そんな豊かな学びの世界をめざします。私たちは、学びの森のような場所が社会の中に増えていくことを願っています。",width="1092")
		block contents

		block footer
			footer#footer
				.footer_img
					.btns
						.inner
							a(href="#top").btn--gotop
							a(href="").btn--inquiry
					.top
						canvas#wave1
					.bottom
						canvas#wave2
				.footer_info
					.inner
						.col1.col
							p
								| 代表　北村 真也<br>
								| 〒621-0846<br>
								| 京都府亀岡市南つつじヶ丘大葉台2-44-9<br class="sp">
								a(href="https://goo.gl/maps/roiBVm4nw9S2",target="_blank")
									span MAP<br>
								| TEL: 0771-29-5800
						.col2.col
							a(href="http://forest.manabinomori.co.jp").nolink
								img(src=`${assets_prefix}images/top_footer_bn_1.png`, alt="小さな森の実行委員会",width="147")
							a(href="http://www.kyoto-hikikomori-net.jp/kyoto/kizuna_suport.php",target="_blank")
								img(src=`${assets_prefix}images/top_footer_bn_2.png`, alt="京都府青少年課チーム絆",width="166")
		block flg
			#responsive_flg
	block scripts
		include _inc_scripts

</html>
