ul
	li
		a(href="") コンセプト
	li
		a(href="") 入学案内
		ul.child
			li
				a(href="") 小学生
			li
				a(href="") 中学生
			li
				a(href="") 高校生
	li
		a(href="") 卒業生より
	li
		a(href="") 先生たち
	li
		a(href="") アクセスと概要
	li
		a(href="") お問い合わせ
	li.fb
		a(href="https://www.facebook.com/tanq.manabinomori.co.jp/", target="_blank") Facebook
