extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span コンセプト
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_concept.png`, alt="",width="665").mv
			.backgrond-color__inner
				section.content_area
					h2.subttl 対話を通した深い学びで、「正解」のない時代を生きる力を育てる。
					.txt
						p 大きく葉を広げるヘゴシダの木、色鮮やかな熱帯魚、そしてたくさんの本。
						| 好きな席に座って、先生や仲間と対話をしながら<br>
						| 一人ひとりが自分で読み、調べ、考えながら学習する学びの森。<br>
						| <br>
						| 学校のテストや入試で問われる教科学習に加え、<br>
						| 身近な社会問題、生活の中にある自然科学、時には世界で今起こっていることについて<br>
						| 調べ、考える探究学習に力を入れています。<br>
						| <br>
						| 子どもたちは、学ぶことの楽しさを感じながら<br>
						| 仲間との議論や発表の経験を積み重ね、正解のない時代を生きる力を育みます。
		.backgrond-color--lightgreen
			section
				h2.ttl
					img(src=`${assets_prefix}images/img_concept_1.png`, alt="探究スクールとは 小・中・高 対象 入試対策も！ 国・数・英 教科学習 ワークショップ 探究学習 進学 能動的なキャリア形成", width="533")
				.txtarea
					h3.ttl 2020年からの新大学入試に備えて！
					p 2020年にセンター試験が廃止されます。<br>小論文型が中心となる新大学入試で求められる力は......
					ul.list-style--leaf
						li
							span 複数の情報を統合し、構造化して新しい考えをまとめる力
						li
							span その過程や結果を表現する力
					p 学びの森では、教科学習・探究学習を通してこの2つの力を鍛えます。
			section.msg
				img(src=`${assets_prefix}images/img_concept_2.png`, alt="学びの森代表からのメッセージ 学びの森 代表 北村 真也 「学び」の価値、自分にとっての意味、そして「探究」する喜びを。小学生たちが成人する10年後、社会はどうなっているのでしょうか。この多極化の時代、子どもたちの目の前には私たち親世代の常識が通用しない世界が広がっています。正解なき時代を生き抜く力を育てるため、2020年には大学センター試験が廃止され新しい大学入試へと変わります。これまでの「正解を探す力」ではなく、自ら「正解を創り出す力」が求められるのです。本来学びは、子どもたちに喜びや豊かさを与えるものでした。しかし、学びの価値を感じられぬまま一方的に与えられ続けた子どもたちは、“勉強はつまらない”“嫌だ”と思うようになっていったのです。探究スクールでは、探究する喜びを通じて、学びが自分の可能性を広げ、人生を豊かにするのだと感じてもらいたい。そしてそのために講師たちは、日々新たな「学び」を模索し続けているのです。",width="960")
		.backgrond-color--lightblue.navigation
			.backgrond-color__inner
				section
					header.lower_header--concept_2
						h2.ttl
							span 入学案内
					.btns
						ul
							li
								a(href="/manabi1/")
									img(src=`${assets_prefix}images/concept_btn_1.png`,width="280", alt="小学生3~6年")
							li
								a(href="/manabi2/")
									img(src=`${assets_prefix}images/concept_btn_2.png`,width="280", alt="中学生1~3年")
							li
								a(href="/manabi3/")
									img(src=`${assets_prefix}images/concept_btn_3.png`,width="280", alt="高校生1~3年")
				section
					header.lower_header--concept_3
						h2.ttl
							span 卒業生より
					p
						a(href="/sotsugyo")
							img(src=`${assets_prefix}images/concept_btn_4_off.png`, alt="卒業生のインタビューを読む 勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。 なっちゃん かっちゃん",width="726").rollover





