extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--contact
		h1.ttl
			span お問い合わせ
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area.content_area--contact
				a(href="tel:0771-29-5588").tel_link.caution お急ぎの方は<br class="sp">　0771-29-5588　<br class="sp">までお電話ください。
				.basic_form
					form(action="")
						fieldset
							.form_group
								.ttl
									| お名前
									span.required ＊
								.input
									input(type="text")
						fieldset
							.form_group
								.ttl
									| お問い合わせ目的
									span.required ＊
								.input
									.select_wrapper
										select.form-control(name='shop_id')
											option(value='15') 京都 河原町店
											option(value='16') 京都 御池店
											option(value='17') 東京 浅草駅前店
										input.dummy_select(value='', type='text')
						fieldset
							.form_group
								.ttl
									| お問い合わせ目的
									span.required ＊
								.input
									textarea
						.submit_wrap
							input(type="submit").submit_btn

