extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--outline
		h1.ttl
			span 入学案内
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.icon--yellow_back 小学生
							.ttl
								h2.linetext--yellow--wavy おもしろい！もっと知りたい！ワクワクする学びを。
							ul.list-style--leaf
								li
									span 自律的に「学ぶ習慣」
								li
									span 全教科で必要とされる「読解力」「記述力」
								li
									span 2020年からの新大学入試を見すえた「思考力」「論理力」
								li
									span 自ら興味・関心を持って世界を広げていく「探究力」
					.col--right
						img(src=`${assets_prefix}images/img_syogaku01.png`, alt="" ,width="294")
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--yellow.section1.border-area--lower
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body.border-body--lower
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習
											.sep &nbsp;
											.below
												p 一人ひとりの学力に応じた教材で算数の理解と自律的な学び方を習得
							.row
								.block.block--L
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 パズル、実験など、楽しく学ぶ探究学習（前半）
												p.level2 例：正方形5こで、何種類の形ができる？！
												p.level3 作・演出自分たち！お芝居「いかれた学校」
							.row
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
								.block.block--S
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above プレップ
											.icon 個別学習 + 探究学習
											.sep &nbsp;
											.below
												p.level1 入門コース
												p.level2 フォニックス(読み方)の習得、書き方、単語、絵本の読書
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_1.png`, alt="",width="309")
				.inview--to_top--delay1.inview--to_top.inview-f-1
					img(src=`${assets_prefix}images/syogaku_fukidashi_1.png`, width="118" , alt="わかった！")
				.inview--to_top--delay2.inview--to_top.inview-f-2
					img(src=`${assets_prefix}images/syogaku_fukidashi_2.png`, width="131" , alt="おもしろい！")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入会金　¥10,000
						.aside
							p ● 価格は全て税別です。<br>● 学費には教材費など諸費を含みます。
					.info
						h3.ttl 月謝
						.detail
							.info_detail_wrap
								table.info_detail
									tr
										th.th1 3・4年
										th.th2 算数
										td 月or木
										td 17:50~18:40
										td 50分
										td &yen;6,000
									tr
										th.th1-none &nbsp;
										th.th2 国語
										td 月or木
										td 17:50~18:40
										td 50分
										td &yen;6,000
							.info_detail_wrap
								table.info_detail
									tr
										th.th1 5・6年
										th.th2 算数
										td 月or木
										td 16:50~18:40
										td 110分
										td &yen;8,000
									tr
										th.th1-none &nbsp;
										th.th2 国語
										td 火
										td 16:50~18:40
										td 110分
										td &yen;8,000
									tr
										th.th1-none &nbsp;
										th.th2 思考と表現
										td 金
										td 16:50~18:40
										td 110分
										td &yen;8,000
							.info_detail_wrap
								table.info_detail
									tr
										th.th1 3~6年 英語
										th.th2 プレップ
										td 月
										td 16:50~17:40
										td 50分
										td &yen;6,000
									tr
										th.th1-none &nbsp;
										th.th2 ベーシック
										td 月
										td 17:50~18:40
										td 50分
										td &yen;6,000
									tr
										th.th1-none &nbsp;
										th.th2 英検
										td 月
										td 18:50~19:40
										td 50分
										td &yen;6,000
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ → 事前相談(学習の状況、目標など) → 体験学習 → 面談(教科・日時の決定) → 入会
