extends layout.pug
block slug
	- slug = 'home'
block contents
	section.mv
		.slide
			.lead
				img(src=`${assets_prefix}images/mv_lead.png`, alt="覚えるより、 考える 。浅く知るより、 深く 理解する。正解を探す力よりも、自分で答えを創りだす力を手に入れよう。" , width="467")
			ul
				li
					img(src=`${assets_prefix}images/img_tankyu_slide_01.png`, alt="")
				li
					img(src=`${assets_prefix}images/img_tankyu_slide_02.png`, alt="")
				li
					img(src=`${assets_prefix}images/img_tankyu_slide_03.png`, alt="")
				li
					img(src=`${assets_prefix}images/img_tankyu_slide_04.png`, alt="")
			.lead2
				p 2020年センター試験廃止！<br class="sp">大学入試で「読解力」「書く力」が問われます。
	.backgrond-color--lightblue
		.backgrond-color__inner
			.top_about
				.col
					img(src=`${assets_prefix}images/top_about_img_left.png`, width="531" , alt="探究スクールとは 小・中・高 対象 入試対策も！ 国・数・英 教科学習 ゼミワークショップ 探求学習")
				.col
					a(href="")
						img(src=`${assets_prefix}images/top_about_img_right_off.png`, width="388" , alt="卒業生より 卒業生のインタビューを読む なっちゃん かっちゃん 勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。").rollover
	.backgrond-color--lightgreen.top_outlne
		.backgrond-color__inner
			section.border-area.border-area--yellow
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_1.png`, alt="",width="309")
			section.border-area.border-area--green
				.border_header
					img(src=`${assets_prefix}images/border--green--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--green--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_2.png`, alt="",width="293")
			section.border-area.border-area--blue
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p 中学生<br>1~3年
				.border-body
					a(href="https://www.google.co.jp").border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								.ttl_prefix.pc
									.inner
										p 中学生<br>1~3年
								.ttl_text
									h3.ttl 試験で問われる基礎学力も、学校ではできない深い学びも。
									.lead
										p 個別学習とゼミで数学と英語の力を、<br>探究学習で、自分の力で課題を見つけ、他者と対話し解決する力をつけていきます。
						.content_area_wrapper
							.row
								.block.block--oneliner
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
											.sep &nbsp;
											.below 個別学習 ＋ 数学ゼミ ＋ 探究学習
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
							.row
								.block
									.block__inner-1st
										.block__base_height
											div
										.block__inner-2nd
											.above 算数
				.border-hover
					.inner-1st
						.inner-2nd
							p.ttl_1 小学生
							p.ttl_2 入学案内へ
							p.icon
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/img_top--inview_3.png`, alt="",width="293")

