extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.lead
			.content_area
				h2
					img(src=`${assets_prefix}images/gr_img_2.png` width="297"  alt="探究スクール 探究スクール")
				p
					img(src=`${assets_prefix}images/gr_img_10.png` width="449" alt="勉強を楽しめるようになった。留学や海外の仕事を「やってみよう」と思えるようになった。")
				.img
					img(src=`${assets_prefix}images/gr_img_1.png` width="577"  alt="")
		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_img_3.png` width="200" 　alt="これまでの歩み")
				.content
					.img
						img(src=`${assets_prefix}images/gr_img_5.png` width="110"  alt="")
					.txt
						h3 姉：なっちゃん
						p
							| 中2 秋　～　中3 卒業　アウラ（現：学びの森）に通学。<br>
							| その後、立命館宇治高校、立命館大学国際関係学部へ。<br>
							| 現在、国内メーカー勤務。
				.content
					.img
						img(src=`${assets_prefix}images/gr_img_6.png` width="111"  alt="")
					.txt
						h3 弟：かっちゃん
						p
							| 小5　～　中3 卒業　アウラ（現：学びの森）に通学。
							| その後、立命館守山高校、立命館大学経営学部へ。
							| 現在、2回生。
			section.interview
				.green.txt
					p ここを卒業してから、かっちゃんは4年？なっちゃんはもう8年か！でもちょくちょく来てくれてるよな。それぞれ留学した後とか……そうや、こないだ銀行でばったり会ってそのまま遊びに来てくれたり。
				.black.txt
					p
						span.head 母)
						| ここが原点やもんねぇ。何かあったら報告しに行かなって、2人とも言うんですよ。
				.green.txt
					p かっちゃんの合格発表が4年前かぁ。すごい勢いで飛び込んできて泣き崩れたの、忘れられへんわぁ。
				.black.txt
					p
						span.head かっちゃん)
						| あの時はもう全力で走ってきましたよね。信じられなかったけど、とりあえず言いに行かなきゃ！って
				.black.txt
					p
						span.head 母)
						| 12月になって、もらえると思っていた推薦がもらえないことがわかって、このお部屋でお話しましたよね。受かる確率は3割って言われたんですよ。でもそこから死に物狂いで勉強して。お正月もどこにも行かなかったし。
				.img
					img(src=`${assets_prefix}images/gr_img_7.png` width="595"  alt="")

				.green.txt
					p 私たちも本当にドキドキしていました。その日の雰囲気を見ながらどの過去問をするかを考えたりね。本番に向けて調子を上げていけるように、私らも必死やったんやで。かっちゃんは、できひんことや苦手なことを避けて通ってしまうところがあったから、そこをなんとかせなあかんと思って色んな壁を作ってきたつもりです。けっこう厳しかったと思う。それは嫌じゃなかった？
				.black.txt
					p
						span.head かっちゃん)
						| なんか自分だけ他の子よりもいっぱい問題を渡されるなとは思ってました。先生たちに「ここほんまにわかってる？」「なんでこうなったん？」って掘り下げられるのはすごくしんどかったけど、教室の色んなところに先生が歩いていてすぐに質問できたから、勉強はしやすかったなぁ。先生に聞いてもまだわからない時は、別の先生に聞いて、違うやり方を学べたし。最後の2ヶ月くらいは本当にしんどかったけど、その結果合格できたから、「がんばってよかった！！」と思いました。
				.img
					img(src=`${assets_prefix}images/gr_img_8.png` width="498"  alt="")
				.green.txt
					p なっちゃんは、かっちゃんとは全然タイプが違ったよな。最初の頃ずっと「もう家帰ったら何も勉強せんとねなさい」「そんなに勉強せんでいいよ」って伝えた覚えがある。
				.black.txt
					p
						span.head 母)
						| この子、学校のテストで何度も見なおしたり計算を確認したりするせいで、いつも問題の半分も解けていなかったんです。途中から全部真っ白。それをお見せしたら、塾長が「勉強を教えるよりも、まず不安をとってあげないと」って言ってくださったんです。
				.black.txt
					p
						span.head なっちゃん)
						| それで、おもしろいくらいに成績が伸びたんですよ。「何もやらんでいい」って言われてるのに。（笑）学校の先生もびっくりしてました。それまで全く自信が持てなかったんですけど、勉強を楽しいと思えるようになりました。
				.black.txt
					p
						span.head かっちゃん)
						| 自分のペースで勉強させてもらえるのがいいですよね。学校では周りの進むスピードについていけなくて、どうしようどうしようって焦ってしまうことがあったけど、毎日僕がどこまでできたか、何ができなかったかを確認しながら進めてもらえたのがありがたかったです。
				.black.txt
					p
						span.head なっちゃん)
						| うんうん。私も、普通の進学塾に行っていたら落ちこぼれていたと思います。勉強に楽しさを見い出せなかったんじゃないかな。ここに来て性格が変わったと思います。「やってみよう」って思えるようになった。だから留学も行けたし、今も仕事を楽しめているんだと思います。本当にありがとうございます。
				.img
					img(src=`${assets_prefix}images/gr_img_9.png` width="586"  alt="")
				.green.txt
					p 仕事は楽しい？アメリカや中国とのやり取りが多いんやんな？
				.black.txt
					p
						span.head なっちゃん)
						| そうですね、最近はイタリア、香港からも資材を輸入しています。主にメールですけど、時々電話もしますよ。裏方の仕事ですが、海外と関われる仕事をしたいとずっと思っていたので、毎日楽しいです。今は会社が終わってから中国語を習いに行ってます。
				.green.txt
					p 2人とも頼もしく育ってますね。いつもお父さんと一緒に保護者面談に来てくださいましたよね。成績の話だけじゃなくて、性格的な課題やおうちでの様子も共有させていただけたので、私たちも全力で2人のサポートをすることができました。今日は色々なお話が聞けて嬉しかったです。
				.black.txt
					p
						span.head 母)
						| 今日は素敵な時間をありがとうございました。私たち、今日をすっごく楽しみにしてたんです。家で「あと10分やな」とか言い合いながら、ワクワクしちゃって。
				.black.txt
					p
						span.head かっちゃん)
						| 改めて楽しい塾に来てたんやなぁと思いました。今カフェでバイトしているので、ぜひ遊びに来てください！
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section
					header.lower_header--concept_2
						h2.ttl
							span 入学案内
					.btns
						ul
							li
								a(href="/manabi1/")
									img(src=`${assets_prefix}images/concept_btn_1.png`,width="280", alt="小学生3~6年")
							li
								a(href="/manabi2/")
									img(src=`${assets_prefix}images/concept_btn_2.png`,width="280", alt="中学生1~3年")
							li
								a(href="/manabi3/")
									img(src=`${assets_prefix}images/concept_btn_3.png`,width="280", alt="高校生1~3年")





