extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span 先生たち
		.backgrond-color--lightblue.nosep
			.card--teacher
				.img
					img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
					a.btn.execColorBox.nosms(href="#this") message
				.content.even
					h2.ttl
						span.sub 塾長
						span.main 北村 真也
					.info
						.top
							.th 趣味：
							.td
								p 考えること<br>人と話すこと<br>旅すること
						.other1
							p 好きな...<br>
							| 映画：レ・ミゼラブル<br>
							| 映画：プレシャス<br>
							| 音楽：バッハ　無伴奏チェロ<br>
						.other2
							p
								| 同志社大学 経済学部
								| 立命館大学大学院
								| 応用人間科学研究科卒
			.div(style="display:none;")
				#this.colorBoxTarget
					header.header
						.img
							img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
						.info
							h2.ttl
								span.sub 塾長
								span.main 北村 真也
					.msg
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.

			.card--teacher
				.img
					img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
					a.btn.execColorBox.nosms(href="#this") message
				.content.even
					h2.ttl
						span.sub 塾長
						span.main 北村 真也
					.info
						.top
							.th 趣味：
							.td
								p 考えること<br>人と話すこと<br>旅すること
						.other1
							p 好きな...<br>
							| 映画：レ・ミゼラブル<br>
							| 映画：プレシャス<br>
							| 音楽：バッハ　無伴奏チェロ<br>
						.other2
							p
								| 同志社大学 経済学部
								| 立命館大学大学院
								| 応用人間科学研究科卒
			.div(style="display:none;")
				#this.colorBoxTarget
					header.header
						.img
							img(src=`${assets_prefix}images/img_teacher05.png` width="256" alt="")
						.info
							h2.ttl
								span.sub 塾長
								span.main 北村 真也
					.msg
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam recusandae maiores soluta sapiente odit, iusto numquam cumque voluptatibus, commodi, eos a vero, saepe vel magnam. Voluptatem porro atque, doloremque quaerat.

			img(src=`${assets_prefix}images/img_teacher06.png` width="255" alt="")
			img(src=`${assets_prefix}images/img_teacher07.png` width="254" alt="")
			img(src=`${assets_prefix}images/img_teacher08.png` width="257" alt="")
			img(src=`${assets_prefix}images/img_teacher09.png` width="255" alt="")
			img(src=`${assets_prefix}images/img_teacher10.png` width="254" alt="")
			img(src=`${assets_prefix}images/img_teacher11.png` width="257" alt="")
