.border-area {
	.ttl_prefix {
		padding:7px 0;
	}
}

.border_header {
	img.sp {
		margin-left: 0;
	}
}

.border-area.border-area--blue {
	.border_header img.sp {
		left:-2px;
	}
}

.border-area.border-area--green {
	.border_header img.sp {
		left:-2px;
	}
}
