.pc {
	display: none;
}
.sp {
	display: block;
}
$base_minwidth:100%;
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}
body {
	-webkit-text-size-adjust: none;
	//overflow-x: hidden;
	min-width: 320px;
}
body,div,p,h1,h2,h3,h4,h5,li,a,ul,li,dl,dt,dd,#wrap,header,footer,article,section,aside{
	box-sizing:border-box;
}

.backgrond-color--beige,
.backgrond-color--lightblue,
.backgrond-color__inner,
.backgrond-color--lightgreen,
#wrap {
	min-width:$base_minwidth;
}

img {
	max-width:100%;
	height: auto;
}
/* ===============================================
tab
=============================================== */
.tab_content {
	display: none;
	.more {
		text-align: center;
		position: static;
		margin-top: 20px;
		a {
			font-size: 1.3rem; /* フォント置換による類似 */
		}
	}
}
.tab_content.tab_content--first {
	display: block;
}
.tab_content+.tab_content {
	margin-top: 0;
}
/* ===============================================
table
=============================================== */
.table_wrapper--basic_table {
	table {
		display: block;
		width:100%;
	}
	th,td {
		display: list-item;
		list-style-type: none;
		width:100%;
		box-sizing: border-box;
		padding:15px 20px;
	}
	td {
		border-left: none;
		border-bottom: 1px solid #565a55;
		border-top: none;
	}
	th {
		border-bottom: 1px dashed #565a55;
		border-top: none;
	}
	.inner_table {
		line-height: 1.5;
		display: block;
		.row {
			display: block;
		}
		.col {
			display: block;

			img {
				display: block;
				margin-top: 10px;
				padding-left: 1em;
			}
		}
		.row + .row {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid #565a55;
			.col {
				padding-top: 0;
			}
		}
	}
	tr:last-child {
		td {
			border-bottom: none;
		}
	}
}
.table--simple {
	display: block;

	th,td {
		display: list-item;
		list-style-type: none;
		width:100%;
		box-sizing: border-box;
		padding:8px 10px;
	}
	tr:first-child {
		td {
			border-top: 1px solid #dcdcdc;
		}

	}

}

.table_wrapper--basic_table.timetable {
	width: 86%;
	.sub {
		line-height: 1;
		padding-top: 3px;
	}
	table {
		display:table;
	}
	th,td {
		display:table-cell;
		width: 100%;
		font-size:1.3rem;
		line-height: 1.2;
		border-top: 1px #565a55 dashed!important;
		border-bottom: none;
	}
	td {
		border-left: #565a55 1px solid;
		border-bottom: none;
	}
	.head {
		th,td {
			border-top: none!important;
		}
	}
}
/* ===============================================
area
=============================================== */
.area--normal_border {
	padding:20px;
	.col--left , .col--right {
		float: none;
		.map iframe {
			max-width:100%;
		}
	}
	.col--right {
		margin-top: 25px;
	}
}
.area--wave_border {
	background: #fff;
	position: relative;
	padding:20;
	margin-top: 30px;
	padding:20px;
}

.txtbox--has_wave_ttl {
	width: 100%;
	.ttl1 {
		font-size: 1.6rem;
	}

	.ttl2 {
		font-size: 1.6rem;
	}
	.subttl {
		font-size: 1.4rem; /* フォント置換による類似 */
	}
}

.inner-column--3 {
	width: 84%;
	margin:21px auto 0;
	position: relative;
	padding-bottom: 0;
	.box {
		float: none;
	}
	.box + .box {
		float: none;
		margin-top: 20px;
	}
	.img {
		position: static;
		margin-top: 20px;
	}
}
.inner-column--2 {
	width: 84%;
	.box {
		float: none;
		width: 100%;
		.txt {
			padding-right: 0;
		}
	}
	.box + .box {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
}

/* ===============================================
text
=============================================== */
.linetext--yellow--wavy {
	font-size: 2.0rem;
}

.linetext--green--wavy {
	font-size: 2.0rem;
}

.list-style--leaf {
	li {
		font-size: 1.5rem; /* フォント置換による類似 */
		text-align: left;
		display: block;
		& + li {
			margin-top: 15px;
		}
		span {
			border-bottom: 2px solid #acc756;
			padding-bottom: 2px;
			line-height: 1.9;
		}
	}
}

.outline--lead--s {
	.col--right {
		img {
			margin-top: 40px;
		}
	}
}
/* ===============================================
blog list
=============================================== */
.blog_list {
	width: 100%;
	.more {
		text-align: center;
		position: static;
		margin-top: 5px;
		a {
			font-size: 1.3rem; /* フォント置換による類似 */
		}
	}
	.list {
		margin-top: 20px;
		margin-right: 0;
		li {
			width: 90%;
			margin:0 auto;
			float: none;
			& + li {
				margin-top: 20px;
			}
		}
		.img {
			width: 100%;
			height: 200px;
			.filter {
				display: none!important;
			}
			background-size:cover !important;
			background-repeat:no-repeat;
		}
		.txt {
			width: 100%;
		}
		p {
			font-size: 1.6rem; /* フォント置換による類似 */
		}
		.date {
			font-size: 1.3rem; /* フォント置換による類似 */
			margin:0;
		}
	}
}
.blog_list + .blog_list {
	margin-top: 40px;
	padding-bottom: 100px;
}

.list + .more {
	margin-top: 15px;
}
/* ===============================================
header
=============================================== */
.main_header {
	padding-top: 55px;
	overflow:hidden;
	min-width:100%;
	.inner {
		width: 100%;
	}
	.logo {
		@include text_indent_none();
		@include sprite_background_retina(logo_sp);
		margin-bottom: 21px;
		margin-left: auto;
		margin-right: auto;
	}
	.min60 {
		margin-left: 0;
		a {
			margin-left: auto;
			margin-right: auto;
		}
	}
	.tel {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}
.leaf1 {
	left: -20px;
	top: -4px;
	right:auto;
	img {
		width:100px;
		height: auto;
	}
}
.leaf2 {
	left: 40px;
	top: -20px;
	right:auto;
	img {
		width:70px;
		height: auto;
	}
}

.gnav,.gnav_wrap {
	display:none;
}

/* ===============================================
spnav
=============================================== */
#spnavi {
	overflow: hidden;
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 10020;
	top: 0;
	left:0;
	display:none;
	margin-top: 140px;
}
.btn_sp_navi,.btn_sp_navi_wrap {
	display: inline-block;
}
.btn_sp_navi_wrap {
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
	z-index: 3;
	a {
		text-decoration: none;
		&:hover {
			@include opacity(1);
		}
	}
	.fa-bars {
		display: inline-block;
		font-size: 38px;
		color: #14B4A6;
	}
}

.btn_sp_navi {
	display: inline-block;
	@include transition(all .4s);
	box-sizing: border-box;
	span.bar {
		display: inline-block;
		@include transition(all .4s);
		box-sizing: border-box;
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background-color: #14b4a6;
		border-radius: 4px;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 15px;
		}
		&:nth-of-type(3) {
			bottom: 0;
		}
	}
	position: relative;
	width: 40px;
	height: 35px;
	.text {
		margin-bottom: -10px;
		font-size: 13px;
		position: absolute;
		left: 0;
		bottom: -13px;
		color:  #14b4a6;
	}
}

.btn_sp_navi.active span.bar {
	&:nth-of-type(1) {
		@include transform(translateY(15px) rotate(-45deg));
	}
	&:nth-of-type(2) {
		opacity: 0;
	}
	&:nth-of-type(3) {
		@include transform(translateY(-15px) rotate(45deg));
	}
}
#scroller {
	padding-bottom: 80px;

	& > ul > li  {
		& > a {
			font-weight: 700;
		}
		&:before {
			content:'';
			display: block;
			background: #fff url('../images/sep--spnav.png') 0 0 repeat-x;
			background-size: contain;
			width: 100%;
			height: 7px;
		}
	}
	li a {
		font-size:1.7rem;
		display:block;
		padding:15px;
	}
	.child {
		padding-left: 20px;
		margin-top: -10px;
		li a{
			font-size: 1.6rem;
			padding:10px;
		}
	}
}
/* ===============================================
footer
=============================================== */
#footer {
	min-width:100%;
}
.footer_img {
	min-width:100%;
	height:260px;
	canvas {
		min-width:100%;
	}
	.btns {
		position: absolute;
		right:0;
		top:-38px;
		width: 100%;
		.inner {
			width: 100%;
			text-align: center;
		}
	}
}
.footer_info {
	margin-top: 26px;
	.inner {
		width: 100%;
		padding-bottom: 30px;
	}
	.col1 {
		width: 100%;
		float:none;
		margin-top: 25px;
	}
	.col2 {
		width: 100%;
		float:none;
		margin-top: 25px;
		margin-right: 0;
	}
	.col3 {
		width: 100%;
		float: none;
		iframe {
			max-width: 100%;
			height: auto;
			border: none!important;
		}
	}
	.logo {
		a {
			margin:0 auto;
		}
	}
	.footer_nav , .meta , .sns {
		font-size: 1.3rem; /* フォント置換による類似 */
	}
	.meta , .sns {
		margin-top: -1px;
	}

	.relate1,.relate2 {
		margin:20px auto 0;
		display: block;
	}
}
/* ===============================================
mv
=============================================== */
.mv {
	width: 100%;
	margin:110px auto 0;
	.slide {
		position: relative;
		img {
			max-width: 100%;
			height: auto;
		}
		.inner {
			width: 100%;
			position: static;
			height: auto;
			.lead {
				position: absolute;
				bottom:auto;
				top:-90px;
				left:0;
				right:0;
				margin:auto;
				width: 280px;
			}
			.date_info {
				margin-top: 30px;
			}
		}
	}
}
.bx-wrapper {
	.bx-controls-direction {
		.bx-prev {
			left: 0;
		}
		.bx-next {
			right: 0;
		}
	}
}

.date_info {
	position: relative;
	z-index:10001;
	margin:0 auto 40px;
	top:0;
	left:auto;
}
.top_links {
	width: 90%;
	margin:0 auto 40px;
	padding-top: 40px;
	.img1 {
		position: relative;
		top: 0;
		left: 0;
		margin-top: 20px;
		width: 234px;
		margin-left: auto;
		margin-right: auto;
		a img {
			position: absolute;
			left: 41px;
			top: 130px;
			width: 190px;
		}
	}
	.img2 {
		position: static;
		margin-top: 80px;
		display: block;
		text-align: center;
	}
	.img3 {
		position: static;
		margin-top: 20px;
		display: block;
		text-align: center;
	}
	.lead {
		text-align: center;
		margin-top: 30px;
		padding-bottom: 30px;
	}
	.btn_wrap {
		text-align: center;
		font-size: 0;
		margin-top: 0;
		.img2,.img3 {
			display: inline-block;
			width: 130px;
			margin-left: 5px;
			margin-right: 5px;
			img {
				max-width:100%;
				height: auto;
			}
		}
	}
}
.top_outline {
	width: 100%;
	margin:0 auto 40px;
	padding-top: 40px;
	&>.ttl {
		margin-bottom: 25px;
	}
	.left {
		float: none;
	}
	.right {
		float: none;
		width: 90%;
		margin:20px auto 0;
	}
	.right {
		text-align: center;
	}
}

.top_result {
	width: 90%;
	margin:0 auto;
	position: relative;
	margin-bottom: 40px;
	&>.ttl {
		padding-left: 0;
	}
	.more {
		text-align: center;
		position: static;
		margin-top: 5px;
		margin-bottom: 30px;
		a {
			font-size: 1.3rem; /* フォント置換による類似 */
		}
	}
	.inner {
		position: relative;
		padding:20px;
		.ttl {
			border-bottom: 2px #565a55 dashed;
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height:1.9; /* フォント置換による類似 */
			text-align: center;
			display: inline-block;
		}
		.sep {
			@include text_indent_none();
			@include sprite_background_retina(arrow_blue2);
			position: static;
			margin:20px auto;
		}
		.txt2 {
			position: static;
		}
		.line1 {
			margin-bottom: 17px;
			& + p {
				width: 100%;
				max-width:300px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	.inner + .more {
		margin-top: 15px;
	}
}
.top_tt {
	text-align: center;
	margin-bottom: 40px;
	.ttl {
		margin-bottom: 20px;
	}
}
/* ===============================================
border_area
=============================================== */
.border-area + .border-area {
	margin-top: 30px;
}
.border_header {
	width: 100%;
	height:auto;
	// position:absolute;
	left:0;
	right:0;
	top:0;
	margn:auto;
	z-index: 1;
	img {
		width:100%;
		height:auto;
	}
	img.sp {
		position:absolute;
		left:0;
		top:0;
		z-index:1;
		margin-left: -1px;
	}
	margin:0 auto;
}
.border-body {
	margin-top: -15px;
	position:relative;
	z-index:2;
}
.border-area {
	width: 96%;
	cursor:pointer;
	position: relative;
	margin: 0 auto;
	/* header
	----------------------- */
	.ttl_area_wrapper {
		position: relative;
		width:96%;
		margin:0 auto;
		z-index:2;
		top:2px;
		left:0;
		&:after {
			display:none;
		}
	}
	.ttl_area {
		display:block;
		width:100%;
		height: auto;
	}
	.ttl_text,.ttl_prefix {
		display:block;
		vertical-align:middle
	}
	.ttl_prefix {
		width:100%;
		height:auto;
		padding:10px 0;
		background: none;
		min-height: 80px;
		display: table;
		.inner {
			color: #7DCBE1;
			font-size: 1.8rem;
			display: table-cell;
			vertical-align: middle;
		}
	}
	.ttl_text {
		padding:0 10px;
		.ttl {
			font-size: 1.6rem;
			line-height: 1.6;
		}
		.lead {
			margin-top: 15px;
			font-size: 1.3rem;
		}
	}

	.border-body {
		margin: -11px auto 0;
		.ttl_area {
			.ttl_prefix {
				display:none;
			}
		}
	}
	.border-body_inner {
		background: url(../images/border--blue--botom--sp.png) no-repeat center bottom;
		background-size:100% auto;
	}
	.sep-sp.sp {
		height:14px;
		width: 98%;
		margin:0 auto;
		background:url(../images/border_ttl_under--blue.png) repeat-x center center;
		background-size:contain;
	}

	.content_area_wrapper {
		background: none;
		background: none;
		padding: 15px 0 30px;
		.row + .row {
			margin-top: 0;
		}
		.block {
			margin-top: 20px;
			width: 275px;
			height: auto;
			.above {
				font-size: 1.6rem;
			}
			.below {
				font-size: 1.4rem;
			}
		}
	}

	/* inview
	----------------------- */
	.inview {
		top:-20px;
		right:0;
		z-index:10;
		img {
			max-width: 100%;
			height: auto;
		}
	}

	.size_l {
		font-size: 1.6rem;
		width: 84%;
	}
}

.border-area--m  {
	.border_header {
		height: auto;
	}
}


.border-area--s.border-area--blue  {
	max-width: 100%;
	height:auto;
	.border_header {
		height:auto;
		overflow:hidden;
		img {
			max-width:100%;
			height: auto;
		}
	}
	.border-body {
		margin-top: -2px;
	}
	.ttl_area_wrapper {
		position: relative;
		width: 96%;
		margin:-14px auto 0;
		z-index: 2;
		top: 2px;
		left: 0;
	}
	.ttl_prefix {
		background:none;
		height: auto;
		padding: 22px 0 7px;
		.icon {
			background-color: transparent;
			@include border-radius(0);
			width: 100%;
			height: auto;
			margin:0;
		}
	}
	.ttl_area {
		height: auto;
	}
	.border-body {
		.content_area_wrapper {
			padding-bottom: 29px;
			padding-top: 0;
			background:none;
			.inner {
				width: 84%;
				font-size: 1.4rem;
			}

			.btn {
				background:none;
				background-color:#7dcbe1;
				width: 80%;
				margin:13px auto 0;
				@include border-radius(20px)
			}
		}
	}

}

/* ===============================================
lower
=============================================== */
.content_area {
	width:86%;
	margin:0 auto;
}
.lower_header {
	margin-top: 40px;
	min-width:auto;
}
.lower_header + .backgrond-color--lightblue {
	padding:40px 0;
	&:before {
		display: none;
	}
}
.page_nav {
	width: 100%;
	height: auto;
	margin:0 auto 40px;
	li {
		display: inline-block;
		width:48%;
		margin:0 0;
		a {
			display: block;
			font-size: 1.4rem; /* フォント置換による類似 */
			height: auto;
		}
	}
}
.backgrond-color--lightgreen--lower {
	.backgrond-color__inner {
		padding-top: 80px;
		padding-bottom: 40px;
	}
}

.backgrond-color--lightblue--lower {
	.backgrond-color__inner {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}

/* inview
----------------------- */
.inview--to_top {
	top:-30px;
	img {
		max-width:180px;
		height: auto;
	}
}
.inview--to_top.inview-f-1 {
	left:0!important;
	right:0!important;
	margin:auto;
	width:180px;
}

.inview--to_top.inview-f-2 {
	left: 110px!important;
}

.inview--to_top.inview-f-3 {
	left: 212px!important;
}

.border-area--blue.section1 {
	.content_area_wrapper {
		padding-bottom: 40px;
	}
	&#con1 {
		.below {
			max-width: 100%;
		}
	}
	&#con2{
		.below {
			padding-left: 36px;
			padding-right: 36px;
			.level1 {
				max-width: 100%;
				text-align: left;
				margin: 0 auto;
			}
		}
	}
}

//profile
.guide_prof {
	width:86%;
	margin:40px auto 0;
	& >.inner {
		display:block;
		width: 100%;
	}
	.img {
		display: block;
		text-align: center;
	}
	.txtarea {
		display: block;
		padding:20px;
		margin-top: 25px;
		margin-left: 0;
		border:1px dashed #78c9e1;
		background:#fff;
		@include border-radius(10px);
		.inner {
			background:none;
			width: 100%;
			height: auto;
			padding:0;
			margin:0;
		}
	}
}
/* ===============================================
access
=============================================== */
.lower_header--access + .backgrond-color--lightblue {
	padding-bottom: 90px;
}
/* ===============================================
method
=============================================== */
.outline--lead {
	.ttl  {
		margin-top: 18px;
	}
	.list-style--leaf {
		margin-top: 30px;
	}
	.col--left {
		float: none;
	}
	.img1,.img2 {
		position: static;
		margin-top: 20px;
		text-align: center;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}


.border-area.border-area--lower {
	.border-body {
		.content_area_wrapper {
			.block {
				width:86%;
				.icon {
					font-size: 1.3rem;
				}
				.block__inner-2nd {
					padding:18px 0;
				}
				.below {
					padding:0 36px;
					.level2 {
						padding-left: 0;
					}
					.level3 {
						padding-left: 0;
					}
				}
			}
			.block.block--L {
				width:86%;
				margin-bottom: 0;
				.block__inner-2nd {
					position: relative;
				}
				.icon {
					position: static;
				}
				.sep {
					width: 100%;
				}
				.below {
					max-width:100%;
				}
			}

			.block.block--S {
				width:86%;
				.block__inner-2nd {
					position: relative;
				}
				.sep {
					width:100%;
				}
				.below {
					max-width:100%;
					display: inline-block;
				}
				.level2 {
					font-size: 1.4rem;
					line-height: (24 / 14);
					padding-left: 0;
				}
			}
		}
	}
}


.below_added {
	padding:20px ;

	.level2,.level3 {
		padding:0;
	}
}


.area--normal_border--price {
	padding-left: 10px;
	padding-right: 10px;
	.ttl_area {
		padding:0 10px 20px;
		.ttl {
			float: none;
			padding-top: 0;
			text-align: center;
		}
		.aside {
			float: none;
			margin-top: 8px;
			text-align: center;
		}
	}
	.info {
		padding-top: 30px;
		margin-top: 0;
		.ttl {
			width: 100%;
			float: none;
			text-align: center;
		}
		.detail {
			overflow: hidden;
		}
	}
	.info_detail_wrap+.info_detail_wrap {
		border-top: none;
		margin-top: 0;
	}
	table.info_detail {
		.th1 {
			text-align: left;
			padding-left: 5px;
			width: 100%;
		}
		tr + tr {
			margin-top: 20px;
		}
	}
}

.backgrond-color--lightblue.blue {
	.area--normal_border--results {
		font-weight: normal;
	}
	.area--normal_border--price {
		.info_detail_wrap+.info_detail_wrap {
			padding-top: 18px;
		}
		table.info_detail {
			table-layout: auto;
		}
		.sub {
			text-align: left;
		}
		.th1 {
			text-align: left;
			padding-left: 5px;
			width: 100%;
		}
		.th2,
		.th3,
		.th4,
		.th5 {
			width: 100%;
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}
		.empty {
			display: none;
		}
	}
}

.area--normal_border--map {
	padding:0;
	.inner {
		display: block;
	}
	.left,.right {
		width: 100%;
		display: block;
		iframe {
			height: 200px;
			display: block;
			@include border-radius(0 0 10px 10px / 0 0 10px 10px);
		}
	}
	.left {
		padding-top: 20px;
		padding-left:0;
		margin-bottom: 25px;
	}
	.ttl {
		padding-left: 0;
		text-align: center;
	}
	.txt {
		padding-left: 20px;
		padding-right: 20px;
	}
}

table.info_detail {
	width: 100%;
	margin-top: 15px;
	& + table {
		border-top: none;
	}
	tr {
		width: 100%;
		display: block;
	}
	th,td {
		display:list-item;
		list-style-type:none;
		width: 100%;
		text-align: center;
	}
	.th1 {
		border-bottom: 1px solid #565a55;
		text-align: center;
		font-weight: bold;
	}
	.th2 {
		padding-top: 15px;
		border-bottom: 1px dashed #565a55;
		margin-bottom: 10px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		font-weight: bold;
	}
	.th1-none {
		display: none;
	}
}

table.info_detail + table.info_detail {
	margin-top: 20px;
}

.area--normal_border--flow {
	font-size: 1.6rem; /* フォント置換による類似 */
	font-weight: 700;
	.icon {
		position: static;
		color: #fff;
		font-size: 1.6rem; /* フォント置換による類似 */
		display: inline-block;
		margin-bottom: 20px;
	}
}
.border-area.border-area--lower+.border-area--lower {
	margin-top: 80px;
}
.content_area--info+.content_area--info {
	margin-top: 40px;
}

.area--wave_border .table--simple {
	th {
		width: 100%;
		text-align:center;
		padding-right: 0;
	}
	td {
		padding-left: 10px;
	}
}

.border-area_wrapper {
	position: relative;
	width: 100%;
	margin:0 auto;
	margin-top: 0;
	.border-area {
		margin-right: 0;
	}
	.ex_img1 {
		text-align: center;
		position: static;
		margin-top: 20px;
		margin-bottom: 70px;
	}
}

.border-area--blue.con3 .inview--to_top--delay1 {
	right:0;
}

.border-area--blue.con3 .inview--to_bottom {
	bottom: -10px;
	right: 0px;
	top:auto;
	img {
		width: 100px;
	}
}


.backgrond-color--lightblue--lower.mk {
	.backgrond-color__inner {
		padding-bottom: 40px;
	}
}
.backgrond-color--lightgreen--lower.mk {
	.backgrond-color__inner {
		padding-top: 40px;
		padding-bottom: 80px;
		max-width:86%;
		min-width:86%;
		box-sizing: border-box;
		margin:0 auto;
	}
}


.content_area--info {
	.area--normal_border--results {
		padding: 20px;
		overflow:hidden;
	}
	.blue {
		color: #78c9e1;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
	.sep {
		margin-left: -30px;
    margin-bottom: 30px;
    margin-right: -30px;
    	img {
    		vertical-align: middle;
    	}
	}
}

.area--normal_border--price {
	.info {
		margin-top: 0;
		padding-top: 0;
		.left {
			padding:20px;
			table {
				display: block;
				width: 100%;
			}
			tbody {
				display: block;
			}
			tr {
				display: block;
			}
			th,td {
				display: list-item;
				list-style-type: none;
				width: 100%;
				text-align: center;
				width: 100%;
			}
			th {
				font-weight: 700;
			}
		}
		.right {
			.ttl {
				margin-bottom: 30px;
			}
			padding-bottom: 20px;
			position: static;
			width: 100%;
			height: auto;
			table {
				display: block;
				position: static;
				width: 100%;
				tbody {
					display: block;
				}
				tr {
					display: block;
				}
				th,td {
					display: list-item;
					list-style-type: none;
					width: 100%;
					text-align: center;
					width: 100%;
				}
				th {
					font-weight: 700;
				}
			}

		}
	}
}

.area--normal_border--flow {
	.sub {
		padding:10px;
	}
}

/* ===============================================
.content_area--contact
=============================================== */
.caution {
	display: block;
	width: 100%;
	color: #14b4a6;
	font-size: 1.8rem; /* フォント置換による類似 */
	line-height: 1.8;
	height:auto;
	padding:10px 0;
	margin-bottom: 30px;
}
.content_area--contact {
	width: 86%;
	margin:0 auto;
}
.basic_form {
	.form_group {
		display:block;
		width: 100%;
		.ttl {
			display: block;
			vertical-align: middle;
			font-weight: 700;
			margin-bottom: 8px;
		}
		.input {
			display: block;
			vertical-align: middle;
			width: 100%;
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 30px;
	}
	.captcha {
		margin-top: 30px;
	}

}

/* ===============================================
graduate
=============================================== */
.graduate {
	.backgrond-color--lightblue.lead {
		padding-bottom: 40px;
		.content_area {
			position: relative;
		}
		h2 {
			margin-top: 6px;
			margin-bottom: 30px;
			text-align: center;
		}
		h2,p {
			position: relative;
			z-index:2;
			text-align: center;
		}
		img {
			max-width:100%;
			height:auto;
		}
		.img {
			position: static;
			img {
				margin:25px auto 0;
				display: block;
			}
		}
	}
	.backgrond-color--lightgreen {
		padding-top: 80px;
		padding-bottom: 60px;
	}
	.step {
		width: 92%;
		height: auto;
		background: none;
		background-color: #fff;
		position:relative;
		margin:0 auto;
		padding: 62px 30px 30px;
		box-sizing: border-box;
		@include border-radius(10px);
		border:2px dashed #9fdcd8;
		box-sizing: border-box;
		.ttl {
			position: absolute;
			top:-32px;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
		}
		.content {
			width: 100%;
			.img {
				float: none;
				padding-right: 0;
				text-align: center;
			}
			.txt {
				padding-top: 20px;
			}
		}
		.content + .content {
			margin-top: 30px;
		}
	}

	.interview {
		width: 88%;
		margin:30px auto 0;
		.txt + .txt {
			margin-top: 28px;
		}
		.green{
			p:before {
				width: 22px;
			}
		}
		.img {
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;
			img {
				max-width:100%;
				height: auto;
			}
		}
	}
}
/* ===============================================
teacher
=============================================== */
.t_data_wrapper {
	padding-bottom: 60px;
	width:100%;
	margin:0 auto;
	overflow:hidden;
	& > .inner {
		margin-right: 0;
	}
	margin-bottom: -50px;
}

.card--teacher {
	width: 260px;
	margin:0 auto;
	float: none;
	margin-bottom: 50px;
}


.colorBoxTarget {
	padding:20px;
	margin-top: 30px;
	.header {
		display: block;
		width: 100%;
	}
	.img,.info {
		display: block;
		width:100%;
		text-align: center;
		img {
			max-width:180px;
			margin: 0;
		}
	}
	.msg {
		margin-top: 15px;
	}
}

#cboxClose {
	top:45px;
	right:15px;
}
/* ===============================================
blog group
=============================================== */
.term_list {
	width: 86%;
	box-sizing: border-box;
	margin:30px auto 0;
	li {
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 17px;
	}
	a {
		font-size: 1.6rem; /* フォント置換による類似 */
	}
}
.blog_list--lower {
	margin-top: 40px;
	padding-bottom: 60px;
}
.blog_list {
	.list {
		margin-bottom: -40px;
		overflow:hidden;
		li {
			margin-bottom: 40px;
		}
	}
}
/* ===============================================
case
=============================================== */
.lead--case {
	width: 82%;
	line-height:1.8;
}
//detail
.content_area--case {
	margin-top: 40px;
	padding-bottom: 73px;
	.main_ttl_wrapper {
		width: 100%;
		position: relative;
	}
	.main_ttl {
		width: 100%;
		display:table;
		padding:30px 0;
		box-sizing: border-box;
		.ttl {
			font-size: 1.7rem; /* フォント置換による類似 */
		}
		.num {
			right: 1px;
			background-size: 65px auto;
			width: 65px;
			height: 29px;
			font-size: 1.2rem;
			line-height: 26px;
		}
	}
	.inner {
		margin-top: 30px;
	}
	.main {
		width: 100%;
		float: none;
		margin-left: auto;
			margin-right: auto;
		.ttl {
			font-size: 1.7rem; /* フォント置換による類似 */
		}
		.txt {
			font-size: 1.4rem; /* フォント置換による類似 */
		}
		.sep {
			@include text_indent_none();
			@include sprite_background_retina(icon_case_sep);
			margin-top: 20px;
			margin-bottom: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.sub {
		width: 100%;
		float: none;
		margin-left: auto;
			margin-right: auto;
		margin-top: 30px;
	}
	.meta,.thumb {
		width: 100%;
		p {
			font-size: 1.4rem; /* フォント置換による類似 */
		}
	}
	.meta {
		margin-bottom: 20px;
		padding:20px 30px;
		margin-top: 10px;
	}
	.thumb {
		max-width:340px;
		margin-left: auto;
		margin-right: auto;
	}
	.thumb + .thumb {
		margin-top: 20px;
	}

	.post_meta {
		margin-top: 30px;
		.tag_wrap {
			text-align:left;
		}
		.date {
			width: 100% !important;
			text-align: left;
		}
	}
}
/* ===============================================
blog
=============================================== */
.content_area--blog {
	.main_ttl {
		margin-top: 40px;
	}
	&>.inner {
		img {
			max-width:100%;
			height:auto;
		}
		.post_meta {
			margin-top: 30px;
		}
	}
}
.prev_next {
	margin-top: 30px;
	a {
		font-size: 1.4rem; /* フォント置換による類似 */
	}
	.prev {
		a {
			padding-left: 10px;
		}
	}
	.next {
		a {
			padding-right: 10px;
		}
	}
}
.blog--relate {
	margin-top: 40px;
}

/* ===============================================
movie
=============================================== */
.movie_list {
	margin-top: 15px;
	.main_ttl {
		width: 86%;
		margin-left: auto;
		margin-right: auto;
	}
	.list {
		margin-top: 40px;
	}
	.list li {
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		margin-bottom: 35px;
	}
	.txt {
		text-align: center;
		margin-top: 16px;
		.ttl {
			text-align: center;
		}
	}
}
.movie_list + .movie_list {
	margin-top:40px;
	padding-bottom: 40px;
}
.movie_list--wrap .movie_list:last-child {
	padding-bottom: 60px;
}
.movie_btn {
	margin-top: 30px;
	padding-bottom: 60px;
}
/* ===============================================
qa
=============================================== */
.term_list--tab {
	li {
		border: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	li:first-child {
		border: none;
	}
}
.list-qa {
	border-radius: 10px;
	border-width: 1px;
	border-color: #565a55;
	border-style: solid;
	background-color: #fffffd;
	width: 86%;
	padding: 20px 8px 14px;
	.ttlarea {
		padding:0 5px;
		position: relative;
		cursor:pointer;
		padding-right: 35px;
		&:after {
			content:"";
			@include text_indent_none();
			@include sprite_background_retina(arrow_down);
			right: 10px;
		}
		&.actve:after {
			content:"";
			@include text_indent_none();
			@include sprite_background_retina(arrow_up);
		}
		.inner {
			display: table;
			width: 100%;
		}
		.num,
		.ttl {
			font-size: 1.4rem; /* フォント置換による類似 */
		}
		.num {
			font-size: 1.6rem; /* フォント置換による類似 */
			width: 3em;
		}
	}
	.txt {
		border-top: 1px solid #b5b5b5;
		font-size: 1.4rem; /* フォント置換による類似 */
	}
}

.list-qa + .list-qa {
	margin-top: 20px;
}
.wrap--list-qa {
 	display: none;
 	margin-top: 40px;
 	padding-bottom: 35px;
 	& + .btn {
 		margin-bottom: 60px;
 		img {
 			max-width:86%;
 			height: auto;
 		}
 	}
 }
.qa_list--wrap .wrap--list-qa:first-of-type {
	display: block;
}
.qa_list--wrap {
	position: relative;
	.aside_img {
		position: absolute;
		top: -22px;
		left:0;
		width: 80px;
		height: auto;
	}
}
/* ===============================================
#timeline
=============================================== */
.inview--to_top--delay1,.inview--to_top--delay2,.inview--to_top--delay3 {
	img {
		position: static;
	}
}

.timelime_wrap {
	position: relative;
	.lead {
		position: relative;
		width: 86%;
		margin:0 auto;
		padding-top: 30px;
		text-align: center;
		.img1 {
			margin-top: 0;
			margin-left: 0;
		}
		.img2 {
			position: static;
			margin-top: 25px;
		}
	}
	.inview {
		text-align: center;
	}
	.inview--to_top img {
		max-width:100%;
		height:auto;
		margin-top: 25px;
	}
	.tl_img15,.tl_img16,.tl_img17,.tl_img18 {
		display: none;
	}
}
.timeline {
	position: relative;
	height: auto;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 60px;
	.tl_line {
		display: none;
	}
	.inner {
		width: 94%;
		height: auto;
	}
}

.tl_img {
	position: static;
	bottom:0;
}

.tl_blocks {
	width:86%;
	margin:0 auto;
	position: relative;
	&>h2 {
		margin-bottom: 30px;
		img {
			margin-left: 0;
		}
	}
}
.tl_block {
	position: static;
	background-color:#fff;
	border:dashed 3px  #e6ce95;
	@include border-radius(10px);
	padding:30px;
	&+.tl_block {
		margin-top: 30px;
	}
	&>img {
		display: none;
	}
	.ttl{
		position: static;
	}
	.subttl,
	.txtarea,
	.img,.inner_1,.inner_2 {
		position: static;
		margin-top: 20px;
		max-width:100%;
		height: auto;
		img {
			margin:0 auto;
			display: block;
		}
	}
}

.tl_link {
	margin-top: 40px;
	padding-top: 40px;
	padding-bottom: 60px;
	img {
		max-width:86%;
		margin:0 auto;
	}
	a {
		margin-top: 13px;
	}
}
/* ===============================================
concept
=============================================== */
.concept {
	.mv{
		position: absolute;
		right:0;
		top:0;
		width:auto;
		width: 220px;
	}
	.content_area {
		width: 100%;
	}
	.subttl {
		font-size: 2.0rem;
		text-align: left;
		background-image:none;
		width: 92%;
		height: auto;
		line-height: 1.6;
		margin:30px auto 0;
		position: relative;
		background-color:#fff;
		@include border-radius(10px);
		padding:15px 20px;
		box-sizing: border-box;
	}
	.txt {
		font-size: 1.6rem;
		text-align: left;
		padding-left: 0;
		width: 92%;
		margin:25px auto 0;
		line-height: 1.8;
	}

	.backgrond-color--lightgreen {
		padding-top: 40px;
		padding-bottom: 40px;
		img {
			max-width:92%;
			height:auto;
		}
		.c_img_1 {
			img {
				max-width:100%;
			}
			width: 300px;
			margin:30px auto 0;
			.btn1,.btn2 {
				img {
					width: 70px;
				}
			}
			.btn1 {
				top: 127px;
				left: 13px;
			}
			.btn2 {
				top: 227px;
				left: 174px;
			}
		}
		.msg {
			margin-top: 40px;
		}
	}
}
.navigation {
	padding-top: 40px;
	padding-bottom: 80px;
	.lower_header--concept_2 {
		margin-bottom: 20px;
	}
	.lower_header--concept_3 {
		margin-bottom: 6px;
	}
	.btns {
		ul {
			text-align: center;
			font-size: 0;
			li {
				display: block;
				margin:0 auto;
				width: 92%;
				& + li {
					margin-top: 20px;
				}
			}
		}
	}
	section + section {
		margin-top: 40px;
	}
	section {
		img {
			max-width:92%;
			height: auto;
		}
	}
}
/* ===============================================
graduate
=============================================== */
.gr_mv {
	text-align: center;
	margin-top: -46px;
	margin-bottom: 40px;
	img {
		width: 300px;
		height: auto;
	}
}
.graduate {
	.lead {
		width: 92%;
		padding-bottom: 70px;
		.content_area {
			position: relative;
		}
		h2 {
			margin-top: 6px;
			margin-bottom: 30px;
			text-align: center;
		}
		h2,p {
			position: relative;
			z-index:2;
			text-align: center;
		}
		img {
			max-width:100%;
			height:auto;
		}
	}
	.lead1,.lead2 {
		.img {
			position: static;
			img {
				margin:25px auto 0;
				display: block;
			}
		}
	}

	.iv1 {
		padding-bottom: 30px;
	}
	.backgrond-color--lightgreen.iv2 {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.step {
		width: 92%;
		height: auto;
		background: none;
		background-color: #fff;
		position:relative;
		margin:0 auto;
		padding: 52px 30px 30px;
		box-sizing: border-box;
		@include border-radius(10px);
		border:2px dashed #9fdcd8;
		box-sizing: border-box;
		.ttl {
			position: absolute;
			top:-32px;
			left: 0;
			right: 0;
			margin: auto;
			text-align: center;
		}
		.content {
			width: 100%;
			.img {
				float: none;
				padding-right: 0;
				text-align: center;
			}
			.txt {
				padding-top: 0;
			}
		}
		.content + .content {
			margin-top: 30px;
		}
	}

	.interview {
		width: 88%;
		margin:30px auto 0;
		.txt + .txt {
			margin-top: 28px;
		}
		.green{
			p:before {
				width: 22px;
			}
		}
		.img {
			text-align: center;
			margin-top: 40px;
			margin-bottom: 40px;
			img {
				max-width:100%;
				height: auto;
			}
		}
	}
}
/* ===============================================
日々の
=============================================== */
.hb {
	.content_area {
		padding-top:40px;
	}
	.content_area>.txt{
		line-height: 1.8;
	}
	.blocks {
		width: 100%;
		margin:0 auto;
		position: relative;
		padding-bottom: 80px;
	}
	.block,
	.block1,
	.block2,
	.block3, {
		position: relative;
		top:0;
		right:0;
		left:0;
		bottom:0;
		max-width:86%;
		width:100%;
		margin:0 auto;
		display: block;
		border:2px #565a55 solid;
		@include border-radius(10px);
		background:#fff;
		padding:20px;
		&>img {
			display: none;
		}
		.img,.ttl,.txt {
			position: static;
		}
		.img {
			position: absolute;
			right: 0;
			left: auto;
			top: -50px;
			img {
				max-width:100px;
				height: auto;
			}
		}
		.txt {
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: left;
			margin-top: 15px;
			margin-left: 0;
		}
	}
	.block + .block {
		margin-top: 60px;
	}
}

.hb {
	.mv {
		width: 150px;
	}
	.content_area {
		width: 86%;
		margin:0 auto 40px;
	}
}

/* ===============================================
pagenavi
=============================================== */
.wp-pagenavi {
	margin-top: 40px;
	font-size: 0;
	a,span {
		padding:0;
		box-sizing: border-box;
		margin-left: 8px;
		margin-right: 8px;
	}

}
