extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span コンセプト
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_concept.png`, alt="",width="665").mv
			.backgrond-color__inner
				section.content_area
					h2.subttl 一人ひとりの個性を出発点に、社会で生き抜く力を育てます。
					.txt
						p 子どもから大人への過渡期、<br>
						| 広い世界に羽ばたいていくための自己形成の過程にいる高校生。<br>
						| <br>
						| 私たちは、彼らの内面から湧き出る興味関心をていねいに拾い上げ、<br>
						| 教科学習の枠組みを超えた、より社会的な学びにつながる問いを彼らに投げかけます。<br>
						| <br>
						| “自分”を出発点に広がっていく探究や議論の中で彼らは自信を育み、<br>
						| 多様な大人との関わりから、将来を具体的に考え、動くきっかけを得ます。<br>
						| <br>
						| 大きく葉を広げるヘゴシダの木の下で、彼らは人生を切り拓く力を育むのです。
		.backgrond-color--lightgreen
			section
				h2.ttl
					img(src=`${assets_prefix}images/ttl_concept_1.png` width="244" alt="5つのサポート")
				.c_img_1
					img(src=`${assets_prefix}images/img_c_1.png` width="608" alt="学習 基礎学力の回復、 試験・受験対策、 探究学習 キャリア 進学・就職・留学など 幅広いキャリア支援、 年10回の「出会い場」 心理 カウンセリング、面談、 外部組織との連携サポート 個別理解 ペアレント 年3回の保護者面談、 保護者カウンセリング、 個別相談、 個別カウンセリング、 親の語り場 ナラティブ 月1回の「語り場」 自己変容 能動的なキャリア形成")
					a(href="/blog/category/cat11/").btn1
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
					a(href="/blog/category/cat10/").btn2
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
			section.msg.ac
				img(src=`${assets_prefix}images/img_c_msg_pc.png` width="960" alt="学びの森代表・副代表からのメッセージ 不登校、そこから自分を広げ、人と社会とつながっていく。皆さんにまずお伝えしたいのは、「子どもは必ず変わる」ということです。不登校という経験を子ども自身の成長・変容のきっかけにすることが、私たちの仕事です。学びの森では、高卒資格の取得、そして大学や専門学校など次の進路へ踏み出すためのサポートはもとより、教科の枠を越えた豊かな学びによって彼らの自信を取り戻し、世界を広げていってもらうことを大切にしています。多感で吸収力のある高校生の時期に様々な道を生きる大人に出会うことで、新しい自分の存在に気づく子どもたち。皆、自分の道を見つけてたくましく巣立ってくれます。子どもの持つ可能性を信じて、ぜひ私たちの門をたたいてみてください。 同じ子どもの不登校を経験した母として、親御さんの心を支えたい。 私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").pc.am
				img(src=`${assets_prefix}images/img_c_msg_sp.png` width="560" alt="学びの森代表・副代表からのメッセージ 不登校、そこから自分を広げ、人と社会とつながっていく。皆さんにまずお伝えしたいのは、「子どもは必ず変わる」ということです。不登校という経験を子ども自身の成長・変容のきっかけにすることが、私たちの仕事です。学びの森では、高卒資格の取得、そして大学や専門学校など次の進路へ踏み出すためのサポートはもとより、教科の枠を越えた豊かな学びによって彼らの自信を取り戻し、世界を広げていってもらうことを大切にしています。多感で吸収力のある高校生の時期に様々な道を生きる大人に出会うことで、新しい自分の存在に気づく子どもたち。皆、自分の道を見つけてたくましく巣立ってくれます。子どもの持つ可能性を信じて、ぜひ私たちの門をたたいてみてください。 同じ子どもの不登校を経験した母として、親御さんの心を支えたい。 私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").sp.am

		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					p.ac
						a(href='/manabi1', style='margin-top:7px;')
							img(src=`${assets_prefix}images/btn_c_1.png` width="439" alt="自分の力でキャリアを選択し、掴みとる力を。")
				section.mk_link
					h2.ac
						img(src=`${assets_prefix}images/ttl_aruhi.png`, width='148', height='24', alt='ある日の学び')
					p.ac
						a(href='/aruhi', style='margin-top:7px;')
							img(src=`${assets_prefix}images/btn_mk_2.png`, width='870', height='318', alt='ある日の学び')
