extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--mk
		h1.ttl
			span ある日の学び
	.backgrond-color--lightblue
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.ttl
								h2.linetext--blue--wavy 自分の力でキャリアを選択し、掴みとる力を。
							ul.list-style--leaf.pc
								li
									span 基礎学力の回復　　　　　……　一人ひとりの学力に合わせた教材での個別学習
								li
									span 高卒資格取得　　　　　　……　連携している通信制高校のレポート、試験を学びの森で
								li
									span キャリア・進路指導　　　……　大学・専門学校、留学、就職など幅広いキャリア支援
								li
									span 探究学習　　　　　　　　……　探究、議論、発表など社会で必要な力をつける学習
								li
									span 生活面・心理面サポート　……　体験活動、カウンセリング、掃除や森の手入れなど
							ul.list-style--leaf.sp
								li
									span 基礎学力の回復<br>一人ひとりの学力に合わせた教材での個別学習
								li
									span 高卒資格取得<br>連携している通信制高校のレポート、試験を学びの森で
								li
									span キャリア・進路指導<br>大学・専門学校、留学、就職など幅広いキャリア支援
								li
									span 探究学習<br>探究、議論、発表など社会で必要な力をつける学習
								li
									span 生活面・心理面サポート<br>体験活動、カウンセリング、掃除や森の手入れなど
					img(src=`${assets_prefix}images/mk_img_1.png` width="233" alt="").img1
					img(src=`${assets_prefix}images/btn_mk_1_off.png` width="212" alt="高認受験対応 通信制高校に在籍せず、文科省の高卒認定試験で大学受験資格を得ることも可能です。").rollover.img2
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--blue
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ハイスクール<br>週4日　高校1~3年生　定員15名
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ハイスクール
									.icon 週4日　高校1~3年生　定員15名
						.content_area_wrapper
							h4 時間割
							.table_wrapper--basic_table.timetable
								table
									tbody
										tr.head
											th
											td 月
											td 火
											td 水
											td 木
											td 金
										tr
											th 1限目
												span.sub 10:30<br class="sp">~<br class="sp">11:50
											td 数学
											td 通信制<br class="sp">課程
											td ー
											td 通信制<br class="sp">課程
											td 英語
										tr
											th 昼休み
											td &nbsp;
											td &nbsp;
											td ー
											td &nbsp;
											td &nbsp;
										tr
											th 2限目
												span.sub 13:00<br class="sp">~<br class="sp">14:20
											td 通信制<br class="sp">課程
											td 国語
											td ー
											td 探究
											td 国語
										tr
											th 3限目
												span.sub 14:40<br class="sp">~<br class="sp">16:00
											td 英語
											td 数学
											td ー
											td 探究
											td 通信制<br class="sp">課程
							.inner-column--3
								.txtbox--has_wave_ttl.box
									h3.linetext--blue--wavy
										span.ttl1 森の語り場
										span.ttl2 (月1回)
									h4.subttl これまでの自分と向き合い、<br>前へ進むための「語り」
									.txt
										p 各回1名が自らのライフストーリーを仲間に向けて語ります。辛い経験を自分の言葉で振り返りこれまでの自分と向き合うことは、子どもが変わるための大切な一歩です。
								.txtbox--has_wave_ttl.box
									h3.linetext--blue--wavy
										span.ttl1 森の出会い場
										span.ttl2 (年10回)
									h4.subttl その道のプロフェッショナルの<br>人生に出会う。
									.txt
										p 子どもたちが興味ある分野でこだわりをもって仕事をしている方々を招いて、時には仕事体験を交えながらお話を伺います。
										p.sub 例：伝統工芸職人、微生物研究者、TVディレクター、美容師、舞台演出家、パティシエなど
								img(src=`${assets_prefix}images/img_method_1.png`, alt="",width="223").img

			div.border-area_wrapper
				.ex_img1
					img(src=`${assets_prefix}images/mk_img_3.png` width="86" alt="")
				section.border-area.border-area--blue.border-area--m
					.border_header
						img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
						img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
						.ttl_area_wrapper.sp
							.ttl_area
								.ttl_prefix
									.inner
										p エクステンション
					.border-body
						.border-body_inner
							.sep-sp.sp
							.ttl_area_wrapper
								header.ttl_area
									h3.ttl_prefix.pc
										.ttl エクステンション
							.content_area_wrapper
								.inner-column--2
									.txtbox--has_wave_ttl.box
										h3.linetext--blue--wavy
											span.ttl1 思考と表現のワークショップ
										h4.subttl 金曜 19:00~21:30
										.txt
											p 物語や社会問題を題材に、問いを立て、皆で意見を出して話し合います。<br>フォーラムの企画・主催など、外部の人に対する発信も積極的に行います。
									.txtbox--has_wave_ttl.box
										h3.linetext--blue--wavy
											span.ttl1 個別小論演習
											span.ttl2 (年10回)
										h4.subttl 学習日時は要相談
										.txt
											p AO・推薦入試に合格するための、志望校別・小論文対策講座。
					.inview.inview--to_top--delay1
						img(src=`${assets_prefix}images/mk_img_2.png` width="387" alt="より発展的な学びを追求したい……という方へ")

			section.border-area.border-area--blue.con3
				.border_header
					img(src=`${assets_prefix}images/border--blue--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ホームスクール<br>週1日来校 ＋ 自宅学習
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ホームスクール
									.icon 週1日来校 ＋ 自宅学習
						.content_area_wrapper
							p.size_l 他の子どもが来ない水曜日に来ていただき、1週間の学習内容の相談、カウンセリング、進路指導を個別に行います。
				.inview.inview--to_top--delay1
					img(src=`${assets_prefix}images/mk_img_4.png` width="387" alt="まだ他の子と一緒に学ぶのは……という方へ")
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/mk_img_5.png` width="268" alt="")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower.mk
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--results
						span 進路実績
				.area--normal_border.area--normal_border--results
					table.txttable1
						tr
							th 大学：
							td 同志社大学（文）、立命館大学（国関）、龍谷大学（文）、佛教大学（社会、歴史）、京都産業大学（理）、成安造形大学、京都精華大学（社、芸、デ）、京都学園大学（経）、花園大学（文）、大阪電通通信大学（工）
						tr
							th 短大：
							td 関西外国語短大（英）、光華女子短大（ライフ）、聖母女学院短大（生活）
						tr
							th 専門：
							td 京都桂看護学校、京都府医師会看護学校、南丹看護専門学校、京都自動車専門学校
					.sep
						img(src=`${assets_prefix}images/mk_img_7.png` width="959" alt="")
					h2.mb5
						img(src=`${assets_prefix}images/mk_img_6.png` width="134" alt="その先は......")
					p.blue 自動車ディーラー、助産師、看護師、保育士、パティシエ、立命館大学大学院、カリフォルニア大学留学、学習塾室長、人材派遣会社、電気機器メーカー、中学教員、デザイナー、トリマー…
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入学金　¥100,000
						.aside
							p ● 価格は全て税別です。<br>● ハイスクール入学時には、活動費¥6,000/月が別途かかります。<br>● 学費には教材費など諸費を含みます。
					.info
						.left
							table
								tr
									th ハイスクール
									td 64,000円／月
								tr
									th ホームスクール
									td 36,000円／月
						.right
							h3.ttl エクステンション
							table
								tr
									th 思考と表現のワークショップ
									td 8,000円／月
								tr
									th 個別小論演習
									td 20,000円／月
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ　→　保護者面談　→　本人面談　→　無料体験1週間　→　入学
					p.sub ※ [ 1ヶ月返金保証制度 ] 入学後1ヶ月以内に通学できなくなった場合、入学金と翌月分以降の年間活動費を返金いたします。
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower.mk
		.backgrond-color__inner
			section.mk_link
				h2.ac
					img(src=`${assets_prefix}images/ttl_aruhi.png` width="148" height="24" alt="ある日の学び")
				p.ac
					a(href='/aruhi', style='margin-top:7px;')
						img(src=`${assets_prefix}images/btn_mk_2.png`, width='870', height='318', alt='ある日の学び')
