extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			p.gr_mv
				img(src=`${assets_prefix}images/gr_img_1.png` width="796" alt="")
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_2.png` width="297" alt="ハイスクール ふじわらくん")
					p
						img(src=`${assets_prefix}images/gr_img_4.png` width="431" alt="自分が抱えていた問題に気づかせてもらった。あれこれ言われるし考えさせられるけど居心地がよかった。")
					.img
						img(src=`${assets_prefix}images/gr_img_3.png` width="492" alt="")
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の夏、いじめがきっかけで不登校に。<br>中2 夏　～　高3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都学園大学経済学部へ。
			section.interview
				.green.txt
					p 最初の頃は、めっちゃ腹立ってたわ、おまえに。（笑）「世の中の95%は敵」って言ってたよな。
				.black.txt
					p
						span.head ふじわら)
						| 最初は全てに対して「なんでそんなこと言われなあかんねん」って思ってたし、反抗ばっかりしてましたね。まぁでもガマンしようかな、という感じにだんだんなってきて。今思えば、あれこれ言われるのが嬉しかったんでしょうね。生きている実感が得られたというか。塾長には当時「おまえは100回言ってやっと1回きくな」って言われてました。
				.green.txt
					p ふじわらは新しいことへの抵抗が強くて、変化を怖がってたよな。枠組みの中に自分を押し込んでしまっている感じがした。それをどう揺さぶろうと毎日考えてたんや。ご両親とも何度も話をして、最初は遠巻きに見ていたお父さんが動いてくれるようになって、だんだん家族も変わっていった。
				.black.txt
					p
						span.head ふじわら)
						| ここに来るようになって、そういう自分の問題を自覚できるようになったことは大きかったです。枠の中にいることで、向き合うべきことから逃げていたなって。人間的に成長させてもらったなと思います。あのまま普通の学校に行っていたらって考えると、社会で生きていく力はつかなかったんじゃないかな。
				.green.txt
					p 学校とアウラ（現：学びの森）は何が違った？
				.black.txt
					p
						span.head ふじわら)
						| 自然と勉強する気になってしまう環境ですよね。すぐ側に本がたくさんあって気になったことをパッと調べられるし、先生たちがそれに気づいて「こんなんもあるで」って更に知らない世界を見せてくれる。そうそう、何も言ってないのに、調子が悪い時とかも「どうしたん？なんかあったか？」って聞いてくれるんですよ。それで、「実は……」って話ができる。だから居心地がよかったです。<br><br>あぁ、あと、ここに来はじめて間もない頃、朝少し早く教室に着いたら、塾長が一人で窓の外を見てたんです。何してるんやろうと思ったら、外にいるハトと喋ろうとしてたんですよ。「おまえも来い」って呼ばれて、僕も一緒にハトに喋りかけたんですけど、なんかおもしろい人やなって思いました。楽しいところやなって。
				.img
					img(src=`${assets_prefix}images/gr_img_5.png` width="322" alt="")

				.green.txt
					p 今も思考と表現のワークショップに来てくれてるけど、活動はどうや？けっこうおもしろいやろ？
				.black.txt
					p
						span.head ふじわら)
						| 遠慮せずに自分の意見を言えるし、ありきたりな話で終わらないから楽しいですね。大学では議論の場があっても最初から結論が決まっているようなことが多いんですけど、ここでは全然結論が出ない。でも、簡単に結論が出ることの方が少ないと思うんです。思考のワークショップを続けているおかげで、色々なことを自分事として捉えて考える癖がついたと思います。
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。").pc
					img(src=`${assets_prefix}images/gr_msg_1_sp.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 不登校を恥じる必要はないし、自己否定をしないでほしい。世の中は広いから、学校に囚われず、広い世界を見てほしいです。親御さんに対しては、まずは学校に戻すことを考えないでほしいです。学校のことを中心に考えてしまうのではなく、子ども本人のこと、本人と社会のことを考えてもらいたいですね。").sp
		.backgrond-color--lightgreen.iv2
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_6.png` width="297" alt="ハイスクール みなみくん")
					p
						img(src=`${assets_prefix}images/gr_img_8.png` width="362" alt="ここに来ると「なんとかなるか」と思えてくる。どんなに重くて暗い悩みも笑い飛ばしてくれるから。")
					.img
						img(src=`${assets_prefix}images/gr_img_7.png` width="513" alt="")
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の一学期、クラスの人間関係がきっかけで不登校に。<br>高2～高3 卒業＋卒業後1年の間、アウラ（現：学びの森）に通学。<br>一般入試により佛教大学歴史学部へ。
			section.interview
				.green.txt
					p お父さん、お久しぶりです。みなみは今も思考と表現のワークショップにも来てくれてるし、去年も何度かカウンセリングしたよな。おまえがしんどくなった時、お父さんからもお母さんからも電話がかかってきて。
				.black.txt
					p
						span.head みなみ）
						| 大学の単位をとるための作戦を一緒に立ててもらったんですよね。
				.black.txt
					p
						span.head 父）
						| ありがとうございました。紹介していただいた病院でもらった薬も合ったみたいで、随分よくなりました。塾長は私たちにとって水先案内人みたいな存在ですね。いつも頼りにさせてもらってます。
				.black.txt
					p
						span.head みなみ）
						| 塾長と話すと、こんなことで悩んでいるのがあほらしいなと思える。だいたい、てきとうなこと言って笑い飛ばされるから。（笑）なんとかなるか、と思えてくる。
				.green.txt
					p あの時は、もうおまえが「もう生きてられへん」って言い出して、「なんでや？その中身は何なんや？って整理することから始めたよな。で、大学をやめたいっていう話が出て、どうせなら単位をとってからにしようってことで、簡単に単位をとれる授業を調べたりして……
				.black.txt
					p
						span.head みなみ)
						| 塾長が「とりあえず授業出んでいいし学食で飯食って帰ってこいよ」って言ってくれて、それならできると思って学校に行きだした。行ったら授業を受けなあかんと思い込んでたから、それは助けられたな。
				.green.txt
					p アウラ（現：学びの森）は、みなみにとってどんな場所なん？
				.black.txt
					p
						span.head みなみ)
						| 色々やらされる。明日も大掃除に来なあかんし。でも別に嫌ではない。ここに来て同年代とちゃんと喋れるようになったかな。それまでは気を使ってうまく話せなかったけど、皆で行事に出かけて、帰ってきてからも教室でトランプしたりして、それが楽しかった。高校を卒業してからも1年間来させてもらったけど、その1年がなかったら大学も続けられなかったと思う。
				.black.txt
					p
						span.head 父)
						| うちは妹も不登校でしたし、ここに来る前は家の中がずっとピリピリしていました。塾長のおかげで、家の中の空気も大きく変わりました。
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_2_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ みなみ) 学びの森のような場所に通うのはお金がかかるけれど、お金を惜しまずにその子に合うところに通わせてあげてほしいです。それで子どもの人生が大きく変わると思うので。").pc
					img(src=`${assets_prefix}images/gr_msg_2_sp.png` width="720" alt="父) 自分たちだけで解決しようとしても、何ともならないこともあります。内に抱え込まずに、広く情報を集めて、早めに学びの森のような新たな道や病院など外に助けを求めた方がいいと思います。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					p.ac
						a(href='/manabi1', style='margin-top:7px;')
							img(src=`${assets_prefix}images/btn_c_1.png` width="439" alt="自分の力でキャリアを選択し、掴みとる力を。")
