@charset "UTF-8";
@import "compass";
@import "mixin_common";

//pcレイアウトでは表示
.pc {
	display: block;
}
//レスポンシブレイアウトで非表示
.sp {
	display: none;
}
//スマートフォンレイアウトでblockに変更し、jsでの判定に使用する
//mediaQueryの判定タイミングをjsでも利用するため
#responsive_flg {
	display: none;
}
/* tablet 〜960
------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
	@import "tablet";
}

/* sp 〜640
------------------------------------------------------------*/
@media only screen and (max-width: 321px) {
	@import "sp";
}
