@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */
@include reset;
$base_minwidth:1200px;
.backgrond-color--beige {
	min-width:$base_minwidth;
	background: url('../images/bg_beige.jpg') repeat center center;
}

.backgrond-color__inner {
	min-width:$base_minwidth;
	overflow: hidden;
}
body {
	@extend .backgrond-color--beige;
	min-width: 1100px;
}
#wrap {
	min-width: 1100px;
	background:url(../images/plant_top.png) repeat-x center top;
	padding-top: 227px;
}
a {
	@include opacity--anim(0.4);
}
a.nolink {
	cursor: default;
	color: #a1a2a1 !important;
	&:hover {
		color: #a1a2a1!important;
		@include opacity(1);
	}
}
.tel_link,.tel_link a{
	cursor: default;
	&:hover {
		@include opacity(1);
	}
}

.main_header,
.sub_header {
	text-align: center;
}

.sub_header a {
	display: inline-block;
	margin-left: 42px;
	margin-right: 42px;
}

.main_header {
	margin-bottom: 150px;
}

.sub_header {
	margin-bottom: 200px;
}

.inquiry {
	margin-bottom: 77px;
}

.txt {
	margin-bottom: 164px;
}

/* ===============================================
table
=============================================== */
%border-area {
	margin-top: 30px;
	@include border-radius(10px);
	border: 1px solid #565a55;
	background-color: #fffffd;
	width: 100%;
	box-sizing: border-box;
}
.table_wrapper--basic_table {
	@extend %border-area;
	table {
		width: 100%;
		table-layout: fixed;
	}
	th,td {
		border-top: 1px #565a55 dashed;
		vertical-align: middle;
		padding:8px 50px;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
	th {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: left;
		width: 290px;
		box-sizing: border-box;
	}
	td {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: (28 / 15);
		text-align: left;
		border-left: #565a55 1px solid;
	}
	.inner_table {
		display: table;
		table-layout: fixed;
		.row {
			display: table-row;
		}
		.row + .row {
			.col {
				padding-top: 12px;
			}
		}
		.col:first-child {
			width: 235px;
			padding-right: 35px;
			box-sizing: border-box;
		}
		.col {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.table--simple {
	table-layout: fixed;

	th,td {
		padding:8px 20px;
		box-sizing: border-box;
	}
	th {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		line-height: (28 / 15);
		border-top: 1px solid #dcdcdc;
		width: 283px;
	}
	td {
		color: #565a55;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: (28 / 15);
		text-align: left;
		border-top: 1px solid #dcdcdc;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
}
/* ===============================================
area
=============================================== */
.area--normal_border {
	@extend %border-area;
	@extend .clearfix;
	padding:38px 31px;
	box-sizing: border-box;
	.col--left {
		float: left;
	}
	.col--right {
		float: right;
	}
	.ttl {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
	}
	.map {
		margin-top: 20px;
		border:1px #565a55 solid;
		iframe {
			vertical-align:middle;
		}
	}
	.txt {
		margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: (26 / 14);
		text-align: left;
		margin-bottom: 0;
	}
}

%wave_format {
	content: '';
	width:100%;
	height: 6px;
	position: absolute;
	left:0;
}
.area--wave_border {
	background: #fff;
	position: relative;
	padding:31px 30px;
	margin-top: 30px;
	&:before {
		background: url(../images/line-wave_above.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		top:-5px;
	}
	&:after {
		background: url(../images/line-wave_below.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		bottom:-5px;
	}
}
/* ===============================================
tab_content
=============================================== */
.tab_content {
	& + .tab_content {
		margin-top: 120px;
	}
}
.blank {
	color: #2b978d;
	&:after {
		content:"";
		@include text_indent_none();
		@include sprite_background_retina(icon_blank);
		display: inline-block;
		margin-left: 10px;
	}
}
/* ===============================================
footer
=============================================== */
#footer {
	min-width:$base_minwidth;
}
.footer_img {
	background:url(../images/wave_img.jpg) no-repeat center center;
	background-size:cover;
	height:412px;
	width: 100%;
	min-width:$base_minwidth;
	position: relative;
	canvas {
		min-width:1200px;
	}
	.top {
		width: 100%;
		text-align: center;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}
	.bottom {
		position: absolute;
		bottom:0;
		width: 100%;
		text-align: center;
		canvas {
			vertical-align:bottom;
		}
	}
	.btns {
		position: absolute;
		right:0;
		top:-38px;
		width: 100%;
		.inner {
			width: 960px;
			margin:0 auto;
			position: relative;
			text-align: right;
		}
	}
}


.footer_info {
	margin-top: 52px;
	.inner {
		width: 1040px;
		margin:0 auto;
		padding-bottom: 60px;
		@extend .clearfix;
	}
	.col1 {
		width: auto;
		float: left;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: (28 / 16);
		text-align: left;
		a.map_link {
			&:before {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(icon_map);
				display: inline-block;
				margin-right: 7px;
				margin-left: 20px;
			}
			span {
				border-bottom: 1px dashed #565a55;
			}
		}
	}
	.col2 {
		width: auto;
		float: right;
		margin-right: 63px;
		padding-top: 50px;
		a {
			display:inline-block;
			margin-left: 20px;
		}
	}
}

.caution {
	width:654px;
	font-weight:700;
	text-align: center;
	border-top: 2px solid #14b4a6;
	padding-top: 15px;
	position: absolute;
	a {
		margin-left: 0;
		margin-right: 0;
		color: #14b4a6;
	}
	left: 400px;
	top: 20px;
}
.caution_wrap {
	width:1100px;
	margin:0 auto;
	position: relative;
}

.basic_form {
	width:680px;
	margin:0 auto;
	.form_group {
		display:table;
		width: 100%;
		.ttl {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
		}
		.input {
			display: table-cell;
			vertical-align: middle;
			text-align: left;
			width: 422px;
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				height: 34px;
				line-height: 34px;
				width: 100%;
				padding-left: 4px;
				padding-right: 4px;
				box-sizing: border-box;
			}
			textarea {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				width: 100%;
				height: 128px;
				box-sizing: border-box;
			}
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 60px;
	}

	.select_wrapper {
		position: relative;
		width: 100%;
		&:after {
			content: "";
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/icon_select.png) no-repeat left top;
			background-size: 34px auto;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 4;
		}
	}

	.select_wrapper > select {
		height: 102%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 105%;
		z-index: 5;
	}

	.submit_wrap {
		margin-top: 60px;
	}

	.wpcf7-form-control-wrap.zip {
		display:inline-block;
		margin-left: 10px;
		width:8em;
	}

	.captcha {
		margin-top: 70px;
		text-align:center;
		.wpcf7-form-control-wrap {
			display:inline-block;
		}
	}

	.submit_btn {
		border-radius: 5px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #ffc664;
		width: 100%;
		height: 58px;
		line-height: 58px;
		cursor:pointer;
		&:hover {
			background-color: #ffe1ac;
		}
	}
}
div.wpcf7-response-output {
	max-width: 80%;
	width:680px;
	margin:0 auto;
	text-align:left;
}
.page_nav {
	@include border-radius(10px);
	border:1px solid #565a55;
	background-color: #fffffd;
	width: 960px;
	height: 54px;
	margin:0 auto 100px;
	ul {
		font-size: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		margin:0 26px;
		a {
			display: block;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 54px;
			&:after {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(arrow_down);
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
}

/* ===============================================
tab_content
=============================================== */
%more {
	text-align: right;
	position: absolute;
	top: 0;
	right: 7px;
	a {
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height:2; /* フォント置換による類似 */
		border-bottom: 1px #565a55 dashed;
		display: inline-block;
	}
}
.tab_content {
	position: relative;
	& + .tab_content {
		margin-top: 120px;
	}

	.more {
		@extend %more;
	}
}
/* **************************************************
Modules
************************************************** */
@include modules;

