.pc {
	display: none;
}
.sp {
	display: block;
}
$base_minwidth:100%;
#responsive_flg {
	display: block;
	position: absolute;
	left:-9999px;
}
body {
	-webkit-text-size-adjust: none;
	//overflow-x: hidden;
	min-width: 320px;
}
body,div,p,h1,h2,h3,h4,h5,li,a,ul,li,dl,dt,dd,#wrap,header,footer,article,section,aside{
	box-sizing:border-box;
}

$base_minwidth:100%;
.backgrond-color--beige {
	min-width:$base_minwidth;
	background: url('../images/bg_beige.jpg') repeat center center;
}

.backgrond-color__inner {
	min-width:$base_minwidth;
	overflow: hidden;
}

#wrap {
	min-width: auto;
	background:url(../images/plant_top.png) repeat-x center top;
	padding-top: 140px;
	background-size: 640px auto;
}

.sub_header a {
	display: block;
	margin-left: 0;
	margin-right: 0;

	img {
		width:148px;
		height: auto;
	}
	& + a {
		margin-top: 25px;
		img {
			width:118px;
			height: auto;
		}
	}
}

.sub_header > a:first-child img{
	width:118px;
}

.main_header {
	margin-bottom: 50px;
	img {
		max-width: 76%;
		height: auto;
	}
}

.sub_header {
	margin-bottom: 50px;
}

.inquiry {
	margin-bottom: 30px;
	img {
		max-width:86%;
	}
}

.txt {
	margin-bottom: 60px;
	img {
		max-width:96%;
	}
}

/* ===============================================
footer
=============================================== */
#footer {
	min-width:$base_minwidth;
}
.footer_img {
	background:url(../images/wave_img.jpg) no-repeat center center;
	background-size:cover;
	height:206px;
	width: 100%;
	min-width:$base_minwidth;
	position: relative;
	canvas {
		min-width:100%;
	}
}


.footer_info {
	margin-top: 27px;
	.inner {
		width: 100%;
		margin:0 auto;
		padding-bottom: 30px;
	}
	.col1 {
		width: auto;
		float: none;
		padding-left: 10px;
		padding-right: 10px;
		text-align: center;
	}
	.col2 {
		width: auto;
		float: none;
		margin-right:0;
		padding-top: 25px;
		a {
			display:block;
			margin-left: 0;
			text-align: center;
			& + a {
				margin-top: 20px;
			}
			img {
				max-width:65%;
				height:auto;
			}
		}
	}
}

.sp_sep {
	display: block;
	margin-top: 60px;
	font-size:0;
	a {
		width:50%;
		display:inline-block;
		vertical-align:middle;
		margin-top: 0!important;
		img {
			max-width:86%;
			height: auto;
			margin:0 auto;
		}
	}
}

.caution {
	width:96%;
	font-weight:700;
	text-align: center;
	border-top: 2px solid #14b4a6;
	padding-top: 10px;
	margin-top: 20px;
	position: static;
}
.caution_wrap {
	width:96%;
}

.basic_form {
	width:90%;
	margin:0 auto;
	.form_group {
		display:block;
		width: 100%;
		.ttl {
			display: block;
			vertical-align: middle;
			font-weight: 700;
			margin-bottom: 8px;
		}
		.input {
			display: block;
			vertical-align: middle;
			width: 100%;
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1; /* フォント置換による類似 */
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 30px;
	}
	.captcha {
		margin-top: 30px;
	}

}

/* ===============================================
tab
=============================================== */
.tab_content {
	display: none;
	.more {
		text-align: center;
		position: static;
		margin-top: 20px;
		a {
			font-size: 1.3rem; /* フォント置換による類似 */
		}
	}
}
