@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */
$base_minwidth:1200px;
.backgrond-color--beige {
	min-width:$base_minwidth;
	background: url('../images/bg_beige.jpg') repeat center center;
}
.backgrond-color--lightblue {
	min-width:$base_minwidth;
	background: url('../images/bg_blue.png') repeat center center;
	position: relative;
	&:before {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--top.png) repeat-x center center;
		top: -13px;
		left:0;
		z-index:1000;
	}
	&:after {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--bottom.png) repeat-x center center;
		bottom: -13px;
		left:0;
		z-index:1000;
	}

	&.nosep {
		&:after,&:before {
			display:none;
		}
	}
}
.backgrond-color__inner {
	min-width:$base_minwidth;
	overflow: hidden;
}
.backgrond-color--lightgreen {
	min-width:$base_minwidth;
	background: url('../images/bg_green.png') repeat center center;
}

.lower_header {
	background: url(../images/lower_ttl_back_1.png) repeat-x center center;
	background-size: auto 90px;
	line-height: 90px;
	height:90px;
	text-align: center;
	margin-top: 46px;
	position: relative;
	margin-bottom: -5px;
	z-index:3;
	.ttl {
		line-height: 90px;
		height:90px;
	}
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_outline.png') center center no-repeat;
		background-size: 109px;
		width:109px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
	min-width:1200px;
}

.content_area {
	width: 960px;
	margin:0 auto;
}

@for $i from 1 through 10 {
	.bg_p#{$i} {
		background:url(../images/h_pattern#{$i}.png) repeat center center;
		background-size: 280px auto;
	}
}

@for $i from 1 through 10 {
	.bg_p_l#{$i} {
		background:url(../images/h_pattern#{$i}_large.png) repeat center center;
		background-size: 960px auto;
	}
}
/* ===============================================
blog group
=============================================== */
.term_list {
	border-radius: 10px;
	border-width: 1px;
	border-color: #565a55;
	border-style: solid;
	background-color: #fffffd;
	width: 960px;
	box-sizing: border-box;
	margin:88px auto 0;
	padding-top: 15px;
	text-align: center;
	li {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 17px;
		display: inline-block;
	}
	a {
		color: #565a55;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (20 / 18); /* フォント置換による類似 */
		&:hover {
			color: #58b0a8;
			@include opacity(1);
		}
	}
}
.blog_list--lower {
	margin-top: 80px;
}
.blog_list {
	.list {
		margin-bottom: -75px;
		overflow:hidden;
		li {
			margin-bottom: 75px;
		}
		.desc *{
			color: #565a55;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (24 / 16); /* フォント置換による類似 */
			text-align: left;
		}
	}

	.ttl {
		color: #8c8346;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1.55556;
		text-align: left;
		margin-bottom: 7px;
	}
}
.tag_wrap {
	.tags {
		border-radius: 2px;
		background-color: #58b0a8;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		color: #ffffff;
		font-size: 1.2rem; /* フォント置換による類似 */
		font-weight: 500;
		text-align: center;
		padding:0 5px;
		margin-bottom: 5px;
		+ .sep {
			width: 10px;
			display: inline-block;
		}
	}
}
.tag_wrap--blog {
	.tags {
		color: #565a55;
	}
}
%border_base {
	border-radius: 10px;
	border-width: 1px;
	border-color: #8c8346;
	border-style: solid;
}
/* ===============================================
blog
=============================================== */
.lower_header--blog {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_blog.png');
		display: inline-block;
	}
}
.lower_header--blog + .backgrond-color--lightblue .term_list{
	margin-top: 13px;
}
.content_area--blog {
	.main_ttl {
		.ttl {
			color: #8c8346;
			font-size: 2.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.8; /* フォント置換による類似 */
			text-align: left;
		}
		padding-top: 100px;
		padding-bottom: 30px;
	}
	&>.inner {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (24 / 16); /* フォント置換による類似 */
		text-align: left;
		img {
			max-width:800px;
			height:auto;
			@extend %border_base;
		}
		.post_meta {
			margin-top: 60px;
		}
		.date {
			color: #8c8346;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: left;
		}
	}
}
.prev_next {
	@extend .clearfix;
	margin-top: 95px;
	a {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (24 / 16); /* フォント置換による類似 */
	}
	.prev {
		float: left;
		&:before {
			content:"";
			@include sprite_background_retina(arrow_prev_box);
			display: inline-block;
		}
		a {
			padding-left: 18px;
			vertical-align: 11px;
		}
	}
	.next {
		float: right;
		&:after {
			content:"";
			@include sprite_background_retina(arrow_next_box);
			display: inline-block;
		}
		a {
			padding-right: 18px;
			vertical-align: 11px;
		}
	}
}
.blog--relate {
	margin-top: 94px;
	padding-bottom: 70px;
}
.relate_img_1 {
	padding-left: 14px;
	& + .list {
		margin-top: 20px;
	}
}
/* ===============================================
case
=============================================== */
.lower_header--case {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_case.png');
		display: inline-block;
	}
}
.lead--case {
	@include hira_mincho;
	color: #565a55;
	font-size: 1.6rem; /* フォント置換による類似 */
	line-height: (40 / 16); /* フォント置換による類似 */
	text-align: left;
	width: 555px;
	margin:0 auto;
}
//detail
.content_area--case {
	padding-top: 80px;
	padding-bottom: 73px;

	.main_ttl {
		width: 960px;
		display:table;
		padding:68px 30px;
		box-sizing: border-box;
		@extend %border_base;
		.ttl {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			font-family: YuGo;
			color: #494c44;
			font-size: 2.2rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 22); /* フォント置換による類似 */
			span {
				background-color: #fffef6;
				display: inline-block;
				padding:8px 16px;
				box-sizing: border-box;
			}
		}
	}
	.inner {
		@extend .clearfix;
		margin-top: 93px;
	}
	.main {
		width: 500px;
		float: left;
		.ttl {
			color: #8c8346;
			font-size: 2.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.8; /* フォント置換による類似 */
		}
		.txt {
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (24 / 16); /* フォント置換による類似 */
			margin-top: 17px;
			margin-bottom: 0;
		}
		.sep {
			@include text_indent_none();
			@include sprite_background_retina(icon_case_sep);
			margin-top: 35px;
			margin-bottom: 32px;
			margin-left: 183px;
		}
	}

	.sub {
		width: 340px;
		float: right;
	}
	.meta,.thumb {
		background-color: #fffef6;
		width: 340px;
		box-sizing: border-box;
		@extend %border_base;
		p {
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 16); /* フォント置換による類似 */
			text-align: left;
		}
	}
	.meta {
		margin-bottom: 30px;
		padding:25px 46px;
		margin-top: 10px;
	}
	.thumb + .thumb {
		margin-top: 30px;
	}

	.post_meta {
		margin-top: 53px;
		text-align: center;
		.date {
			color: #8c8346;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: center;
		}
	}
}
/* ===============================================
movie
=============================================== */
.lower_header--movie {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_movie.png');
		display: inline-block;
	}
}
.movie_list {
	margin-top: 15px;
	.main_ttl {
		border-radius: 10px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #fffffd;
		width: 960px;
		box-sizing: border-box;
		font-size: 2.0rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 2.0rem; /* フォント置換による類似 */
		text-align: center;
		padding:17px 0;
	}
	.list {
		margin-top: 40px;
	}
	.list li {
		margin-right: 30px;
		width: 300px;
		margin-bottom: 35px;
	}
	.movie {
		@extend %border_base;
		width: 300px;
		height: 168px;
		box-sizing: border-box;
		overflow: hidden;
	}
	.txt {
		text-align: center;
		margin-top: 16px;
		.ttl {
			text-align: center;
		}
	}
}
.movie_list + .movie_list {
	margin-top: 127px;
}

/* ===============================================
movie
=============================================== */
%border_base {
	border-radius: 10px;
	border-width: 1px;
	border-color: #8c8346;
	border-style: solid;
}
.movie_list {
	margin-top: 15px;
	width: 960px;
	margin-left:auto;
	margin-right: auto;
	.main_ttl {
		border-radius: 10px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #fffffd;
		width: 960px;
		box-sizing: border-box;
		font-size: 2.0rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 2.0rem; /* フォント置換による類似 */
		text-align: center;
		padding:17px 0;
	}
	.list {
		margin-top: 40px;
	}
	.list li {
		margin-right: 30px;
		width: 300px;
		margin-bottom: 35px;
	}
	.movie {
		@extend %border_base;
		width: 300px;
		height: 168px;
		box-sizing: border-box;
		overflow: hidden;
	}
	.txt {
		text-align: center;
		margin-top: 16px;
		.ttl {
			text-align: center;
		}
	}
}
.movie_list + .movie_list {
	margin-top: 127px;
	padding-bottom: -0px;
}
.movie_list--wrap {
	.movie_list:last-child {
		padding-bottom: 180px;
	}
}
.lower_header {
	background: url(../images/lower_ttl_back_1.png) repeat-x center center;
	background-size: auto 90px;
	line-height: 90px;
	height:90px;
	text-align: center;
	margin-top: 46px;
	position: relative;
	margin-bottom: -5px;
	z-index:3;
	.ttl {
		line-height: 90px;
		height:90px;
	}
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_outline.png') center center no-repeat;
		background-size: 109px;
		width:109px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
	min-width:1200px;
}
/* ===============================================
access
=============================================== */
.lower_header--access {
	@extend .lower_header;
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access.png') center center no-repeat;
		background-size: 194px;
		width:194px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
}
.lower_header--access + .backgrond-color--lightblue {
	padding-top: 80px;
	padding-bottom: 150px;
}
.ttl--about {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_about.png') center center no-repeat;
		background-size: 100px auto;
		width:100px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--access {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access_2.png') center center no-repeat;
		background-size: 95px auto;
		width:95px;
		height: 22px;
		margin:0 auto;
	}
}
.ttl--relation {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_relation.png') center center no-repeat;
		background-size: 174px auto;
		width:174px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--history {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_history.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 23px;
		margin:0 auto;
	}
}

.ttl--media {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_media.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 26px;
		margin:0 auto;
	}
}

.table_wrapper--basic_table.timetable {
	border-radius: 10px;
	border:2px #565a55 solid;
	width: 756px;
	margin:0 auto;
	margin-top: 13px;
	th,td {
		padding:8px 0;
		text-align: center;
	}
	.head {
		th,td {
			color: #565a55;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.5; /* フォント置換による類似 */
		}
	}
	th {
		width: 150px;
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1.5; /* フォント置換による類似 */
	}
	.sub {
		color: #565a55;
		font-size: 1.2rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: 1.5; /* フォント置換による類似 */
		display: block;
	}
}

.table_wrapper--basic_table.relation,
.table_wrapper--basic_table.media {
	th {
		width: 215px;
		padding-right: 40px;
	}
}
.area--wave_border {
	.table--simple {
		th {
			width: 195px;
			padding-right: 40px;
		}
		td {
			padding-left: 40px;
		}
	}
}
#con5.tab_content {
	margin-bottom: 10px;
}
/* **************************************************
Modules
************************************************** */
@include modules;
