@charset "UTF-8";
@import "compass";
@import "setting";
@import "font";
@import "mixin_reset";
@import "mixin_module";
@import "mixin_common";
/* **************************************************
Base
************************************************** */

@include reset;
$base_minwidth:1200px;
.backgrond-color--beige {
	min-width:$base_minwidth;
	background: url('../images/bg_beige.jpg') repeat center center;
}
.backgrond-color--lightblue {
	min-width:$base_minwidth;
	background: url('../images/bg_blue.png') repeat center center;
	position: relative;
	&:before {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--top.png) repeat-x center center;
		top: -13px;
		left:0;
		z-index:1000;
	}
	&:after {
		position: absolute;
		display: block;
		content:"";
		width:100%;
		height: 24px;
		background: url(../images/area_sep--bottom.png) repeat-x center center;
		bottom: -13px;
		left:0;
		z-index:1000;
	}

	&.nosep {
		&:after {
			display:none;
		}
	}
}
.backgrond-color__inner {
	min-width:$base_minwidth;
	overflow: hidden;
}
.backgrond-color--lightgreen {
	min-width:$base_minwidth;
	background: url('../images/bg_green.png') repeat center center;
}

body {
	@extend .backgrond-color--beige;
	min-width: 1100px;
}
#wrap {
	min-width: 1100px;
}
.btn_sp_navi_wrap {
	display:none;
}

a {
	@include opacity--anim(0.4);
}
.tel_link,.tel_link a,a.nolink {
	cursor: default;
	&:hover {
		@include opacity(1);
	}
}
.noanim {
	&:hover {
		@include opacity(1);
	}
}

.tel_link.caution {
	&:hover {
		color: #16b5a7;
	}
}

a.nolink {
	cursor: default;
	color: #a1a2a1 !important;
	&:hover {
		color: #a1a2a1!important;
	}
}

.inview,
.inview--to_top {
	position: absolute;
	&  > * {
		@include opacity(0);
	}
}

.linetext--yellow--wavy {
	@include mincho;
	color: #565a55;
	font-size: 2.6rem;
	line-height: (52 / 26);
	text-align: center;
	display: inline;
	padding-bottom: 12px;
	background:url('../images/line--wave-yellow.png') repeat-x left bottom;
	background-size: auto 6px;
}

.linetext--green--wavy {
	@extend .linetext--yellow--wavy;
	background:url('../images/line--wave-green.png') repeat-x left bottom;
	background-size: auto 6px;
}

.linetext--blue--wavy {
	@extend .linetext--yellow--wavy;
	background:url('../images/line--wave-blue.png') repeat-x left bottom;
	background-size: auto 6px;
}

.list-style--leaf {
	li {
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1.5;
		text-align: left;
		& + li {
			margin-top: 16px;
		}
		span {
			border-bottom: 2px solid #acc756;
			padding-bottom: 4px;
			&:before {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(icon_seedling);
				display: inline-block;
				margin-right: 14px;
				vertical-align: -7px;
			}
		}
	}
}

.icon--yellow_back {
	background:url(../images/icon_back_yellow.png) no-repeat center center;
	background-size:128px auto;
	width:128px;
	height: 43px;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 43px;
	text-align: center;
}

.icon--green_back {
	background:url(../images/icon_back_green.png) no-repeat center center;
	background-size:130px auto;
	width:130px;
	height: 44px;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 43px;
	text-align: center;
}

.icon--blue_back {
	background:url(../images/icon_back_blue.png) no-repeat center center;
	background-size:122px auto;
	width:122px;
	height: 46px;
	color: #fff;
	font-size: 2.4rem;
	font-weight: 700;
	line-height: 46px;
	text-align: center;
}
/* ===============================================
table
=============================================== */
%border-area {
	margin-top: 30px;
	@include border-radius(10px);
	border: 1px solid #565a55;
	background-color: #fffffd;
	width: 100%;
	box-sizing: border-box;
}
.table_wrapper--basic_table {
	@extend %border-area;
	table {
		width: 100%;
		table-layout: fixed;
	}
	th,td {
		border-top: 1px #565a55 dashed;
		vertical-align: middle;
		padding:8px 50px;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
	th {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: left;
		width: 290px;
		box-sizing: border-box;
	}
	td {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: (28 / 15);
		text-align: left;
		border-left: #565a55 1px solid;
	}
	.inner_table {
		display: table;
		table-layout: fixed;
		.row {
			display: table-row;
		}
		.row + .row {
			.col {
				padding-top: 12px;
			}
		}
		.col:first-child {
			width: 235px;
			padding-right: 35px;
			box-sizing: border-box;
		}
		.col {
			display: table-cell;
			vertical-align: middle;
		}
	}
}
.table--simple {
	table-layout: fixed;

	th,td {
		padding:8px 20px;
		box-sizing: border-box;
	}
	th {
		font-size: 1.6rem;
		font-weight: 700;
		text-align: center;
		vertical-align: middle;
		line-height: (28 / 15);
		border-top: 1px solid #dcdcdc;
		width: 283px;
	}
	td {
		color: #565a55;
		font-size: 1.5rem;
		font-weight: 500;
		line-height: (28 / 15);
		text-align: left;
		border-top: 1px solid #dcdcdc;
	}
	tr:first-child {
		th,td {
			border-top: none;
		}
	}
}
/* ===============================================
area
=============================================== */
.area--normal_border {
	@extend %border-area;
	@extend .clearfix;
	padding:38px 31px;
	box-sizing: border-box;
	.col--left {
		float: left;
	}
	.col--right {
		float: right;
	}
	.ttl {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
	}
	.map {
		margin-top: 20px;
		border:1px #565a55 solid;
		iframe {
			vertical-align:middle;
		}
	}
	.txt {
		margin-top: 20px;
		font-size: 1.4rem;
		font-weight: 500;
		line-height: (26 / 14);
		text-align: left;
	}
}

%wave_format {
	content: '';
	width:100%;
	height: 6px;
	position: absolute;
	left:0;
}
.area--wave_border {
	background: #fff;
	position: relative;
	padding:31px 30px;
	margin-top: 30px;
	&:before {
		background: url(../images/line-wave_above.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		top:-5px;
	}
	&:after {
		background: url(../images/line-wave_below.png) no-repeat left top;
		background-size:auto 6px;
		@extend %wave_format;
		bottom:-5px;
	}
}
/* ===============================================
tab_content
=============================================== */
.tab_content {
	position: relative;
	& + .tab_content {
		margin-top: 120px;
	}

	.more {
		@extend %more;
	}
}
/* **************************************************
Layout
************************************************** */
/* ===============================================
header
=============================================== */
.main_header {
	position:relative;
	width:100%;
	padding-top: 40px;
	overflow:hidden;
	min-width:1200px;
	.inner {
		width: 1040px;
		margin: 0 auto;
	}
	.logo {
		@include text_indent_none();
		@include sprite_background_retina(logo);
		margin-bottom: 21px;
	}
	.min60 {
		z-index:6;
		position: relative;
		a {
			margin-bottom: 5px;
			border-radius: 4px;
			background-color: #9cc454;
			width: 240px;
			height: 44px;
			text-align: center;
			position: relative;
			color: #ffffff;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: 44px;
			text-align: left;
			display: block;
			text-align: center;
		}
	}

	.tel,.logo,.min60 {
		margin-left: -40px;
	}

	.tel {
		position: relative;
		z-index:6;
		a,span {
			color: #9cc454;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: (24 / 18);
			text-align: left;
			display: inline-block;
			padding-left: 11px;
		}
		span {
			letter-spacing: 2px;
			padding-left: 10px;
		}
	}
}

.leaf1 {
	position: absolute;
	right: -170px;
	top: -50px;
	z-index: 3;
	@include animation(leaf1 3s ease infinite alternate 0.8s);
}
.leaf2 {
	position: absolute;
	right:-15px;
	top:-190px;
	z-index: 2;
	@include animation(leaf2 2s ease infinite alternate 1.2s);
}

@include keyframes(leaf1) {
	from {
	}
	to {
		@include transform(rotate(6deg) translateX(-6px));
	}
}

@include keyframes(leaf2) {
	from {
	}
	to {
		@include transform(rotate(9deg) translateX(-10px));
	}
}

.gnav_wrap {
	width: 100%;
	.inner{
		width: 1040px;
		margin: 0 auto;
		position: relative;
	}
}
.gnav {
	z-index: 10001;
	position: absolute;
	left: 282px;
	top: -208px;
	& > ul > li {
		float: left;
		position:relative;
		margin-right: 35px;
		a {
			display:block;
			&:hover {
				@include opacity(1);
			}
		}
		&.fb {
			padding:0;
			border: none;
			position: relative;
			top: -2px;
			a {
				@include text_indent_none();
				@include sprite_background_retina(icon_fb);
				text-indent: 250%;
				margin-left: 30px;
				transition:opacity 0.6s;
				&:hover {
					color: #14b4a6;
					@include opacity(0.4);
				}
			}
		}
	}
	@for $i from 1 through 9 {
		.nav_#{$i} > a span{
			@include text_indent_none();
			@include sprite_background_retina(gnav_#{$i});
			position: relative;
			z-index: 10001;
			@include transition(opacity 0.6s);
		}
		.nav_#{$i} > a {
			position: relative;
			&:after {
				@include opacity(0);
				@include transition(opacity 0.6s);
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(gnav_#{$i}_on);
				position: absolute;
				left:0;
				top:0;
				z-index:10002
			}
			&:hover {
				span {
					@include opacity(0);
				}
			}
			&:hover:after {
				@include opacity(1);
			}
		}

	}
	.nav_4,.nav_3,.nav_2,.nav_1 {
		margin-right: 0;
	}
	.nav_2 {
		padding-left: 35px;
		padding-right: 17px;
		padding-bottom: 45px;
	}
	.nav_3 {
		padding-left: 17px;
		padding-right: 17px;
		padding-bottom: 45px;
	}
	.nav_4 {
		padding-left: 17px;
		padding-right: 33px;
		padding-bottom: 45px;
	}
	.nav_9 {
		margin-right: 9px;
	}
	@for $i from 1 through 7 {
		.c_nav_#{$i} a{
			@include text_indent_none();
			@include sprite_background_retina(c_nav_#{$i});
			margin-top: 15px;
		}
	}
	.c_nav_2 {
		border-left: 1px solid #9cc454;
		border-right: 1px solid #9cc454;
	}
	.child {
		display: none;
		position: absolute;
		background-color: rgba(255, 255, 253, 0.9);
		width: 108px;
		height: 117px;
		border: 1px solid #9cc454;
		box-sizing: border-box;
		left: -30px;
		top: 117px;
		margin: auto;
		z-index:10003;
		&:after {
			content:"";
			@include text_indent_none();
			@include sprite_background_retina(arrow_c_nav);
			position: absolute;
			left: -2px;
			right:0;
			margin:auto;
			top: -11px;
		}
		li {
			width: 33.3333%;
			height: 100%;
			background-color: rgba(255, 255, 253, 0.9);
			float: left;
			box-sizing: border-box;
			cursor:pointer;
			@include transition(background-color 0.6s);
			&:hover {
				background-color:rgba(245, 252, 233, 0.9);;
			}
			a {
				transition:background-color 0.6s;
				margin-left:auto;
				margin-right: auto;
				&:hover {
					@include opacity(1);
				}
			}
		}
	}
	.nav_3 {
		.child {
			width: 72px;
			top: 67px;
			left: -12px;
			height: 73px;
			li {
				width: 50%;
			}
		}
		.c_nav_4 {
			border-right: 1px solid #9cc454;
		}
	}
	.nav_2 {
		.child {
			width: 72px;
			top: 100px;
			left: 8px;
			height: 114px;
			li {
				width: 50%;
			}
		}
		.c_nav_6 {
			border-right: 1px solid #9cc454;
		}
	}
}
/* ===============================================
footer
=============================================== */
#footer {
	min-width:$base_minwidth;
}
.footer_img {
	background:url(../images/wave_img.jpg) no-repeat center center;
	background-size:cover;
	height:412px;
	width: 100%;
	min-width:$base_minwidth;
	position: relative;
	canvas {
		min-width:1200px;
	}
	.top {
		width: 100%;
		text-align: center;
		img {
			width: 100%;
			height: auto;
			vertical-align: top;
		}
	}
	.bottom {
		position: absolute;
		bottom:0;
		width: 100%;
		text-align: center;
		canvas {
			vertical-align:bottom;
		}
	}
	.btns {
		position: absolute;
		right:0;
		top:-38px;
		width: 100%;
		.inner {
			width: 1040px;
			margin:0 auto;
			position: relative;
			text-align: right;
		}
	}
}
.btn--gotop {
	@include text_indent_none();
	@include sprite_background_retina(btn_gotop_off);
	display:inline-block;
	&:hover{
		@include opacity(1);
		@include sprite_background_retina(btn_gotop_on);
		display:inline-block;
	}
}
.btn--inquiry {
	@include text_indent_none();
	@include sprite_background_retina(btn_inquiry_off);
	display:inline-block;
	margin-left: 16px;
	&:hover{
		@include opacity(1);
		@include sprite_background_retina(btn_inquiry_on);
		display:inline-block;
	}
}

.btn--60mn {
	@include text_indent_none();
	@include sprite_background_retina(btn_60_off);
	display:inline-block;
	margin-left: 16px;
	&:hover{
		@include opacity(1);
		@include sprite_background_retina(btn_60_on);
		display:inline-block;
	}
}

.footer_info {
	margin-top: 41px;
	.inner {
		width: 1040px;
		margin:0 auto;
		padding-bottom: 60px;
		@extend .clearfix;
	}
	.col1 {
		width: 270px;
		float: left;
		padding-top: 10px;
	}
	.col2 {
		width: 302px;
		float: right;
		margin-right: 49px;
	}
	.col3 {
		width: 393px;
		float: right;
		iframe {
			border: 1px solid #9cc454!important;
		}
	}
	.logo a {
		@include text_indent_none();
		@include sprite_background_retina(logo_footer);
	}

	.footer_nav , .meta , .sns {
		border-top: 1px solid #9cc454;
		border-bottom: 1px solid #9cc454;
		font-size: 1.4rem;
		padding:12px 9px;
		font-weight: 700;

	}
	.meta , .sns {
		margin-top: -1px;
	}
	.sns {
		padding-top: 15px;
	}
	.footer_nav {
		@extend .clearfix;
		.fb {
			display: none;
		}
		& > ul {
			width:50%;
			float: left;
			& + ul {
				padding-left: 6px;
				box-sizing: border-box;
			}
		}
		li {
			padding-top: 7px;
			position: relative;
			a:before {
				content:"> ";
			}
			&:first-child {
				padding-top: 0;
			}
		}
		.child {
			padding-top: 6px;
			li {
				width:100%;
				padding-left: 17px;
				a:before {
					content:"- ";
				}
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	.btns {
		text-align: center;
		margin-top: 11px;
	}
	.relate1 {
		@include text_indent_none();
		@include sprite_background_retina(logo_footer_01);
		display: inline-block;
		vertical-align: top;
	}
	.relate2{
		@include text_indent_none();
		@include sprite_background_retina(logo_footer_02);
		display: inline-block;
		vertical-align: top;
		margin-left: 35px;
	}
	.icon--fb {
		@include text_indent_none();
		@include sprite_background_retina(icon_fb);
		display:inline-block;
		margin-right: 10px;
		vertical-align: middle;
	}
	.txt {
		display:inline-block;
		vertical-align: middle;
	}
}

/* ===============================================
mv
=============================================== */
.mv {
	width: 100%;
	margin:-100px auto 0;
	.slide {
		position: relative;
		.inner {
			width: 960px;
			position: absolute;
			margin:0 auto;
			height: 100%;
			left:0;
			right:0;
			z-index: 5;
			top:0;
			.lead {
				position: absolute;
				bottom: -30px;
				right: 0;
			}
		}
		position: relative;
		li img {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	.lead2 {
		color: #dd8321;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 2.5; /* フォント置換による類似 */
		text-align: center;
		margin-top: 30px;
		margin-bottom: 130px;
		p {
			display: inline;
			border-bottom: 2px #dd8322 dashed;
			padding-bottom: 10px;
		}
	}
}
.home .mv + .backgrond-color--lightblue:before{
	display: none;
}

.bx-wrapper {
	border: none;
	box-shadow: none;
	margin: 0;
	background:transparent;
	.bx-pager {
		display: none;
	}
	.bx-controls-direction {
		.bx-prev {
			@include text_indent_none();
			@include sprite_background_retina(arrow_slide_prev);
			left: 60px;
		}
		.bx-next {
			@include text_indent_none();
			@include sprite_background_retina(arrow_slide_next);
			right: 60px;
		}
	}
}
.date_info {
	position: absolute;
	background:url(../images/mv_date.png) no-repeat center center;
	background-size:157px auto;
	width:157px;
	height:157px;
	bottom:30px;
	left: -25px;
	z-index:10001;
	cursor:pointer;
	&:hover {
		background:url(../images/mv_date_on.png) no-repeat center center;
		background-size:157px auto;
		@include opacity(1);
	}
	&.nolink:hover {
		background:url(../images/mv_date.png) no-repeat center center;
		background-size:157px auto;
		@include opacity(1);
	}
	a {
		display: block;
		width: 100%;
		height: 100%;
		&:hover {
			@include opacity(1);
			display: block;
		}
	}
	.text1 {
		bottom: 0;
		color: #fff;
		font-size: 1.8rem;
		font-weight: 700;
		height: 157px;
		left: 0;
		line-height: 1.55556;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: auto;
		position: absolute;
		right: 0;
		text-align: center;
		top: 31px;
		width: 127px;
	}
	.text2 {
		position: absolute;
		top: 96px;
		text-align: center;
		width: 100%;
	}
	.date1,
	.date2,
	.sep {
		color: #ffffff;
		font-size: 2.6rem;
		font-weight: 700;
		line-height: (34 / 26);
		text-align: left;
	}
	.all {
		.date1,
		.date2,
		.sep {
			font-size: 1.8rem;
		}
	}
}

/* ===============================================
border_area
=============================================== */
.border-area + .border-area {
	margin-top: 100px;
}
.border_header {
	width: 960px;
	height: 150px;
	overflow: hidden;
	img {
		width:100%;
		height:auto;
	}
	margin:0 auto;
}
.border-body {
	margin-top: 0;
}
.border-area {
	width: 960px;
	position: relative;
	margin: 0 auto;
	.border-body_inner {
		display:block;
	}
	/* header
	----------------------- */
	.ttl_area_wrapper {
		position: absolute;
		top: -8px;
		left: 3px;
	}
	.ttl_area {
		display:table;
		width:100%;
		height: 150px;
		table-layout: fixed;
	}
	.ttl_text,.ttl_prefix {
		display:table-cell;
		vertical-align:middle
	}
	.ttl_prefix {
		background: url(../images/border_ttl--green.png) no-repeat center center;
		width:948px;
		height:135px;
		background-size:100% auto;
		text-align: center;
		.inner {
			color: #ffffff;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: (36 / 24);
			text-align: center;
		}
	}
	.ttl {
		color: #fffefe;
		font-size: 2.4rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 24); /* フォント置換による類似 */
		text-align: center;
		display: block;
	}
	.icon {
		background-color: #fffffd;
		@include border-radius(26px);
		height: 34px;
		color: #71c684;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 34px; /* フォント置換による類似 */
		text-align: center;
		display:inline-block;
		margin-top: 18px;
		padding: 0 23px;
	}
	/* content
	----------------------- */
	.content_area_wrapper {
		background: url(../images/border--green--botom.png) no-repeat center bottom;
		background-size:100% auto;
		//min-height: 200px;
		text-align:center;
		padding-bottom: 60px;
		padding:31px 0 40px;
	}

	/* inview
	----------------------- */
	.inview {
		top:351px;
		right:-184px;
		img {
			position: relative;
			top:-20px;
		}
	}

	.size_l {
		color: #565a55;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: (32 / 18);
		width: 610px;
		margin:0 auto;
		text-align: left;
	}
}

.border-area--yellow {
	.icon {
		color:#e0cd2f;
	}
	.ttl_prefix {
		background: url(../images/border_ttl--yellow.png) no-repeat center center;
		width:948px;
		height:135px;
		background-size:100% auto;
		text-align: center;
		.inner {
			color: #ffffff;
			font-size: 2.4rem;
			font-weight: 700;
			line-height: (36 / 24);
			text-align: center;
		}
	}
	/* content
	----------------------- */
	.content_area_wrapper {
		background: url(../images/border--yellow--botom.png) no-repeat center bottom;
		background-size:100% auto;
		//min-height: 200px;
		text-align:center;
		padding-bottom: 60px;
		padding:31px 0 40px;
	}
}

.border-area--green {
	.border_header {
		width: 957px;
	}
}

.border-area--m {
	max-width: 790px;
	.ttl_prefix {
		background: url(../images/border_ttl--green_m.png) no-repeat center center;
		width: 100%;
		height:95px;
		background-size:100% auto;
	}
	.ttl_area_wrapper {
		top: -31px;
		left: -2px;
	}
	.border_header {
		width: 100%;
		height:95px;
	}
}

.border-area--s {
	max-width: 460px;
	height:300px;
	.border_header {
		width: 100%;
		height:94px;
		overflow:hidden;
		img {
			max-width:100%;
			height: auto;
		}
	}
	.border-body {
		margin-top: -2px;
	}
	.ttl_area_wrapper {
		position: absolute;
		top: 3px;
		left: 0px;
		&:after {
			display:none;
		}
	}
	.ttl_prefix {
		width:100%;
		height: 94px;
		.ttl {
			color: #fffefe;
			font-size: 2.2rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (32 / 22); /* フォント置換による類似 */
			text-align: center;
		}
		.icon {
			background-color: #fffffd;
			@include border-radius(26px);
			width: 171px;
			height: 26px;
			color: #e4d137;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 26px; /* フォント置換による類似 */
			text-align: left;
			margin:5px auto 0;
			text-align: center;
		}
	}
	.ttl_area {
		height: 94px;
	}
	.content_area_wrapper {
		padding-bottom: 29px;
		padding-top: 0;
		.inner {
			color: #565a55;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (26 / 16); /* フォント置換による類似 */
			text-align: left;
			width: 360px;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
		}

		.btn {
			background:url(../images/bg_border_yellow_btn.png) no-repeat left top;
			background-size:360px auto;
			width: 360px;
			height: 48px;
			display: block;
			text-align: center;
			color: #ffffff;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 48px; /* フォント置換による類似 */
			margin:13px auto 0;
			&:after {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(arrow_white-left);
				display: inline-block;
				vertical-align: -4px;
				margin-left: 13px;
			}
		}
	}
}

.border-area--s.border-area--green {

	.ttl_prefix {
		width:100%;
		height: 94px;
		.icon {
			color: #71c684;
		}
	}
	.content_area_wrapper {
		.btn {
			background:url(../images/bg_border_green_btn.png) no-repeat left top;
			background-size:360px auto;
			width: 360px;
			height: 48px;
		}
	}
}

.border-area--s {
	.add {
		border-radius: 2px;
		border-width: 1px;
		border-color: #f9f3c1;
		border-style: solid;
		width: 358px;
		margin-top: 15px;
		th,td {
			vertical-align:middle;
		}
		th {
			background-color: #f9f3c1;
			width: 55px;
			color: #565a55;
			font-size: 1.2rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (20 / 12); /* フォント置換による類似 */
			text-align: left;
			vertical-align:middle;
			padding:6px 8px;
		}
		td {
			font-size: 1.2rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (18 / 12); /* フォント置換による類似 */
			text-align: left;
			padding:6px 8px;
		}
	}
}

.border-area--s.border-area--yellow {
	@extend .border-area--s;
	.ttl_prefix {
		background: url(../images/border-yellow_head_s.png) no-repeat center top;
		background-size: auto 94px;
	}
	.border-body {
		.content_area_wrapper {
			background:url(../images/border-yellow_bottom_s.png) no-repeat center bottom;
			background-size:461px auto;
		}
	}

}

.border-area--s.border-area--green {
	@extend .border-area--s;
	.ttl_prefix {
		background: url(../images/border-green_head_s.png) no-repeat center top;
		background-size: auto 94px;
	}
	.border-body {
		.content_area_wrapper {
			background:url(../images/border-green_bottom_s.png) no-repeat center bottom;
			background-size:458px auto;
		}
	}
	.add {
		border-color: #cbeed7;
		margin-bottom: 30px;
		th,td {
			vertical-align:middle;
		}
		th {
			background-color: #cbeed7;
		}
	}
}

/* ===============================================
top
=============================================== */
.top_links {
	width: 960px;
	margin:0 auto 58px;
	position: relative;
	padding-top: 114px;
	&>a {
		display: inline-block;
	}
	.link2 {
		display: block;
		margin-top: 61px;
	}
	.img1 {
		position: absolute;
		top: 194px;
		left: 641px;
		a img {
			position: absolute;
			left: 69px;
			top: 181px;
		}
	}
	.img2 {
		position: absolute;
		top: 490px;
		right: 80px;
	}
	.img3 {
		top: 587px;
		position: absolute;
		right: 129px;
	}
	.lead {
		text-align: center;
    margin-top: 99px;
    padding-bottom: 61px;
	}
}
.top_outline {
	width: 960px;
	margin:0 auto 196px;
	position: relative;
	padding-top: 115px;
	@extend .clearfix;
	&>.ttl {
		margin-bottom: 25px;
	}
	.left {
		float: left;
	}
	.right {
		float: right;
	}
}
%more {
	text-align: right;
	position: absolute;
	top: 0;
	right: 7px;
	a {
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height:2; /* フォント置換による類似 */
		border-bottom: 1px #565a55 dashed;
		display: inline-block;
	}
}
.top_result {
	width: 960px;
	margin:0 auto;
	position: relative;
	margin-bottom: 115px;
	&>.ttl {
		@include hira_mincho;
		font-size: 2.4rem; /* フォント置換による類似 */
		line-height:1.9; /* フォント置換による類似 */
		text-align: left;
		margin-bottom: 13px;
		padding-left: 39px;
	}
	.more {
		@extend %more;
		top: 5px;
	}
	.inner {
		position: relative;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: #fffffd;
		border-top: 2px solid #78c9e1;
		padding-top: 19px;
		padding-left: 42px;
		padding-bottom: 50px;
		.ttl {
			border-bottom: 2px #565a55 dashed;
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height:1.9; /* フォント置換による類似 */
			text-align: center;
			display: inline-block;
		}
		.sep {
			@include text_indent_none();
			@include sprite_background_retina(arrow_blue);
			left: 500px;
			top: 93px;
			position: absolute;
		}
		.txt {
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (26 / 16); /* フォント置換による類似 */
			text-align: left;
			margin-top: 14px;
			span {
				font-weight: 700;
			}
		}
		.txt2 {
			position: absolute;
			left: 585px;
			top: 29px;
		}
		.line1 {
			margin-bottom: 17px;
			& + p {
				width: 330px;
				color: #78c9e1;
				font-size: 1.6rem; /* フォント置換による類似 */
				font-weight: 700;
				line-height: (26 / 16); /* フォント置換による類似 */
				text-align: left;
				margin-bottom: -7px;
			}
		}
	}
}
.top_tt {
	text-align: center;
	margin-bottom: 110px;
}
.blog_list {
	width: 960px;
	margin:0 auto;
	position: relative;
	&>.ttl {
		text-align: center;
	}
	.more {
		@extend %more;
	}
	.list {
		margin-top: 29px;
		margin-right: -60px;
		@extend .clearfix;
		li {
			width: 280px;
			margin-right: 60px;
			float: left;
		}
		a {
			&:hover {
				.img > .inner {
					@include opacity--anim(0.8);
				}
			}
		}
		.img {
			width: 280px;
			height: 178px;
			box-sizing: border-box;
			margin-bottom: 11px;
			border-radius: 10px;
			border-width: 1px;
			border-color: #8c8346;
			border-style: solid;
			background-color: #fffef6;
			position: relative;
			.filter {
				display: none;
				width: 100%;
				height: 100%;
				position: absolute;
				left:0;
				top:0;
				background:url(../images/icons/icon_blog_on.png) center center no-repeat #fffef6;
				opacity: 0.8;
				border-radius: 10px;
				background-size: 42px auto;
			}
			.num {
				position: absolute;
				left:-1px;
				top:-1px;
				@include background_wh('../images/icons/bg_case_num.png');
				text-align: center;
				color: #fff;
				font-size: 2.0rem; /* フォント置換による類似 */
				font-weight: 700;
				line-height: (36 / 24); /* フォント置換による類似 */
				text-align: center;
				line-height: 39px;
				text-indent:0!important;
			}
		}
		p {
			color: #8c8346;
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (28 / 18); /* フォント置換による類似 */
			text-align: left;
		}
		.date {
			display: block;
			color: #8c8346;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: left;
		}
	}

	.list--diary {
		.txt {
			p {
				color: #565a55;
				font-size: 1.6rem; /* フォント置換による類似 */
				font-weight: 700;
				line-height: (26 / 16); /* フォント置換による類似 */
				text-align: left;
			}
		}
	}
}
.blog_list + .blog_list {
	margin-top: 110px;
	padding-bottom: 200px;
}



@for $i from 1 through 10 {
	.bg_p#{$i} {
		background:url(../images/h_pattern#{$i}.png) repeat center center;
		background-size: 280px auto;
	}
}

@for $i from 1 through 10 {
	.bg_p_l#{$i} {
		background:url(../images/h_pattern#{$i}_large.png) repeat center center;
		background-size: 960px auto;
	}
}

/* ===============================================
lower
=============================================== */
.content_area {
	width: 960px;
	margin:0 auto;
}
.lower_header {
	background: url(../images/lower_ttl_back_1.png) repeat-x center center;
	background-size: auto 90px;
	line-height: 90px;
	height:90px;
	text-align: center;
	margin-top: 46px;
	position: relative;
	margin-bottom: -5px;
	z-index:3;
	.ttl {
		line-height: 90px;
		height:90px;
	}
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_outline.png') center center no-repeat;
		background-size: 109px;
		width:109px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
	min-width:1200px;
}
.page_nav {
	@include border-radius(10px);
	border:1px solid #565a55;
	background-color: #fffffd;
	width: 960px;
	height: 54px;
	margin:0 auto 100px;
	ul {
		font-size: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		margin:0 26px;
		a {
			display: block;
			font-size: 1.8rem;
			font-weight: 700;
			line-height: 54px;
			&:after {
				content:"";
				@include text_indent_none();
				@include sprite_background_retina(arrow_down);
				display: inline-block;
				margin-left: 10px;
			}
		}
	}
}
.lower_header + .backgrond-color--lightblue {
	padding:72px 0 80px;
	&:before {
		display: none;
	}
}
%txtbase_txtbox--has_wave_ttl{
	font-weight: 700;
	@include yu_go;
	color: #565a55;
}
.txtbox--has_wave_ttl {
	width: 236px;
	text-align: left;
	.linetext--blue--wavy,
	.linetext--yellow--wavy,
	.linetext--green--wavy {
		@extend %txtbase_txtbox--has_wave_ttl;
	}
	.ttl1 {
		font-size: 2.0rem;
		display: inline-block;
		margin-right: 14px;
	}

	.ttl2 {
		font-size: 1.8rem;
	}
	.subttl {
		font-size: 1.6rem; /* フォント置換による類似 */
		@extend %txtbase_txtbox--has_wave_ttl;
		margin-top: 15px;
		line-height: 1.8;
	}
	.txt {
		font-size: 1.4rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (24 / 14); /* フォント置換による類似 */
		text-align: justify;
		margin-top: 4px;
		.sub {
			font-size:1.2rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (20 / 12); /* フォント置換による類似 */
			text-align: justify;
			margin-top: 9px;
		}
	}
}

.table_wrapper--basic_table.relation,
.table_wrapper--basic_table.media {
	th {
		width: 215px;
		padding-right: 40px;
	}
}
.area--wave_border {
	.table--simple {
		th {
			width: 195px;
			padding-right: 40px;
		}
		td {
			padding-left: 40px;
		}
	}
}
#con5.tab_content {
	margin-bottom: 10px;
}

.inner-column--3 {
	width: 756px;
	margin:21px auto 0;
	position: relative;
	padding-bottom: 30px;
	@extend .clearfix;
	.box {
		float: left;
	}
	.box + .box {
		float: right;
	}
	.img {
		position: absolute;
		left: 270px;
		top: 35px;
	}
}

.inner-column--2 {
	width: 606px;
	margin:0 auto;
	@extend .clearfix;
	.box {
		float: left;
		width: 285px;
		.txt {
			padding-right: 10px;
		}
	}
	.box + .box {
		float: right;
		width: 255px;
	}
}

.border-area--m {
	.inner-column--2 {
		.box + .box {
			float: right;
			width: 285px;
		}
	}
}

/* ===============================================
access
=============================================== */
.lower_header--access {
	@extend .lower_header;
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access.png') center center no-repeat;
		background-size: 194px;
		width:194px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
}
.lower_header--access + .backgrond-color--lightblue {
	padding-bottom: 150px;
}
.ttl--about {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_about.png') center center no-repeat;
		background-size: 100px auto;
		width:100px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--access {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_access_2.png') center center no-repeat;
		background-size: 95px auto;
		width:95px;
		height: 22px;
		margin:0 auto;
	}
}
.ttl--relation {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_relation.png') center center no-repeat;
		background-size: 174px auto;
		width:174px;
		height: 23px;
		margin:0 auto;
	}
}
.ttl--history {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_history.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 23px;
		margin:0 auto;
	}
}

.ttl--media {
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_media.png') center center no-repeat;
		background-size: 169px auto;
		width:169px;
		height: 26px;
		margin:0 auto;
	}
}

.table_wrapper--basic_table.timetable {
	border-radius: 10px;
	border:2px #565a55 solid;
	width: 756px;
	margin:0 auto;
	margin-top: 13px;
	th,td {
		padding:8px 0;
		text-align: center;
	}
	.head {
		th,td {
			color: #565a55;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.5; /* フォント置換による類似 */
		}
	}
	th {
		width: 150px;
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 1.5; /* フォント置換による類似 */
	}
	.sub {
		color: #565a55;
		font-size: 1.2rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: 1.5; /* フォント置換による類似 */
		display: block;
	}
}


.area--wave_border {
	.table--simple {
		th {
			width: 195px;
			padding-right: 40px;
		}
		td {
			padding-left: 40px;
		}
	}
}
#con5.tab_content {
	margin-bottom: 10px;
}
/* ===============================================
blog group
=============================================== */
.term_list {
	border-radius: 10px;
	border-width: 1px;
	border-color: #565a55;
	border-style: solid;
	background-color: #fffffd;
	width: 960px;
	box-sizing: border-box;
	margin:88px auto 0;
	padding-top: 15px;
	text-align: center;
	li {
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 17px;
		display: inline-block;
	}
	a {
		color: #565a55;
		font-size: 1.8rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (20 / 18); /* フォント置換による類似 */
		&:hover {
			color: #58b0a8;
			@include opacity(1);
		}
	}
	li.active a {
		color: #58b0a8;
	}
}
.blog_list--lower {
	margin-top: 80px;
}
.blog_list {
	.list {
		margin-bottom: -75px;
		overflow:hidden;
		li {
			margin-bottom: 75px;
		}
		.desc *{
			color: #565a55;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (24 / 16); /* フォント置換による類似 */
			text-align: left;
		}
	}

	.ttl {
		color: #8c8346;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1.55556;
		text-align: left;
		margin-bottom: 7px;
	}
}
.tag_wrap {
	.tags {
		border-radius: 2px;
		background-color: #58b0a8;
		display: inline-block;
		height: 20px;
		line-height: 20px;
		color: #ffffff;
		font-size: 1.2rem; /* フォント置換による類似 */
		font-weight: 500;
		text-align: left;
		padding:0 5px;
		margin-bottom: 5px;
		+ .sep {
			width: 10px;
			display: inline-block;
		}
	}
}
.tag_wrap--blog {
	.tags {
		color: #565a55;
	}
}
%border_base {
	border-radius: 10px;
	border-width: 1px;
	border-color: #8c8346;
	border-style: solid;
}
/* ===============================================
blog
=============================================== */
.lower_header--blog {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_blog.png');
		display: inline-block;
	}
}
.lower_header--blog + .backgrond-color--lightblue .term_list{
	margin-top: 13px;
}
.content_area--blog {
	.main_ttl {
		.ttl {
			color: #8c8346;
			font-size: 2.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.8; /* フォント置換による類似 */
			text-align: left;
		}
		margin-top: 100px;
		margin-bottom: 30px;
	}
	&>.inner {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (32 / 16); /* フォント置換による類似 */
		text-align: left;
		img {
			max-width:800px;
			height:auto;
			@extend %border_base;
		}
		.post_meta {
			margin-top: 60px;
		}
		.date ,.date a{
			color: #8c8346;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: left;
		}
	}
}
.prev_next {
	@extend .clearfix;
	margin-top: 95px;
	a {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (24 / 16); /* フォント置換による類似 */
	}
	.prev {
		float: left;
		&:before {
			content:"";
			@include sprite_background_retina(arrow_prev_box);
			display: inline-block;
		}
		a {
			padding-left: 18px;
			vertical-align: 11px;
		}
	}
	.next {
		float: right;
		&:after {
			content:"";
			@include sprite_background_retina(arrow_next_box);
			display: inline-block;
		}
		a {
			padding-right: 18px;
			vertical-align: 11px;
		}
	}
}
.blog--relate {
	margin-top: 94px;
	padding-bottom: 70px;
}
.relate_img_1 {
	padding-left: 14px;
	& + .list {
		margin-top: 20px;
	}
}
/* ===============================================
case
=============================================== */
.lower_header--case {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_case.png');
		display: inline-block;
	}
}
.lead--case {
	@include hira_mincho;
	color: #565a55;
	font-size: 1.6rem; /* フォント置換による類似 */
	line-height: (40 / 16); /* フォント置換による類似 */
	text-align: left;
	width: 610px;
	margin:0 auto;
}
//detail
.content_area--case {
	margin-top: 80px;
	padding-bottom: 73px;
	.main_ttl_wrapper {
		width: 960px;
		position: relative;
	}
	.main_ttl {
		width: 960px;
		display:table;
		padding:68px 30px;
		box-sizing: border-box;
		@extend %border_base;
		.ttl {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			color: #494c44;
			font-size: 2.2rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 22); /* フォント置換による類似 */
			span {
				background-color: #fffef6;
				display: inline-block;
				padding:8px 16px;
				box-sizing: border-box;
			}
		}
		.num{
			position: absolute;
			right:0;
			top:0;
			@include background_wh('../images/icons/bg_case_num_r.png');
			text-align: center;
			color: #fff;
			font-size: 2.0rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (36 / 24); /* フォント置換による類似 */
			text-align: center;
			line-height: 39px;
			text-indent:0!important;
		}
	}
	.inner {
		@extend .clearfix;
		margin-top: 93px;
	}
	.main {
		width: 500px;
		float: left;
		.ttl {
			color: #8c8346;
			font-size: 2.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: 1.8; /* フォント置換による類似 */
		}
		.txt {
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (32 / 16); /* フォント置換による類似 */
			margin-top: 17px;
		}
		.sep {
			@include text_indent_none();
			@include sprite_background_retina(icon_case_sep);
			margin-top: 35px;
			margin-bottom: 32px;
			margin-left: 183px;
		}
	}

	.sub {
		width: 340px;
		float: right;
	}
	.meta,.thumb {
		background-color: #fffef6;
		width: 340px;
		box-sizing: border-box;
		@extend %border_base;
		p {
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 16); /* フォント置換による類似 */
			text-align: left;
		}
	}
	.meta {
		margin-bottom: 30px;
		padding:25px 46px;
		margin-top: 10px;
	}
	.thumb + .thumb {
		margin-top: 30px;
	}

	.post_meta {
		margin-top: 53px;
		text-align: left;
		.date {
			color: #8c8346;
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: center;
			margin:0 auto;
			text-align: left;
		}
	}
}
/* ===============================================
movie
=============================================== */
.lower_header--movie {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_movie.png');
		display: inline-block;
	}
}
.movie_list {
	margin-top: 15px;
	.main_ttl {
		border-radius: 10px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #fffffd;
		width: 960px;
		box-sizing: border-box;
		font-size: 2.0rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 2.0rem; /* フォント置換による類似 */
		text-align: center;
		padding:17px 0;
	}
	.list {
		margin-top: 40px;
	}
	.list li {
		margin-right: 30px;
		width: 300px;
		margin-bottom: 35px;
	}
	.movie {
		@extend %border_base;
		width: 300px;
		height: 168px;
		box-sizing: border-box;
		overflow: hidden;
		position: relative;
		iframe {
			@include border-radius(10px);
		}
	}
	.txt {
		text-align: center;
		margin-top: 16px;
		.ttl {
			text-align: center;
		}
	}
}
.movie_list + .movie_list {
	margin-top: 127px;
	padding-bottom: -0px;
}
.movie_list--wrap {
	.movie_list:last-child {
		padding-bottom: 180px;
	}
}
.movie_btn {
	margin-top: 126px;
	padding-bottom: 80px;
}
/* ===============================================
.content_area--contact
=============================================== */
.caution {
	border-radius: 10px;
	border-width: 1px;
	border-color: #16b5a7;
	border-style: solid;
	background-color: #fffffd;
	display: block;
	width: 620px;
	height: 53px;
	color: #14b4a6;
	font-size: 2.0rem;
	font-weight: 700;
	line-height: 53px;
	text-align: center;
	margin-bottom: 100px;

}
.content_area--contact {
	width: 620px;
	margin:0 auto;
}
.basic_form {
	.form_group {
		display:table;
		width: 100%;
		.ttl {
			display: table-cell;
			vertical-align: middle;
		}
		.input {
			display: table-cell;
			vertical-align: middle;
			width: 422px;
			input[type="text"],
			input[type="tel"],
			input[type="email"] {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				height: 34px;
				line-height: 34px;
				width: 100%;
				padding-left: 4px;
				padding-right: 4px;
				box-sizing: border-box;
			}
			textarea {
				border-radius: 5px;
				border-width: 1px;
				border-color: #565a55;
				border-style: solid;
				background-color: #fffffd;
				width: 100%;
				height: 128px;
				box-sizing: border-box;
			}
		}
	}
	.required {
		color: #ff4e00;
		font-size: 1.6rem;
		font-weight: 700;
		line-height: 1;
		vertical-align: 7px;
	}
	fieldset + fieldset {
		margin-top: 60px;
	}

	.select_wrapper {
		position: relative;
		width: 100%;
		&:after {
			content: "";
			display: block;
			width: 34px;
			height: 34px;
			background: url(../images/icon_select.png) no-repeat left top;
			background-size: 34px auto;
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 4;
		}
	}

	.select_wrapper > select {
		height: 102%;
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;
		width: 105%;
		z-index: 5;
	}

	.submit_wrap {
		margin-top: 60px;
	}

	.wpcf7-form-control-wrap.zip {
		display:inline-block;
		margin-left: 10px;
		width:8em;
	}

	.captcha {
		margin-top: 70px;
		text-align:center;
		.wpcf7-form-control-wrap {
			display:inline-block;
		}
	}

	.submit_btn {
		border-radius: 5px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #ffc664;
		width: 100%;
		height: 58px;
		line-height: 58px;
		cursor:pointer;
		&:hover {
			background-color: #ffe1ac;
		}
	}
}

.lower_header--contact {
	@extend .lower_header;
	span {
		@include text_indent_none();
		background:transparent url('../images/ttl_contact.png') center center no-repeat;
		background-size: 165px;
		width:165px;
		height:25px;
		display: inline-block;
		line-height: 90px;
	}
}
/* ===============================================
teacher
=============================================== */
.lower_header--teacher {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_teacher.png');
		display: inline-block;
	}
}
.t_data_wrapper {
	width:950px;
	margin:0 auto;
	overflow:hidden;
	@extend .clearfix;
	& > .inner {
		margin-right: -85px;
	}
	margin-bottom: -100px;
}
.card--teacher {
	width: 260px;
	margin:0 85px 0 0;
	float: left;
	margin-bottom: 100px;
	.img {
		position: relative;
	}
	.btn {
		position: absolute;
		right:13px;
		bottom:-20px;
		@include text_indent_none();
		@include sprite_background_retina(btn_msg_off);
		&:hover {
			@include text_indent_none();
			@include sprite_background_retina(btn_msg_on);
			@include opacity(1);
		}
	}
	.content {
		position: relative;
		&.odd {
			&:before {
				content:'';
				position: absolute;
				@include background_wh('../images/img_branch_1.png');
				top: -31px;
				left: 18px;
			}
		}
		&.even {
			&:before {
				content:'';
				position: absolute;
				@include background_wh('../images/img_branch_2.png');
				top: -31px;
				left: 27px;
			}
		}
		border-top: 3px solid #494c44;
		background:#fff;
		padding:11px 15px;
		margin-top: 52px;
		.ttl {
			padding-left: 6px;
			padding-right: 6px;
		}
		.sub {
			font-size: 1.4rem;
			font-weight: 700;
			line-height: (26 / 14);
			text-align: left;
			display: block;
		}
		.main {
			font-size: 2.0rem;
			font-weight: 700;
			line-height: (26 / 20);
			text-align: left;
			display: block;
			margin-top: 2px;
		}
		.top,
		.other1,
		.other2 {
			font-size: 1.4rem;
			font-weight: 500;
			line-height: (24 / 14);
			text-align: left;
			padding-left: 6px;
			padding-right: 6px;
		}
		.top {
			margin-bottom: 24px;
			margin-top: 21px;
			display: table;
			table-layout: fixed;
			.th {
				display: table-cell;
				width: 50px;
			}
			.td {
				display: table-cell;
			}
		}
		.other1 {
			border-bottom: 1px solid #dcdedb;
			padding-bottom:12px;
			margin-bottom: 10px;
		}
	}
}
/* ===============================================
qa
=============================================== */
.lower_header--qa {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_qa.png');
		display: inline-block;
	}
}

.term_list--tab {
	li {
		border-left: 1px #565a55 solid;
		padding-left: 60px;
		padding-right: 60px;
		margin-left: 0;
		margin-right: 0;
	}
	li:first-child {
		border-left: 1px #fff solid;
	}
	li.active a {
		color: #14b4a6;
	}
}
.list-qa {
	border-radius: 10px;
	border-width: 1px;
	border-color: #565a55;
	border-style: solid;
	background-color: #fffffd;
	width: 960px;
	display: block;
	margin:0 auto;
	box-sizing: border-box;
	padding: 20px 20px 14px;
	.ttlarea {
		padding:0 20px;
		position: relative;
		cursor:pointer;
		&:after {
			content:"";
			@include text_indent_none();
			@include sprite_background_retina(arrow_down);
			position: absolute;
			margin: auto;
			right: 20px;
			top: 0;
			bottom: 0;
			position: absolute;
		}
		&.actve:after {
			content:"";
			@include text_indent_none();
			@include sprite_background_retina(arrow_up);
		}
		.inner {
			display: table;
			width: 100%;
		}
		.num,
		.ttl {
			display: table-cell;
			font-size: 1.6rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (20 / 16); /* フォント置換による類似 */
			text-align: left;
			vertical-align: middle;
		}
		.num {
			font-size: 1.8rem; /* フォント置換による類似 */
			font-weight: 700;
			line-height: (20 / 18); /* フォント置換による類似 */
			text-align: left;
			width: 69px;
		}
	}
	.txt {
		border-top: 1px solid #b5b5b5;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
		padding:16px 30px 0;
		margin-top: 18px;
		display: none;
	}
}

.list-qa + .list-qa {
	margin-top: 20px;
}
.wrap--list-qa {
	margin-top: 80px;
	padding-bottom: 78px;
	& + .btn {
		margin-bottom: 96px;
		img {
			width:500px;
			height: auto;
		}
	}
 }
.qa_list--wrap .wrap--list-qa:first-of-type {
	display: block;
}
.qa_list--wrap {
	position: relative;
	.aside_img {
		position: absolute;
		top: -15px;
		left:-22px;
	}
}

/* ===============================================
colorbox
=============================================== */
#colorbox {
	@include opacity(0);
}
#cboxOverlay {
	background-image:none;
	background-color:#fff;
}
#cboxTopLeft,
#cboxTopCenter,
#cboxTopRight,
#cboxMiddleLeft,
#cboxMiddleRight,
#cboxBottomLeft,
#cboxBottomCenter,
#cboxBottomRight,
#cboxTitle,
#cboxCurrent,
#cboxPrevious,
#cboxNext {
	display: none!important;
}

#cboxClose {
	@include background_wh('../images/btn_cbox_close.png');
	@include opacity--anim(0.5);
	top:22px;
	right:22px;
	&:hover {
		@include background_wh('../images/btn_cbox_close.png');
	}
}

#colorbox.open {
	#cboxContent {
	width: 100% !important;
	// height: 100% !important;
	background:transparent;
	@include border-radius(10px);
	#cboxLoadedContent {
			width: 100% !important;
			height: 100% !important;
			margin-bottom: 0!important;
		}
	}
	#cboxContent {

		.inner {
			box-sizing:border-box;
			@include clearfix;
			background-color: #ffffff;
		}
	}
}
.colorBoxTarget {
	padding:53px 80px;
	box-sizing: border-box;
	border-width: 2px;
	border-color: #494c44;
	border-style: solid;
	background-color: #fffffd;
	border-radius: 10px;
	.header {
		display: table;
		width: 100%;
	}
	.img,.info {
		display: table-cell;
		vertical-align: middle;
		width:50%;
		text-align: center;
		img {
			max-width:204px;
			margin: 7px 0 0 17px;
		}
	}
	.msg {
		margin-top: 29px;
	}
	.sub {
		font-size: 1.4rem;
		font-weight: 700;
		line-height: (26 / 14);
		display: block;
		margin-top: 20px;
	}
	.main {
		display: block;
		font-size: 2.0rem;
		font-weight: 700;
		line-height: (26 / 20);
	}
}
.c_open {
	.gnav {
		z-index:3;
	}
}
/* ===============================================
pagenavi
=============================================== */
.wp-pagenavi {
	margin-top: 97px;
	padding-bottom: 75px;
	text-align: center;
	font-size: 0;
	a,span {
		display:inline-block;
		text-align: center;
		border-radius: 5px;
		border-width: 1px;
		border-color: #565a55;
		border-style: solid;
		background-color: #fffffd;
		width: 22px;
		height: 27px;
		color: #565a55;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: 27px; /* フォント置換による類似 */
		position: relative;
		margin-left: 15px;
		margin-right: 15px;
	}
	a.nextpostslink,a.previouspostslink {
		color: #fffffd;
		&:after {
			content:"";
			position: absolute;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			@include text_indent_none();
		}
	}
	a.nextpostslink {
		&:after {
			@include sprite_background_retina(arrow_next);
		}
	}
	a.previouspostslink {
		&:after {
			@include sprite_background_retina(arrow_prev);
		}
	}
	span {
		background-color: #565a55;
		color: #fffffd;
	}
}

/* ===============================================
inview
=============================================== */
.inview--to_top {
	top: -30px;
	img {
		position: relative;
		top:30px;
	}
}
/* ===============================================
#timeline
=============================================== */
.inview--to_top--delay1,.inview--to_top--delay2,.inview--to_top--delay3 {
	img {
		position: relative;
		top:30px;
	}
}
.lower_header--timeline {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_timeline.png');
		display: inline-block;
	}
}
.timelime_wrap {
	position: relative;
	.lead {
		position: relative;
		width: 960px;
		margin:0 auto;
		.img1 {
			margin-top: 84px;
			margin-left: 98px;
		}
		.img2 {
			top: 84px;
			right: 101px;
			position: absolute;
		}
	}
}
.timeline {
	position: relative;
	height: 4175px;
	width: 100%;
	margin-top: 90px;
	margin-bottom: 125px;
	.tl_line {
		position: absolute;
		position: absolute;
		left: -160px;
		top: 5px;
	}
	.inner {
		width: 960px;
		height: 4640px;
		margin:0 auto;
		position: relative;
	}
}

.tl_img {
	position: absolute;
	bottom:0;
}

.tl_img03{
left: 21px;
top: (145 - 20) * 1px;
}

.tl_img04 {
top: (114 - 20) * 1px;
left: 485px;
}

.tl_img05 {
top: (473 - 20) * 1px;
left: 540px;
}

.tl_img06 {
top: (503 - 20) * 1px;
left: 59px;
}

.tl_img07 {
top: (606 - 20) * 1px;
left: 392px;
}
.tl_img08{
top: (1000 - 20) * 1px;
left: 21px;
}

.tl_img09 {
top: (976 - 20) * 1px;
left: 506px;
}

.tl_img10 {
top: (1413 - 20) * 1px;
left: 460px;
}

.tl_img11 {
top: (1407 - 20) * 1px;
left: 94px;
}

.tl_img12{
top: (1575 - 20) * 1px;
left: 342px;
}

.tl_img13 {
top: (1864 - 20) * 1px;
left: 21px;
}

.tl_img14{
top: (2070 - 20) * 1px;
left: 148px;
}

.tl_img15{
top: (1972 + 30) * 1px;
left: 674px;
}

.tl_img16{
top: (1914 + 30) * 1px;
left: 488px;
}

.tl_img17 {
top: (2060 + 30) * 1px;
left: 373px;
}

.tl_img18{
top: (2348 + 30) * 1px;
left: 169px;
}

.tl_img19{
top: (2576 - 20) * 1px;
left: 440px;
}

.tl_img20{
top: (2749 - 20) * 1px;
left: 409px;
}

.tl_img20_2 {
	top: (2383 - 20) * 1px;
	left: 559px;
}

.tl_img21{
top: (2618 - 20) * 1px;
left: 126px;
}

.tl_img22{
top: (2846 - 20) * 1px;
left: 91px;
}

.tl_img23{
top: (3160 - 20) * 1px;
left: 21px;
}

.tl_img24 {
top: (3127 - 20) * 1px;
left: 372px;
}

.tl_img24_2 {
	top: (3245 - 20) * 1px;
	left: 497px;
}

.tl_img25 {
top: (3581 - 20) * 1px;
left: 280px;
}

.tl_img26 {
top: (3899 - 20) * 1px;
left: 478px;
}

.tl_img27 {
left: 73px;
top: (3821 - 20) * 1px;
}

.tl_img28{
top: (4278 - 20) * 1px;
left:0;
}

.tl_img29{
left: 528px;
top: (4257 - 20) * 1px;
}

.tl_blocks {

	width:960px;
	margin:0 auto;
	position: relative;
	&>h2 {
		margin-bottom: 46px;
		img {
			margin-left: -81px;
		}
	}
}
.tl_block {
	position: relative;
	.ttl,
	.txtarea,
	.img {
		position: absolute;
	}
	.txtarea {
		font-size: 1.4rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (26 / 14); /* フォント置換による類似 */
		text-align: justify;
	}
	.subttl {
		font-size: 1.4rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 14); /* フォント置換による類似 */
		text-align: left;
	}
}
.tl_block_1 {
	.ttl {
		top: 48px;
	left: 68px;
		width: 340px;
	}
	.txtarea {
		top: 90px;
	left: 71px;
	width: 320px;
}
	.img {
		top: 260px;
	left: 68px;
	}
}
.tl_block_2 {
	left:499px;
	top: 157px;
	.ttl {
		top: 49px;
	left: 69px;
	}
	.txtarea {
		top: 90px;
	left: 71px;
	width: 340px;
	}
	.img {
		top: 360px;
	left: 48px;
	}
	position: absolute;
}
.tl_block_3 {
	margin-top: 27px;
	.ttl {
		top: 62px;
	left: 85px;
	}
	&>.subttl {
		top: 100px;
	position: absolute;
	left: 85px;
	position: absolute;
	}
	.txtarea {
		top: 144px;
	left: 85px;
	}
	.inner_1 {
		position: absolute;
		width: 325px;
		.img {
			top: 108px;
    left: 5px;
		}
	}
	.inner_2 {
		position: absolute;
			left: 418px;
			width: 330px;
		.img {
			left: 31px;
			top: 134px;
		}
	}
}
.tl_link {
	margin-top: 130px;
	padding-top: 105px;
	padding-bottom: 140px;
	a {
		margin-top: 13px;
	}
}
/* ===============================================
method
=============================================== */
.lower_header--mk {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_mk_l.png');
		display: inline-block;
	}
}
.content_area--info + .content_area--info {
	margin-top: 120px;
}
.outline--lead {
	@extend .clearfix;
	position: relative;
	.ttl  {
		margin-top: 27px;
	}
	.list-style--leaf {
		margin-top: 40px;
	}
	.col--left {
		float: left;
	}
	.col--left.abs {
		padding-bottom: 43px;
	}
}

.mk2 {
	.outline--lead .img1 {
		position: absolute;
		top: 143px;
		right: 7px;
	}
	.btns {
		padding-top: 40px;
		text-align: left;
		font-size: 0;
		clear: both;
		img {
			display: inline-block;
			margin-right: 30px;
		}
	}
}

.mk1 {
	.outline--lead .img1 {
		position: absolute;
		top: 143px;
		right: 7px;
	}
	.btns {
		padding-top: 40px;
		text-align: left;
		font-size: 0;
		clear: both;
		img {
			display: inline-block;
			margin-right: 30px;
		}
	}
}


.backgrond-color--lightgreen--lower {
	.backgrond-color__inner {
		padding-top: 189px;
		padding-bottom: 135px;
	}
}

.backgrond-color--lightblue--lower {
	.backgrond-color__inner {
		padding-top: 92px;
		padding-bottom: 160px;
	}
}

.border-area.border-area--lower {
	& + .border-area--lower {
		margin-top: 170px;
	}
	.border-body {
		.content_area_wrapper {
			.block {
				.block__inner-2nd {
					padding:18px 0;
				}
				.icon {
					background-color: #e0cd2f;
					padding:8px 20px;
					@include border-radius(20px);
					color: #ffffff;
					font-size: 1.4rem;
					font-weight: 700;
					line-height: 1;
					text-align: center;
					display: inline-block;
					margin-top: 13px;
				}

				.below {
					color: #565a55;
					font-weight: 700;
					text-align: justify;
					padding:0 36px;
					.level1 {
						font-size: 1.6rem;
						line-height: 1.9;
						&:before {
							content:'●';
							color:#e4d137;
							margin-right: 5px;
						}
					}
					.level2 {
						font-size: 1.4rem;
						line-height: (24 / 14);
						padding-left: 30px;
					}
					.level3 {
						font-size: 1.4rem;
						line-height: (24 / 14);
						padding-left: 60px;
					}
				}
			}
			.block.block--L {
				width:652px;
				margin-bottom: 50px;
				.block__inner-2nd {
					position: relative;
				}
				.icon {
					position: absolute;
					top:0;
					right:40px;
				}
				.sep {
					width: 602px;
				}
				.below {
					max-width:92%;
					display: inline-block;
				}
			}

			.block.block--S {
				width:280px;
				margin-left: 10px;
				margin-right: 10px;
				.block__inner-2nd {
					position: relative;
				}
				.sep {
					width: 230px;
				}
				.below {
					max-width:230px;
					display: inline-block;
				}
				.level2 {
					font-size: 1.4rem;
					line-height: (24 / 14);
					padding-left: 0;
				}
			}
			.block--M {
				margin-left: 22px;
				margin-right: 22px;
			}
		}
	}
}

.below_added {
	color: #565a55;
	font-weight: 700;
	text-align: justify;
	padding:29px ;
	display:inline-block;
	.level1 {
		font-size: 1.6rem;
		line-height: 1.9;
		&:before {
			content:'● ';
			color:#e4d137;
		}
	}
	.level2 {
		font-size: 1.4rem;
		line-height: (24 / 14);
		padding-left: 30px;
	}
	.level3 {
		font-size: 1.4rem;
		line-height: (24 / 14);
		padding-left: 60px;
	}
}

.border-area.border-area--lower.border-area--green {
	.border-body .content_area_wrapper{
		.block {
			.icon {
				background-color: #71c684;
			}
			.below .level1:before {
				content:'● ';
				color:#71c684;
			}
		}
	}
	.below_added {
		.level1 {
			&:before {
				content:'● ';
				color:#71c684;
			}
		}
	}
}

.border-area.border-area--lower.border-area--blue {
	.border-body .content_area_wrapper{
		.block {
			.icon {
				background-color: #78c9e1;
			}
			.below .level1:before {
				content:'● ';
				color:#78c9e1;
			}
		}
	}
	.below_added {
		.level1 {
			&:before {
				content:'● ';
				color:#78c9e1;
			}
		}
	}
}

.info_detail_wrap + .info_detail_wrap {
	padding-top:30px;
	margin-top: 19px;
	border-top: 1px #565a55 dashed;
}
table.info_detail {
	table-layout:fixed;
	width: 100%;
	th,td {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.5;
		text-align: left;
		padding:6px 0;
	}
	.th1 {
		text-align: center;
	}
}

.backgrond-color--lightblue.blue {
	.area--normal_border--results {
		font-weight: normal;
	}
	.area--normal_border--price {
		.info_detail_wrap+.info_detail_wrap {
			padding-top: 18px;
		}
		table.info_detail {
			table-layout: auto;
		}
		.sub {
			color: #565a55;
			font-size: 1.4rem;
			font-weight: 700;
			line-height: (22 / 14);
			text-align: right;
			padding-right: 12px;
		}
		.th1 {
			width:(240 / 2 ) * 1px;
			text-align: left;
			padding-left: 47px;
			box-sizing: border-box;
		}
		.th2 {
			width:(492 / 2 ) * 1px
		}
		.th3 {
			width:150px;
		}
		.th4 {
			width:149px;
		}
		.th5 {
			width:(178 / 2 ) * 1px;
		}
	}
}


/* inview
----------------------- */
.border-area--yellow.section1 {
	&#con1 {
		.inview--to_bottom {
			top:286px;
			left:-180px;
		}
		.inview-f-1 {
			left:249px;
		}
		.inview-f-2 {
			left:580px;
		}
	}
	&#con2{
		.inview-f-1 {
			left:138px;
		}
		.inview-f-2 {
			left:418px;
		}
		.inview-f-3 {
			left:672px;
		}
	}
	&#con3{
		.inview--to_bottom {
			top:-27px;
			left:895px;
		}
		.inview-f-1 {
			left:259px;
		}
		.inview-f-2 {
			left:623px;
		}
	}
}

/* inview
----------------------- */
.border-area--green.section1 {
	&#con1 {
		.inview--to_bottom {
			top:279px;
			left:859px;
		}
		.inview-f-1 {
			left:176px;
		}
		.inview-f-2 {
			left:497px;
		}
	}
	&#con2{
		.inview--to_bottom {
			top:174px;
			left:-199px;
		}
		.inview-f-1 {
			left:197px;
		}
		.inview-f-2 {
			left:493px;
		}
	}
}

/* inview
----------------------- */
.border-area--blue.section1 {
	.content_area_wrapper {
		padding-bottom: 10px;
	}
	&#con1 {
		.inview--to_bottom {
			top: 238px;
			left: -169px;
		}
		.inview-f-1 {
			left:185px;
		}
		.inview-f-2 {
			left:554px;
		}
		.below {
			max-width: 92%;
		}
	}
	&#con2{
		.inview--to_bottom {
			top: 266px;
			right: -184px;
		}
		.inview-f-1 {
			left:163px;
		}
		.inview-f-2 {
			left:595px;
		}
		.below {
			text-align: center;
			padding:0 12px;
			max-width:100%;
			.level1 {
				max-width: 58%;
				text-align: left;
				margin: 0 auto;
			}
			.level3 {
				padding-left: 0;
				font-size: 1.2rem;
				font-weight: 500;
				line-height: (20 / 12);
				text-align: center;
				letter-spacing: 0;
				margin-top: 8px;
			}
		}
	}
}
.border-area_wrapper {
	position: relative;
	width: 960px;
	margin:0 auto;
	margin-top: 93px;
	.border-area {
		margin-right: 0;
	}
	.ex_img1 {
		position: absolute;
		top: 144px;
		left: 29px;
	}
}
.border-area--m {
	margin-bottom: 89px;
	padding-bottom: 58px;
	.inview--to_top--delay1 {
		top:(-32 + 30) * 1px;
		right: 57px;
	}
}
.border-area--green.con3,
.border-area--yellow.con3 {
	.content_area_wrapper{
		padding-top: 26px;
		padding-bottom: 60px;
	}

	.inview--to_top--delay1 {
		top: (-40 + 30) * 1px;;
		right: 155px;
	}
	.inview--to_bottom {
		top: 137px;
		right: -109px;
	}
}


.border-area--yellow.con3 {
	.border_header {
		width: 956px;
		height: 150px;
		overflow: hidden;
		margin: 0 auto;
		margin-left: 4px;
	}
}

.border-area--yellow-l {
	.border_header {
		width: 960px;
		height: 150px;
		overflow: hidden;
		margin: 0 auto;
		margin-left: 3px;
	}
}

.txttable1 {
	width: 100%;
	table-layout: fixed;
	margin-bottom: 23px;
	th {
		width: 3.5em;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
	td {
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 500;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
}
.content_area--info {
	.area--normal_border--results {
		padding: 35px 43px;
		overflow:hidden;
	}
	.blue {
		color: #78c9e1;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
	.green {
		color: #71c684;;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
	.yellow {
		color: #e0cd2f;
		font-size: 1.6rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (26 / 16); /* フォント置換による類似 */
		text-align: left;
	}
	.sep {
		margin-left: -42px;
		margin-bottom: 30px;
	}
}
.area--normal_border--price {
	padding: 16px 18px 44px;
	.ttl_area {
		@extend .clearfix;
		padding: 0;
		padding-bottom: 15px;
		border-bottom: 1px #565a55 solid;
		.ttl {
			float: left;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: (22 / 16);
			text-align: left;
			padding-top: 21px;
			padding-left: 33px;
		}
		.aside {
			float: right;
			color: #565a55;
			font-size: 1.4rem;
			font-weight: 500;
			line-height: (22 / 14);
			text-align: left;
			margin-right: 3px;
		}
	}
	.info {
		margin-top: 20px;
		position: relative;
		.ttl {
			padding-top: 18px;
			padding-left: 24px;
		}
		.detail {
			overflow: hidden;
		}
		.left {
			padding-top: 17px;
			padding-left: 32px;
			th {
				width: 168px;
				font-weight: normal;
				text-align: left;
			}
			tr + tr {
				th,
				td {
					padding-top: 12px;
				}
			}
		}
		.right {
			position: absolute;
			border-radius: 20px;
			border-width: 2px;
			border-color: #78c9e1;
			border-style: dashed;
			width: 569px;
			height: 89px;
			top: 0px;
			left: 347px;
			table {
				position: absolute;
				top: 15px;
				left: 193px;
				th {
					width: 252px;
					font-weight: normal;
					text-align: left;
				}
				tr+tr {
					td,
					th {
						padding-top: 13px;
					}
				}
			}
			&.right--green {
				border-color: #71c684;
			}
		}
	}
}
.area--normal_border--flow {
	padding-bottom: 28px;
	.sub {
		font-size: 1.4rem; /* フォント置換による類似 */
		font-weight: 700;
		line-height: (22 / 14); /* フォント置換による類似 */
		text-align: left;
		background-color: #fffbb1;
		@include border-radius(20px);
		display: inline-block;
		margin-top: 27px;
		padding: 0 7px;
	}
}

.backgrond-color--lightblue--lower.mk {
	.backgrond-color__inner {
		padding-bottom: 120px;
	}
}
.backgrond-color--lightgreen--lower.mk {
	.backgrond-color__inner {
		padding-top: 112px;
	}
}
/* title
----------------------- */
.ttl--price {
	@include text_indent_none();
	background:transparent url('../images/ttl_price.png') center center no-repeat;
	background-size: 47px auto;
	width:47px;
	height: 24px;
	margin:0 auto;
}

.ttl--flow {
	@include text_indent_none();
	background:transparent url('../images/ttl_flow.png') center center no-repeat;
	background-size: 174px auto;
	width:174px;
	height: 23px;
	margin:0 auto;
}

.ttl--results {
	@include text_indent_none();
	background:transparent url('../images/ttl_results.png') center center no-repeat;
	background-size: 99px auto;
	width:99px;
	height: 23px;
	margin:0 auto;
}

.area--normal_border--flow {
	font-size: 1.8rem;
	font-weight: 700;
	line-height: (24 / 18);
	text-align: center;
	position: relative;
	.icon {
		position: absolute;
		color: #fff;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 1;
		text-align: left;
		top:-20px;
		right: 20px;

		background-color: #565a55;
		@include border-radius(30px);
		padding:11px 21px;
	}
}
.area--normal_border--results {
	@extend .area--normal_border--flow;
	font-size: 1.6rem;
	text-align: left;
	font-weight: 500;
	line-height: (24 / 16);
}

.area--normal_border--map {
	padding:0;
	.inner {
		display: table;
		width: 100%;
		table-layout: fixed;
	}
	.left,.right {
		width: 50%;
		display: table-cell;
		vertical-align:middle;
		iframe {
			width: 100%;
			display: block;
			@include border-radius(10px);
		}
	}
	.left {
		padding-top: 10px;
		padding-left:18px;
	}
	.ttl {
		font-size: 1.6rem;
		font-weight: 700;
		line-height: (22 / 16);
		text-align: left;
		padding-left: 32px;
		padding-bottom: 12px;
		border-bottom: 1px #565a55 dashed ;
	}
	.txt {
		font-size: 1.6rem;
		font-weight: 500;
		line-height: (28 / 16);
		text-align: left;
		padding-left: 32px;
		margin-top: 10px;
	}
	p.bold {
		font-weight: 700;
		line-height: 2;
	}
}
/* ===============================================
concept
=============================================== */
.lower_header--concept {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_concept.png');
		display: inline-block;
	}
}

.lower_header--concept_2 {
	text-align: center;
	span {
		@include background_wh('../images/ttl_concept_2.png');
		display: inline-block;
	}
}

.lower_header--concept_3 {
	text-align: center;
	span {
		@include background_wh('../images/ttl_concept_3.png');
		display: inline-block;
	}
}

//ttl_concept_3.png

.concept {
	.mv{
		position: absolute;
		right:0;
		top:-14px;
		width:auto;
		width: 665px;
		height: auto;
		z-index:1;
		margin:0;
	}
	.content_area {
		width: 989px;
	}
	.subttl {
		@include hira_mincho();
		font-weight:bold;
		font-size: 2.6rem;
		text-align: center;
		background:url(../images/bg_concept_2.png) no-repeat left top;
		background-size: 555px auto;
		width: 555px;
		height: 44px;
		line-height: 44px;
		margin-top: 54px;
		position: relative;
		z-index:4;
		padding-left: 7px;
	}
	.txt {
		@include hira_mincho();
		color: #565a55;
		font-size: 1.8rem;
		line-height: (48 / 18);
		text-align: left;
		margin-top: 66px;
		padding-left: 16px;
		position: relative;
		z-index:11;
	}

	.backgrond-color--lightgreen {
		padding-top: 143px;
		padding-bottom: 135px;
		section > .ttl {
			text-align: center;
		}
		.msg {
			margin-top: 100px;
			text-align: center;
		}
	}
	.c_img_1 {
		width: 608px;
		margin:50px auto 0;
		position: relative;
		.btn1,.btn2 {
			position: absolute;
		}
		.btn1 {
			top: 255px;
			left: 83px;
		}
		.btn2 {
			top: 476px;
			left: 410px;
		}
	}
}

.c_link_1 {
	h2 {
		margin-bottom: 31px;
	}
}

.navigation {
	padding-top: 106px;
	padding-bottom: 164px;
	.lower_header--concept_2 {
		margin-bottom: 30px;
	}
	.lower_header--concept_3 {
		margin-bottom: 6px;
	}
	.btns {
		ul {
			text-align: center;
			font-size: 0;
			li {
				display: inline-block;
				margin-left: 30px;
				margin-right: 30px;
				a {
					display: block;
					@include opacity--anim(0.5);
				}
			}
		}
	}
	section + section {
		margin-top: 109px;
		p {
			text-align: center;
		}
	}
}
/* ===============================================
卒業生
=============================================== */
.lower_header--graduate {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_graduate.png');
		display: inline-block;
	}
}
.gr_mv {
	text-align: center;
	margin-top: -90px;
	margin-bottom: 120px;
}
.graduate {
	.backgrond-color--lightgreen.iv2 {
		padding-top: 122px;
		padding-bottom: 60px;
	}
	.lead {
		width: 879px;
		margin: 0 auto;
		padding-bottom: 110px;
		.content_area {
			position: relative;
		}
		h2 {
			margin-top: 6px;
			margin-bottom: 41px;
		}
		h2,p {
			position: relative;
			z-index:2;
		}

	}
	.lead1 {
		.img {
			position: absolute;
			top: 18px;
			right: 80px;
			z-index: 1;
		}
	}
	.lead1 {
		.img {
			position: absolute;
			top: 13px;
		right: 40px;
			z-index: 1;
		}
	}

	.backgrond-color--lightgreen {
		padding-top: 170px;
		padding-bottom: 125px;
	}
	.step {
		width: 721px;
		border-width: 2px;
		border-color: #9fdcd8;
		border-style: dashed;
		background-color: #fffffd;
		position:relative;
		@include border-radius(50px);
		margin:0 auto;
		padding-top: 33px;
		padding-bottom: 17px;
		box-sizing: border-box;
		position: relative;
		.ttl {
			position: absolute;
			top:-32px;
			left: 60px;
		}
		.content {
			@extend .clearfix;
			width: 565px;
			margin:0 auto;
			.img {
				float: left;
				padding-right: 68px;
			}
			.txt {
				overflow: hidden;
				font-size: 1.4rem;
				font-weight: 500;
				line-height: 2.0;
				padding-top: 12px;
				h3 {
					font-weight: 700;
				}
			}
		}
		.content + .content {
			margin-top: 38px;
		}
	}

	.interview {
		width:718px;
		margin:68px auto 0;
		.txt + .txt {
			margin-top: 43px;
		}
		.green{
			color: #85bfbb;
			font-size: 1.6rem;
			font-weight: 700;
			line-height: (32 / 16);
			text-align: justify;
			p:before {
				content:"";
				background-color: #85bfbb;
				width: 42px;
				height: 1px;
				display:inline-block;
				vertical-align: 5px;
				margin-right: 7px;
			}
		}
		.black {
			font-size: 1.6rem;
			line-height: (32 / 16);
			text-align: justify;
			font-weight: 500;
			.head {
				font-weight: 700;
				display: inline-block;
				margin-right: 4px;
			}
		}
		.img {
			text-align: center;
			margin-top: 74px;
			margin-bottom: 71px;
		}
		.img.msg {
			margin-top: 50px;
		}
	}

	.iv1 {
		padding-bottom: 40px;
		.lead {
			padding-bottom: 56px;
		}
		.lead h2 {
			margin-left: -42px;
			margin-top: 13px;
		}
		.lead p {
			margin-left: -43px;
			margin-top: 81px;
		}
		.lead1 .img {
			top:0;
		}
		& + .backgrond-color--lightgreen {
			padding-bottom: 60px;
		}
	}
}
.btn_wrap_mk {
	text-align: center;
	font-size: 0;
	li {
		display: inline-block;
		margin-left: 20px;
		margin-right: 20px;
	}
}
/* ===============================================
日々の
=============================================== */
.lower_header--hb {
	@extend .lower_header;
	span {
		@include background_wh('../images/ttl_hb.png');
		display: inline-block;
	}
}
.hb {
	.blocks {
		width: 910px;
		margin:0 auto;
		position: relative;
		padding-bottom: 80px;
	}
	.block {
		position: relative;
		display: block;
		.img,.ttl,.txt {
			position: absolute;
		}
		.txt {
			font-size: 1.4rem; /* フォント置換による類似 */
			font-weight: 500;
			line-height: (24 / 14); /* フォント置換による類似 */
			text-align: left;
		}
	}

	.block1 {
		width: 550px;
		margin-left: 175px;
		.img {
			top: -37px;
			left: 70px;
		}
		.ttl {
			top: 74px;
			left: 241px;
		}
		.txt {
			top: 47px;
			left: 114px;
		}
	}
	.block2 {
		width: 518px;
		    margin-top: 4px;
		.img {
			top: -49px;
			left: 49px;
		}
		.ttl {
			top: 84px;
			left: 221px;
		}
		.txt {
			top: 57px;
			left: 55px;
		}
	}
	.block3 {
		position: absolute;
		right: 49px;
    	top: 236px;
		.img {
			top: -37px;
			left: 220px;
		}
		.ttl {
			top: 94px;
			left: 124px;
		}
		.txt {
			top: 65px;
			left: 38px;
		}
	}
}

.hb {
	.mv {
		width: 416px;
	}
	.content_area {
		width: 539px;
		margin-bottom: 124px;
		.txt {
			font-size: 1.6rem; /* フォント置換による類似 */
			line-height: (40 / 16); /* フォント置換による類似 */
			text-align: left;
			margin-top: -2px;
		}
	}
}
.blank {
	color: #2b978d;
	&:after {
		content:"";
		@include text_indent_none();
		@include sprite_background_retina(icon_blank);
		display: inline-block;
		margin-left: 10px;
	}
}
.fancybox.blank {
	&:after {
		display: none;
	}
}
/* **************************************************
Modules
************************************************** */
@include modules;


/* ===============================================
ie fix
=============================================== */
body.ie,
body.edge {
	.lower_header {
		.ttl span {
			vertical-align:-5px;
		}
	}

	.inner-column--2 .box:first-child {
		width: 295px;
	}

	.border-area--m .inner-column--2 .box+.box {
		width: 295px;
	}

	.inner-column--3 .box+.box {
		width: 242px;
	}
	.gnav > ul > li.fb a {
		padding-top:0;
	}
	.gnav > ul > li ul.child a {
		padding-top:0;
	}
	.mv .lead2 p {
		padding-bottom: 2px;
	}
	.list-style--leaf li span:before {
		vertical-align: -9px;
	}
	.list-style--leaf li span {
		padding-bottom: 0;
	}
	.linetext--yellow--wavy, .linetext--green--wavy,, .linetext--blue--wavy {
		padding-bottom: 7px;
	}
	.caution {
		line-height: 59px;
	}

	.border-area.border-area--lower .border-body .content_area_wrapper .block .icon {
		padding-top:11px;
	}
	.border-area.border-area--lower .border-body .content_area_wrapper .block.block--L .icon {
		top:-5px;
	}

	.concept .backgrond-color--lightgreen .txtarea {
		padding: 45px 124px 0;
	}

	.concept .backgrond-color--lightgreen .txtarea>.ttl {
		padding-bottom: 10px;
	}


}

body.ie {
	.main_header {
		z-index:30010;
	}
	.gnav {
		z-index:30010;
	}
	.mv .slide .inner {
		z-index:30000;
	}
	.area--normal_border--flow .sub, .area--normal_border--results .sub {
		line-height:1.8;
		padding-top: 3px;
	}
	.border-area .icon {
		line-height: 2.2;
	}
	.linetext--yellow--wavy, .linetext--green--wavy, .linetext--blue--wavy {
		padding-bottom: 0;
	}
	.list-style--leaf li span {
		display:inline-block;
		line-height:1;
	}

	.list-style--leaf li span:before {
		vertical-align: middle;
	}

	.icon--yellow_back,.icon--green_back,.icon--blue_back {
		line-height:49px;
	}
	.concept .backgrond-color--lightgreen .txtarea>.ttl {
		padding-bottom: 4px;
	}
	.concept .subttl {
		line-height: 62px;
	}
	.concept .txt {
		margin-top: 75px;
	}
}
