li.nav_1
	a(href="") コンセプト
li.nav_2
	a(href="") 卒業生より
li.nav_3
	a(href="") 学び方
li.nav_4
	a(href="") 日々のようす
	ul.child
		li.c_nav_1
			a(href="") ある日の学び
		li.c_nav_2
			a(href="") 先生たち
		li.c_nav_3
			a(href="") movie
