li.nav_5
	a(href="") 子どもたちの変容
li.nav_6
	a(href="") 不登校Q&amp;A
li.nav_7
	a(href="") アクセスと概要
li.nav_8
	a(href="") 日誌
li.nav_9
	a(href="") お問い合わせ
li.fb
	a(href="https://www.facebook.com/tanq.manabinomori.co.jp/", target="_blank") Facebook
