extends layout.pug
block contents
	.concept.hb
		header.lower_header.lower_header--hb
			h1.ttl
				span 日々のようす
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_hb_1.png` width="416" alt="").mv
			.backgrond-color__inner
				section.content_area
					.txt
						p しずかな時もあれば、<br>
						| 笑いがとまらない日もある。<br>
						| 真剣に話し合ったり、答えの出ない問いを考え続けたり、<br>
						| 将来を語ったり、その道を極めるプロの話に衝撃を受けたり……<br>
						| 色んな大人がやってくる。小中学生も色んな考えを持っている。<br>
						| 個性豊かな人が集う学びの森。<br>
						| そんな私たちの日々のようすを、ほんの少しご紹介します。
				section.blocks
					a(href="/aruhi").block.block1
						img(src=`${assets_prefix}images/bg_hb_1.png` width="550" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_1.png` width="147" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_2.png` width="145" alt="ある日の学び")
						.txt
							p
								| 朝やってきて夕方帰るまでの、1日の流れ。<br>
								| 知りたいこと・考えることがたくさんあって<br>
								| 毎日があっという間にすぎていきます！<br>
								| 森の語り場・森の出会い場の様子もぜひご覧ください。
					a(href="/teacher").block.block2
						img(src=`${assets_prefix}images/bg_hb_2.png` width="518" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_2.png` width="154" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_3.png` width="95" alt="先生たち")
						.txt
							p
								| 本や映画のこと、友だちのこと、仕事のこと、社会のこと。<br>
								| 勉強だけじゃなく、私たちと色々な話をしましょう。<br>
								| 悩みも迷いもたくさん経験してきた<br>
								| おもしろい大人が集まっています。
					a(href="/movie").block.block3
						img(src=`${assets_prefix}images/bg_hb_3.png` width="315" alt="")
						.img
							img(src=`${assets_prefix}images/img_hb_3.png` width="143" alt="")
						h3.ttl
							img(src=`${assets_prefix}images/ttl_hb_4.png` width="68" alt="movie")
						.txt
							p
								| 動画で見る学びの森。<br>
								| 授業や課外活動、卒業式など、<br>
								| ありのままの日々のようすを<br>
								| のぞいてみてください。
