extends layout.pug
block contents
	.concept
		header.lower_header.lower_header--concept
			h1.ttl
				span コンセプト
		.backgrond-color--lightblue
			img(src=`${assets_prefix}images/mv_concept.png`, alt="",width="665").mv
			.backgrond-color__inner
				section.content_area
					h2.subttl 不登校を、自由で豊かな学びのはじまりに。
					.txt
						p 好きな机に座り、先生や仲間と会話をしながら<br>
						| 一人ひとりが自分のペースで学習する学びの森。<br>
						| <br>
						| ここは単なる居場所ではなく、子どもの成長・変容をサポートする場です。<br>
						| 学びを通じて子どもたちは自信を取り戻し、<br>
						| 多様な大人との関わりの中で自分の将来を前向きに考えるようになります。<br>
						| <br>
						| 大きく葉を広げるヘゴシダの木の下で、子どもたちは人生を切り拓く力を育むのです。
		.backgrond-color--lightgreen
			section
				h2.ttl
					img(src=`${assets_prefix}images/ttl_concept_1.png` width="244" alt="5つのサポート")
				.c_img_1
					img(src=`${assets_prefix}images/img_c_1.png` width="608" alt="学習 基礎学力の回復、 試験・受験対策、 探究学習 キャリア 進学・就職・留学など 幅広いキャリア支援、 年10回の「出会い場」 心理 カウンセリング、面談、 外部組織との連携サポート 個別理解 ペアレント 年3回の保護者面談、 保護者カウンセリング、 個別相談、 個別カウンセリング、 親の語り場 ナラティブ 月1回の「語り場」 自己変容 能動的なキャリア形成")
					a(href="/blog/category/cat11/").btn1
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
					a(href="/blog/category/cat10/").btn2
						img(src=`${assets_prefix}images/btn_c_detail_off.png` width="104" alt="> 詳しく見る").rollover
			section.msg.ac
				img(src=`${assets_prefix}images/img_c_msg_pc.png` width="960" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").pc.am
				img(src=`${assets_prefix}images/img_c_msg_sp.png` width="560" alt="学びの森代表・副代表からのメッセージ 不登校、「不登校になってよかった」と親も子も言える日が来るように。これは、ある卒業生のお母様の言葉です。不登校は単なる挫折ではなく、大きな成長・変容のきっかけになり得る1つのチャンスだと私たちは考えています。学びの森では、生活・心理面のサポートをしながら、教科を学ぶ個別学習に加え、探究学習などのより実践的な学習にも取り組みます。また、子どもが変わっていくためには、親御さんが広い視野をもって家族のあり方を振り返ることが重要です。お悩みの方は、ぜひ一度お話を聞かせてください。同じ子どもの不登校を経験した母として、親御さんの心を支えたい。私たち夫婦の長女は中学3年生の時に不登校になりました。先天的な身体障害のため車イスで生活している彼女ですが、フリースクールで学び、大学入学後はアメリカでの留学・インターンシップなど様々なことに挑戦し、今は社会人として、彼女ならではの人生を生きています。2人の娘を育てる中で、予想だにしない試練がたくさんありました。子どもの自己形成の時期である15～17歳の頃は、私も娘もそれぞれによき理解者との出会いがあり、その方々に支えられて前へ進んできました。同じような問題を抱えておられる皆さんに、私たち家族や学びの森で一緒に過ごしてきた子どもたちの経験をいかして、少しでもお力添えができればと思っております。 学びの森 代表北村 真也 学びの森 副代表 北村 恵美子").sp.am

		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
				section.mk_link
					h2.ac
						img(src=`${assets_prefix}images/ttl_aruhi.png`, width='148', height='24', alt='ある日の学び')
					p.ac
						a.noanim(style='margin-top: 7px', href='/aruhi')
							img.rollover(src='http://high.manabinomori.local/wp-content/themes/highschool/assets/images/btn_top_manabi_off.png', alt='', width='871')

