extends layout.pug
block slug
	- slug = 'home'
block contents
	section.mv
		.slide
			ul
				li
					img(src=`${assets_prefix}images/slide1.png` alt="")
				li
					img(src=`${assets_prefix}images/slide2.png` alt="")
				li
					img(src=`${assets_prefix}images/slide3.png` alt="")
			.inner
				.lead
					img(src=`${assets_prefix}images/mv_lead.png`, alt="いい人生って なんやろう。おもしろい大人って どんな人？色んな答えが 見えてくる。自分を広げ 人と 社会と つながっていく。" , width="509")
				aside.date_info
					a(href="")
						.text1
							| 無料体験
							br
							| 受付中！
						.text2.all
							span.date1 2/20
							span.sep 〜
							span.date2 3/24
	section.backgrond-color--lightblue.nosep
		.backgrond-color__inner
			.top_links
				a(href="/sotsugyo").noanim
					img(src=`${assets_prefix}images/btn_top_gr_off.png` width="615" alt="卒業生より").rollover
				.img1
					img(src=`${assets_prefix}images/img_top_support.png` width="290" alt="")
					a(href="http://free.manabinomori.co.jp/",target="_blank")
						img(src=`${assets_prefix}images/btn_top_free_off.png` width="230" alt="")
				a(href="/blog/category/cat5").img2
					img(src=`${assets_prefix}images/btn_top_media_off.png` width="163" alt="")
				a(href="/movie#cat4").img3
					img(src=`${assets_prefix}images/btn_top_rec_off.png` width="161" alt="")
				p.lead
					img(src=`${assets_prefix}images/img_top_outline_lead.png` width="742" alt="不登校になったからこそ、もっと自由な学びを。もっと豊かな人生を。")
	section.top_outline
		h2.ttl.ac
			img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
		.left
			section.border-area.border-area--blue.border-area--s
				.border_header
					img(src=`${assets_prefix}images/border--blue--head-s.png`, alt="").pc
					img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ハイスクール
									.icon 週4回 10:30~16:00
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ハイスクール
									.icon 週4回 10:30~16:00
						.content_area_wrapper
							.inner
								p
									| ・高卒資格取得<br>
									| ・キャリア・進路指導<br>
									| ・個別学習、探究学習、体験活動<br>
									| ・生活面・心理面サポート
							a.btn(href="/manabi1") 詳しく見る
		.right
			p.tt
				img(src=`${assets_prefix}images/img_top_tt.png` width="460" alt="")
	section.top_result
		h2.ttl 自分の力でキャリアを選択し、掴みとる力を。
		p.more
			a(href="") &gt;もっと見る
		.inner
			h3.ttl 進路実績
			.txt
				p <span>大学：</span>同志社大、立命館大、龍谷大、京都産業大　など<br>
				| <span>短大：</span>関西外国語短大、光華女子短大　など<br>
				| <span>専門：</span>京都桂看護学校、京都自動車専門学校　など
			.sep
			.txt2
				p.line1
					img(src=`${assets_prefix}images/img_top_result.png` width="311" alt="")
				p 自動車ディーラー、助産師、パティシエ、立命館大学大学院、ワーキングホリデー（カナダ）など
				p.line2
					img(src=`${assets_prefix}images/img_top_result2.png` width="311" alt="")
	section.top_tt
		h2.ttl
			img(src=`${assets_prefix}images/ttl_top_manabi.png` width="148" alt="ある日の学び")
		a(href="").noanim
			img(src=`${assets_prefix}images/btn_top_manabi_off.png`, alt="",width="871").rollover
	section.blog_list
		h2.ttl.ac
			img(src=`${assets_prefix}images/ttl_top_henyo.png` width="195" alt="子どもたちの変容")
		p.more
			a(href="") &gt;もっと見る
		ul.list
			li
				a(href="")
					.img.bg_p1
						.inner
						.filter
					.txt
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。
			li
				a(href="")
					.img.bg_p2
						.inner
						.filter
					.txt
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。
			li
				a(href="")
					.img.bg_p3
						.inner
						.filter
					.txt
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。
	section.blog_list
		h2.ttl.ac
			img(src=`${assets_prefix}images/ttl_top_nissi.png` width="44" alt="日誌")
		p.more
			a(href="") &gt;もっと見る
		ul.list.list--diary
			li
				a(href="")
					.img(style=`background:url(${assets_prefix}images/blog_dummy_1.png) no-repeat center center;background-size:280px auto;`)
						.inner
						.filter
					.txt
						span.date 2016 / 05 / 20
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。
			li
				a(href="")
					.img(style=`background:url(${assets_prefix}images/blog_dummy_2.png) no-repeat center center;background-size:280px auto;`)
						.inner
						.filter
					.txt
						span.date 2016 / 05 / 20
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。
			li
				a(href="")
					.img(style=`background:url(${assets_prefix}images/blog_dummy_3.png) no-repeat center center;background-size:280px auto;`)
						.inner
						.filter
					.txt
						span.date 2016 / 05 / 20
						p 投稿のタイトルが入ります。投稿のタイトルが入ります。

