-
	var ogp = {
		'title':'test',
		'description':'test',
		'url':'test',
		'image':'test',
		'siteName':'test',
		'lang':'test',
		'fbid':'test',
		'fbid':'test'
	}
-
	var meta = {
		title:'ページタイトル',
		desc:'ディスクリプション',
		key:'キーワード'
	}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = ''
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=5.0,user-scalable=1', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
	script.
		var GROBAL_WAVE_BACKGROUND = '#f5fbef';
body#top(class=slug)
	#wrap
		nav#spnavi.spnavi.sp
			#scroller
				ul
					include _inc_gnavi_1
					include _inc_gnavi_2
		.btn_sp_navi_wrap
			a.btn_sp_navi.nosc.nosms(href='#sp')
				span.bar
				span.bar
				span.bar
				span.text MENU
		block header
			header.main_header
				.inner
					h1.logo(title="学びの森 ハイスクール")
						span 学びの森 ハイスクール
					aside.min60
						a(href="") 60分無料相談
					aside.tel
						a(href="tel:0771-29-5800").tel_link TEL :
						span 0771-29-5588
				.leaf1.leaf
					img(src=`${assets_prefix}images/img_header--leaf_1.png`, alt="")
				.leaf2.leaf
					img(src=`${assets_prefix}images/img_header--leaf_2.png`, alt="")
			.gnav_wrap
				.inner
					nav.gnav
						ul
							include _inc_gnavi_1
							include _inc_gnavi_2
		block contents
			section.backgrond-color--lightblue.top_links
				.backgrond-color__inner
					a(href="/sotsugyo")
						img(src=`${assets_prefix}images/btn_top_gr_off.png` width="615" alt="卒業生より")
					img(src=`${assets_prefix}images/img_top_support.png` width="290" alt="").img1
					a(href="/blog/category/cat5").img2
						img(src=`${assets_prefix}images/btn_top_media_off.png` width="163" alt="")
					a(href="/movie#cat4").img3
						img(src=`${assets_prefix}images/btn_top_rec_off.png` width="161" alt="")
					p.lead
						img(src=`${assets_prefix}images/img_top_outline_lead.png` width="742" alt="不登校になったからこそ、もっと自由な学びを。もっと豊かな人生を。")
			section.top_outline
				h2.ttl.ac
					img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
				.left
					section.border-area.border-area--blue.border-area--s
						.border_header
							img(src=`${assets_prefix}images/border--blue--head-s.png`, alt="").pc
							img(src=`${assets_prefix}images/border--blue--head--sp.png`, alt="").sp
							.ttl_area_wrapper.sp
								.ttl_area
									.ttl_prefix
										.inner
											p ハイスクール
											.icon 週4回 10:30~16:00
						.border-body
							.border-body_inner
								.sep-sp.sp
								.ttl_area_wrapper
									header.ttl_area
										h3.ttl_prefix.pc
											.ttl ハイスクール
											.icon 週4回 10:30~16:00
								.content_area_wrapper
									.inner
										p
											| ・高卒資格取得<br>
											| ・キャリア・進路指導<br>
											| ・個別学習、探究学習、体験活動<br>
											| ・生活面・心理面サポート
									a.btn(href="/manabi1") 詳しく見る
				.right
					p.tt
						img(src=`${assets_prefix}images/img_top_tt.png` width="460" alt="")
			section.top_result
				h2.ttl 自分の力でキャリアを選択し、掴みとる力を。
				p.more
					a(href="") &gt;もっと見る
				.inner
					h3.ttl 進路実績
					.txt
						p <span>大学：</span>同志社大、立命館大、龍谷大、京都産業大　など<br>
						| <span>短大：</span>関西外国語短大、光華女子短大　など<br>
						| <span>専門：</span>京都桂看護学校、京都自動車専門学校　など
					.sep
					.txt2
						p.line1
							img(src=`${assets_prefix}images/img_top_result.png` width="311" alt="")
						p 自動車ディーラー、助産師、パティシエ、立命館大学大学院、ワーキングホリデー（カナダ）など
						p.line2
							img(src=`${assets_prefix}images/img_top_result2.png` width="311" alt="")
			section.ac
				h2.ttl
					img(src=`${assets_prefix}images/ttl_top_manabi.png` width="148" alt="ある日の学び")
				a(href="").noanim
					img(src=`${assets_prefix}images/btn_top_manabi_off.png`, alt="",width="871").rollover
			section.blog_list
				h2.ttl.ac
					img(src=`${assets_prefix}images/ttl_top_henyo.png` width="195" alt="子どもたちの変容")
				p.more
					a(href="") &gt;もっと見る
				ul.list
					li
						a(href="")
							.img.bg_p1
								.inner
								.filter
							.txt
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
					li
						a(href="")
							.img.bg_p2
								.inner
								.filter
							.txt
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
					li
						a(href="")
							.img.bg_p3
								.inner
								.filter
							.txt
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
			section.blog_list
				h2.ttl.ac
					img(src=`${assets_prefix}images/ttl_top_nissi.png` width="44" alt="日誌")
				p.more
					a(href="") &gt;もっと見る
				ul.list.list--diary
					li
						a(href="")
							.img(style=`background:url(${assets_prefix}images/blog_dummy_1.png) no-repeat center center;background-size:280px auto;`)
								.inner
								.filter
							.txt
								span.date 2016 / 05 / 20
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
					li
						a(href="")
							.img(style=`background:url(${assets_prefix}images/blog_dummy_2.png) no-repeat center center;background-size:280px auto;`)
								.inner
								.filter
							.txt
								span.date 2016 / 05 / 20
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
					li
						a(href="")
							.img(style=`background:url(${assets_prefix}images/blog_dummy_3.png) no-repeat center center;background-size:280px auto;`)
								.inner
								.filter
							.txt
								span.date 2016 / 05 / 20
								p 投稿のタイトルが入ります。投稿のタイトルが入ります。
		block footer
			footer#footer
				.footer_img
					.btns
						.inner
							a(href="#top").btn--gotop
							a(href="").btn--inquiry
							a(href="").btn--60mn
					.top
						canvas#wave1
					.bottom
						canvas#wave2
				.footer_info
					.inner
						.col3.col
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6537.192930398516!2d135.5858361691815!3d34.99177128026436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600055380af91455%3A0xb74b4398a503d0f3!2z44CSNjIxLTA4NDYg5Lqs6YO95bqc5LqA5bKh5biC5Y2X44Gk44Gk44GY44Kx5LiY5aSn6JGJ5Y-w77yS5LiB55uu77yU77yU4oiS77yZ!5e0!3m2!1sja!2sjp!4v1486801089577" width="393" height="246" frameborder="0" style="border:0" allowfullscreen></iframe>
							.btns
								a(href="http://tanq.manabinomori.co.jp",target="_blank").relate1 学びの森 探求スクール
								a(href="").relate2 学びの森 フリースクール
						.col2.col
							nav.footer_nav
								ul
									include _inc_gnavi_1
								ul
									include _inc_gnavi_2
							.meta
								p 〒621-0846<br>京都府亀岡市南つつじヶ丘大葉台2-44-9<br>TEL: 0771-29-5588
							.sns
								a(href="")
									span.icon--fb &nbsp;
									span.txt facebook
						.col1.col
							h2.logo
								a(href="") 学びの森 ハイスクール

		block flg
			#responsive_flg
	block scripts
		include _inc_scripts

</html>
