extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--mk
		h1.ttl
			span ある日の学び
	.backgrond-color--lightblue.mk1
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.icon--yellow_back 小学生
							.ttl
								h2.linetext--yellow--wavy ていねいな学習で自信を取り戻し、人生を切り拓く力を育てる。
							ul.list-style--leaf.pc
								li
									span 基礎学力の回復　　　　　……　一人ひとりの学力に合わせた教材での個別学習
								li
									span 探究学習　　　　　　　　……　探究、議論、発表など社会で必要な力をつける学習
								li
									span 中学受験対策・進路指導　……　私立・国公立中学への受験指導（希望者のみ）
								li
									span 生活面・心理面サポート　……　体験活動、カウンセリング、掃除や森の手入れなど
							ul.list-style--leaf.sp
								li
									span 基礎学力の回復<br>一人ひとりの学力に合わせた教材での個別学習
								li
									span 探究学習<br>探究、議論、発表など社会で必要な力をつける学習
								li
									span 中学受験対策・進路指導<br>私立・国公立中学への受験指導（希望者のみ）
								li
									span 生活面・心理面サポート<br>体験活動、カウンセリング、掃除や森の手入れなど
					img(src=`${assets_prefix}images/mk_img_1_1.png` width="242" alt="").img1
					.btns
						img(src=`${assets_prefix}images/btn_mk_1_1_off.png` width="212" alt="学びの森への出席が、在籍校への出席として認定されます。").rollover.img2
						img(src=`${assets_prefix}images/btn_mk_1_2_off.png` width="212" alt="交通機関を利用して通学される場合、通学定期を購入できます。").rollover.img3

	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--yellow
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p フリースクール<br>週4日　小学4~6年生　定員15名
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl フリースクール
									.icon 週4日　小学4~6年生　定員15名
						.content_area_wrapper
							h4 時間割
							.table_wrapper--basic_table.timetable
								table
									tbody
										tr.head
											th
											td 月
											td 火
											td 水
											td 木
											td 金
										tr
											th 1限目
												span.sub 10:30<br class="sp">~<br class="sp">11:50
											td 算数
											td 社会
											td ー
											td 理科
											td 理科
										tr
											th 昼休み
											td &nbsp;
											td &nbsp;
											td ー
											td &nbsp;
											td &nbsp;
										tr
											th 2限目
												span.sub 13:00<br class="sp">~<br class="sp">14:20
											td 探究
											td 国語
											td ー
											td 英語
											td 探究
										tr
											th 3限目
												span.sub 14:40<br class="sp">~<br class="sp">16:00
											td 国語
											td 算数
											td ー
											td 算数
											td 社会
							.inner-column--3
								.txtbox--has_wave_ttl.box
									h3.linetext--yellow--wavy
										span.ttl1 森の語り場
										span.ttl2 (月1回)
									h4.subttl これまでの自分と向き合い、<br>前へ進むための「語り」
									.txt
										p 各回1名が自らのライフストーリーを仲間に向けて語ります。辛い経験を自分の言葉で振り返りこれまでの自分と向き合うことは、子どもが変わるための大切な一歩です。
								.txtbox--has_wave_ttl.box
									h3.linetext--yellow--wavy
										span.ttl1 森の出会い場
										span.ttl2 (年10回)
									h4.subttl その道のプロフェッショナルの<br>人生に出会う。
									.txt
										p 子どもたちが興味ある分野でこだわりをもって仕事をしている方々を招いて、時には仕事体験を交えながらお話を伺います。
										p.sub 例：伝統工芸職人、微生物研究者、TVディレクター、美容師、舞台演出家、パティシエなど
								img(src=`${assets_prefix}images/img_method_1_1.png` width="227" alt="").img
			section.border-area.border-area--yellow.con3
				.border_header
					img(src=`${assets_prefix}images/border--yellow--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--yellow--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ホームスクール<br>週1日来校 ＋ 自宅学習
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ホームスクール
									.icon 週1日来校 ＋ 自宅学習
						.content_area_wrapper
							p.size_l 他の子どもが来ない水曜日に来ていただき、1週間の学習内容の相談、カウンセリング、進路指導を個別に行います。
				.inview.inview--to_top--delay1
					img(src=`${assets_prefix}images/mk_img_1_4.png` width="387" alt="まだ他の子と一緒に学ぶのは……という方へ")
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/mk_img_1_3.png` width="268" alt="")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower.mk
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--results
						span 進路実績
				.area--normal_border.area--normal_border--results
					table.txttable1
						tr
							td 花園中学、京都学園中学、光華中学、大谷中学
					.sep
						img(src=`${assets_prefix}images/mk_line_yellow.png` width="959"  alt="")
					h2.mb5
						img(src=`${assets_prefix}images/mk_title_result_yellow.png` width="135" alt="その先は......")
					p.yellow 自動車ディーラー、助産師、看護師、保育士、パティシエ、立命館大学大学院、カリフォルニア大学留学、学習塾室長、人材派遣会社、電気機器メーカー、中学教員、デザイナー、トリマー…
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入学金　¥100,000
						.aside
							p ● 価格は全て税別です。<br>● ハイスクール入学時には、活動費¥6,000/月が別途かかります。<br>● 学費には教材費など諸費を含みます。
					.info
						.left
							table
								tr
									th フリースクール
									td 68,000円／月
								tr
									th ホームスクール
									td 40,000円／月
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ　→　保護者面談　→　本人面談　→　無料体験1週間　→　入学
					p.sub ※ [ 1ヶ月返金保証制度 ] 入学後1ヶ月以内に通学できなくなった場合、入学金と翌月分以降の年間活動費を返金いたします。
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower.mk
		.backgrond-color__inner
			section.mk_link
				h2.ac
					img(src=`${assets_prefix}images/ttl_aruhi.png` width="148" height="24" alt="ある日の学び")
				p.ac
					a(href='/aruhi', style='margin-top:7px;')
						img(src=`${assets_prefix}images/btn_mk_2.png`, width='870', height='318', alt='ある日の学び')
