extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--mk
		h1.ttl
			span ある日の学び
	.backgrond-color--lightblue.mk2
		.backgrond-color__inner
			.content_area
				section.outline--lead.outline--lead--s
					.col--left
						header
							.icon--green_back 中学生
							.ttl
								h2.linetext--green--wavy ていねいな学習で自信を取り戻し、人生を切り拓く力を育てる。
							ul.list-style--leaf.pc
								li
									span 基礎学力の回復　　　　　……　一人ひとりの学力に合わせた教材での個別学習
								li
									span 探究学習　　　　　　　　……　探究、議論、発表など社会で必要な力をつける学習
								li
									span 高校入試対策・進路指導　……　在籍校と連携して行う受験指導・進路相談
								li
									span 生活面・心理面サポート　……　体験活動、カウンセリング、掃除や森の手入れなど

							ul.list-style--leaf.sp
								li
									span 基礎学力の回復<br>……一人ひとりの学力に合わせた教材での個別学習
								li
									span 探究学習<br>……探究、議論、発表など社会で必要な力をつける学習
								li
									span 高校入試対策・進路指導<br>……在籍校と連携して行う受験指導・進路相談
								li
									span 生活面・心理面サポート<br>……体験活動、カウンセリング、掃除や森の手入れなど
					img(src=`${assets_prefix}images/mk_img_2_1.png` width="233" alt="").img1

					.btns
						img(src=`${assets_prefix}images/btn_mk_2_1_off.png` width="212" alt="学びの森への出席が、在籍校への出席として認定されます。").rollover.img2
						img(src=`${assets_prefix}images/btn_mk_2_2_off.png` width="212" alt="学校と連携し、テスト対策を行います。学びの森での受験も可能です。").rollover.img3
						img(src=`${assets_prefix}images/btn_mk_2_3_off.png` width="212" alt="交通機関を利用して通学される場合、通学定期を購入できます。").rollover.img4
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower
		.backgrond-color__inner
			section.border-area.border-area--green
				.border_header
					img(src=`${assets_prefix}images/border--green--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--green--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p フリースクール<br>週4日　中学1~3年生　定員15名
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl フリースクール
									.icon 週4日　中学1~3年生　定員15名
						.content_area_wrapper
							h4 時間割
							.table_wrapper--basic_table.timetable
								table
									tbody
										tr.head
											th
											td 月
											td 火
											td 水
											td 木
											td 金
										tr
											th 1限目
												span.sub 10:30<br class="sp">~<br class="sp">11:50
											td 英語
											td 社会
											td ー
											td 国語
											td 数学
										tr
											th 昼休み
											td &nbsp;
											td &nbsp;
											td ー
											td &nbsp;
											td &nbsp;
										tr
											th 2限目
												span.sub 13:00<br class="sp">~<br class="sp">14:20
											td 数学
											td 探究
											td ー
											td 数学
											td 英語
										tr
											th 3限目
												span.sub 14:40<br class="sp">~<br class="sp">16:00
											td 理科
											td 探究
											td ー
											td 英語
											td 探究
							.inner-column--3
								.txtbox--has_wave_ttl.box
									h3.linetext--green--wavy
										span.ttl1 森の語り場
										span.ttl2 (月1回)
									h4.subttl これまでの自分と向き合い、<br>前へ進むための「語り」
									.txt
										p 各回1名が自らのライフストーリーを仲間に向けて語ります。辛い経験を自分の言葉で振り返りこれまでの自分と向き合うことは、子どもが変わるための大切な一歩です。
								.txtbox--has_wave_ttl.box
									h3.linetext--green--wavy
										span.ttl1 森の出会い場
										span.ttl2 (年10回)
									h4.subttl その道のプロフェッショナルの<br>人生に出会う。
									.txt
										p 子どもたちが興味ある分野でこだわりをもって仕事をしている方々を招いて、時には仕事体験を交えながらお話を伺います。
										p.sub 例：伝統工芸職人、微生物研究者、TVディレクター、美容師、舞台演出家、パティシエなど
								img(src=`${assets_prefix}images/img_method_1.png`, alt="",width="223").img

			div.border-area_wrapper
				.ex_img1
					img(src=`${assets_prefix}images/mk_img_3.png` width="86" alt="")
				section.border-area.border-area--green.border-area--m
					.border_header
						img(src=`${assets_prefix}images/border--green--head.png`, alt="").pc
						img(src=`${assets_prefix}images/border--green--head--sp.png`, alt="").sp
						.ttl_area_wrapper.sp
							.ttl_area
								.ttl_prefix
									.inner
										p エクステンション
					.border-body
						.border-body_inner
							.sep-sp.sp
							.ttl_area_wrapper
								header.ttl_area
									h3.ttl_prefix.pc
										.ttl エクステンション
							.content_area_wrapper
								.inner-column--2
									.txtbox--has_wave_ttl.box
										h3.linetext--green--wavy
											span.ttl1 高校入試対策講座
										h4.subttl 月曜19:00~21:30<br>※中3の9～3月のみ開講
										.txt
											p 過去の入試問題を実践形式で行い、<br>解説を受けながら弱点を克服します。
									.txtbox--has_wave_ttl.box
										h3.linetext--green--wavy
											span.ttl1 思考と表現のワークショップ
										h4.subttl 金曜 19:00~21:30
										.txt
											p いろんなテーマについて、答えのない問いをめぐり対話で議論を深めます。
					.inview.inview--to_top--delay1
						img(src=`${assets_prefix}images/mk_img_2_2.png` width="387" alt="より発展的な学びを追求したい……という方へ")

			section.border-area.border-area--green.con3
				.border_header
					img(src=`${assets_prefix}images/border--green--head.png`, alt="").pc
					img(src=`${assets_prefix}images/border--green--head--sp.png`, alt="").sp
					.ttl_area_wrapper.sp
						.ttl_area
							.ttl_prefix
								.inner
									p ホームスクール<br>週1日来校 ＋ 自宅学習
				.border-body
					.border-body_inner
						.sep-sp.sp
						.ttl_area_wrapper
							header.ttl_area
								h3.ttl_prefix.pc
									.ttl ホームスクール
									.icon 週1日来校 ＋ 自宅学習
						.content_area_wrapper
							p.size_l 他の子どもが来ない水曜日に来ていただき、1週間の学習内容の相談、カウンセリング、進路指導を個別に行います。
				.inview.inview--to_top--delay1
					img(src=`${assets_prefix}images/mk_img_2_3.png` width="387" alt="まだ他の子と一緒に学ぶのは……という方へ")
				.inview.inview--to_bottom
					img(src=`${assets_prefix}images/mk_img_2_5.png` width="268" alt="")
	.backgrond-color--lightblue.backgrond-color--lightblue--lower.mk
		.backgrond-color__inner
			section.content_area.content_area--info
				header.text_img
					h2.ttl--results
						span 進路実績
				.area--normal_border.area--normal_border--results
					table.txttable1
						tr
							th 公立：
							td 亀岡高校、南丹高校、朱雀高校、鴨沂高校、清明高校
						tr
							th 私立：
							td 花園高校（特Ｂ/Ｃ）、京都学園高校（国際）、大谷高校（インテグラル）、明徳高校（未来社会Ⅰ）、精華女子高校（看護）、京都外大西高校（国際文化Ａ）、昭和鉄道高校
						tr
							th 通信：
							td 京都桂看護学校、京都府医師会看護学校、南丹看護専門学校、京都自動車専門学校
					.sep
						img(src=`${assets_prefix}images/mk_line_green.png` width="959" alt="")
					h2.mb5
						img(src=`${assets_prefix}images/mk_title_result_green.png` width="135" alt="その先は......")
					p.green 自動車ディーラー、助産師、看護師、保育士、パティシエ、立命館大学大学院、カリフォルニア大学留学、学習塾室長、人材派遣会社、電気機器メーカー、中学教員、デザイナー、トリマー…
			section.content_area.content_area--info
				header.text_img
					h2.ttl--price
						span 時間割・学費
				.area--normal_border.area--normal_border--price
					.ttl_area
						h3.ttl 入学金　¥100,000
						.aside
							p ● 価格は全て税別です。<br>● フリースクール入学時には、活動費¥6,000/月が別途かかります。<br>● 学費には教材費など諸費を含みます。
					.info
						.left
							table
								tr
									th フリースクール
									td 68,000円／月
								tr
									th ホームスクール
									td 40,000円／月
						.right.right--green
							h3.ttl エクステンション
							table
								tr
									th 高校入試対策講座（中3のみ）
									td 8,000円／月
								tr
									th 思考と表現のワークショップ
									td 8,000円／月
			section.content_area.content_area--info
				header.text_img
					h2.ttl--flow
						span 入学までの流れ
				.area--normal_border.area--normal_border--flow
					.icon 随時受付中
					p お問い合わせ　→　保護者面談　→　本人面談　→　無料体験1週間　→　入学
					p.sub ※ [ 1ヶ月返金保証制度 ] 入学後1ヶ月以内に通学できなくなった場合、入学金と翌月分以降の年間活動費を返金いたします。
	.backgrond-color--lightgreen.backgrond-color--lightgreen--lower.mk
		.backgrond-color__inner
			section.mk_link
				h2.ac
					img(src=`${assets_prefix}images/ttl_aruhi.png` width="148" height="24" alt="ある日の学び")
				p.ac
					a(href='/aruhi', style='margin-top:7px;')
						img(src=`${assets_prefix}images/btn_mk_2.png`, width='870', height='318', alt='ある日の学び')
