extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_1_1.png` width="297" alt="フリースクール めぐみちゃん")
					p
						img(src=`${assets_prefix}images/gr_img_1_3.png` width="477" alt="")
					.img
						img(src=`${assets_prefix}images/gr_img_1_2.png` width="509" alt="学校や大人同士の話よりも、まずはめぐみちゃんを中心に考えましょう」という言葉に救われました。")
		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中2の秋、いじめがきっかけで不登校に。<br>中2 秋　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、京都外大西高等学校国際文化コースへ。現在2年生。
			section.interview
				.green.txt
					p お久しぶりです。でも、こないだお電話で「いつも会ってる気がする」っておっしゃってましたね。
				.black.txt
					p
						span.head 母)
						| そうなんです。卒業してからも、いつもめぐみが弱っているタイミングで電話をくれますよね。それが不思議で不思議で。家でもしょっちゅうアウラ（現：学びの森）の話が出るんですよ。
				.green.txt
					p 3月に、ニュージーランドのお土産を持ってきてくれたもんな。留学はどうやった？1ヶ月やっけ。
				.black.txt
					p
						span.head めぐみ)
						| 6週間かな。毎日すごく楽しかった。カタコトやけど、英語を話せることが嬉しかったし。ホストファミリーも、色々あったけど皆やさしかった。来年もう1回行きたいなぁ。
				.black.txt
					p
						span.head 母)
						| ずっと家にいて感情もなくしかけていたこの子が、ニュージーランドに行ったり、カナダからの留学生と一緒に出かけたりできるようになるなんてね……。もともと英語は好きだったけれど、ここに来ていなかったら京都外大の高校を目指すこともなかったと思います。村岡先生に翻訳をさせてもらってたんですよね、最初は簡単な絵本からはじまって。家で見せてくれたノートに「この訳はいいね」とか、先生のコメントが赤字でたくさん書かれていて、私まで嬉しくなっちゃいました。
				.img
					img(src=`${assets_prefix}images/gr_img_1_4.png` width="361" alt="")
				.green.txt
					p はじめて来てくれた時、お父さんとお母さんが学校とすごくもめている時だった。それで、「それは大人の話やから、まずはめぐみちゃんを中心に考えましょう」とお伝えしたのを覚えています。
				.black.txt
					p
						span.head 父)
						| あの言葉に本当に助けられました。ハッとしましたよ。この子の時間を大事にしなきゃって。ここで人との信頼関係をもう一度築かせてもらって、めぐみにとって本当に恵まれた環境だったと思います。高校に行ってからしばらくは「アウラ（現：学びの森）に戻りたい」って言ってましたね。
				.black.txt
					p
						span.head めぐみ)
						| ここは木がいっぱいあるし、先生たちが近くにいてすぐに質問できるし、勉強しやすかった。お昼ごはんもそうじも一緒にするから、先生やのに話しやすかったし。「高校ではわからへん問題があっても、先生が来てくれへん」って塾長に話したら「当たり前やろ」って笑われたよね。
				.green.txt
					p めぐみちゃんは勉強をすごく頑張ってたよな。いつも遅くまで残ってたもんなぁ。数学は嫌いやったけど（笑）
				.black.txt
					p
						span.head 母)
						| でも、数学が苦手なめぐみにもわかるように小牧先生がかみ砕いてかみ砕いて教えてくれて、模試でも平均点くらいは取れるようになったんですよね。
				.black.txt
					p
						span.head めぐみ)
						| 受験前は、ルイくんとか一緒に勉強する仲間がいたから頑張れた。ミホちゃんの存在もめっちゃ大きかったかなぁ。お姉さんみたいで。色んなこと相談したり、オシャレの話したり。お母さんも何かあると「ミホさんに聞いてみ」って言ってた。<br>
						span.sub(style="font-size: 12px;font-weight: 500;line-height: 28px;text-align: justify;") ※ミホちゃん　当時26歳。看護師をめざし、高卒資格取得のために生徒として通っていました。
				.img
					img(src=`${assets_prefix}images/gr_img_1_5.png` width="500" alt="")
				.green.txt
					p NHKの取材がきた時に、カメラの前で堂々と話すめぐみちゃんを見て、たくましくなったなぁと思ったんや。こんなに喋れるようになったんやって。ますます立派になったなぁ。
				.black.txt
					p
						span.head めぐみ）
						| そうかなぁ。そうやといいんやけど。でも、本当にアウラ（現：学びの森）にきてよかったと思う。
				.black.txt
					p
						span.head 父)
						| 学校とは全然違って、環境もいいし教えてくれる人の質が高いと感じました。めぐみにとっての、もうひとつの家みたいでしたね。私たちはアウラ（現：学びの森）に出会えて救われましたが、フリースクールの存在を知らない方もまだまだ多いと思います。もっと社会に認められ、広まっていってほしいです。
				.black.txt
					p
						span.head 母)
						| 最後に……これ、めぐみの高校の成績表です。見てやってください。ちょっとお恥ずかしいところもあるんですけど。この冬休み、郵便局の短期バイトも始めたんですよ。すぐ近くなのでお会いするかもしれませんね。
				.img
					img(src=`${assets_prefix}images/gr_img_1_6.png` width="613" alt="")
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_1_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。").pc
					img(src=`${assets_prefix}images/gr_msg_1_1_sp.png` alt="今、不登校で悩んでいる方へのメッセージ 母) 自分を責めないでください。学校に行けなくても、フリースクールがあります。めぐみが不登校になった時は、私も学校の前を通れなくなったり周りのお母さんたちと距離を取ったりして、本当に辛かったです。でも今は、この子がアウラ（現：学びの森）に通って好きな英語を学ぶ道に進めたことを、心から誇りに思います。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
