extends layout.pug
block contents
	.graduate
		header.lower_header.lower_header--graduate
			h1.ttl
				span 卒業生より
		.backgrond-color--lightblue.iv1
			.lead.lead1
				.content_area
					h2
						img(src=`${assets_prefix}images/gr_img_2_1.png` width="297" alt="フリースクール ルイくん")
					p
						img(src=`${assets_prefix}images/gr_img_2_2.png` width="411" alt="実家みたいに思っちゃってます。ルイの高校受験のために東京まで行ってくださいましたよね。")
					.img
						img(src=`${assets_prefix}images/gr_img_2_3.png` width="509" alt="")

		.backgrond-color--lightgreen
			section.step
				h2.ttl
					img(src=`${assets_prefix}images/gr_ayumi_ttl.png` width="222" alt="これまでの歩み")
				.content
					.txt
						p
							| 中1の冬、クラスの人間関係がきっかけで不登校に。<br>中2 春　〜　中3 卒業　アウラ（現：学びの森）に通学。<br>その後、昭和鉄道高等学校へ。現在2年生。
			section.interview
				.green.txt
					p ルイ、おまえ、なんかシュッとしたなぁ！東京での生活はどうや？もう実習とかあるんか？
				.black.txt
					p
						span.head ルイ)
						| こないだ都営地下鉄に行った。テニス部もまぁまぁ楽しいで。学校は変わった人が多いけど、部活にOBが来たりもするから色んな人と話して影響を受けてると思う。
				.green.txt
					p ルイとは最初に来た時から電車の話ばっかりしてたもんなぁ。
				.black.txt
					p
						span.head ルイ)
						| 青春18切符で家島に行こうっていう話をめっちゃしたよな。うどん食べに！2人でかなり調べたのに、電車の時間が長すぎて結局ボツになったけど。日吉に行ったり、牧場に行ったり、行事がいつも楽しかった。そういえばついこの前、ふじわらからアウラ（現：学びの森）の写真が送られてきたわ。
				.black.txt
					p
						span.head 母)
						| 本当に、鉄道科に進めてよかったです。受験の時も塾長にたくさんお世話になって……内申点をちゃんとつけてほしいって学校や教育委員会に連絡するのも全部ご指導いただいて、その間に塾長はわざわざ東京まで鉄道科の先生に会いに行ってくださったし。
				.green.txt
					p そうや、東京行ったなぁ。あの時は合格に向けて、3人それぞれ必死に頑張りましたよね。
				.black.txt
					p
						span.head 母)
						| 「学校に行けないからって成績が全くつかないのはおかしい。課題を与えるなり、別室での受験を認めるなり、学校側が何らかの策を講じるべきだ」と言っていただいたんですよね。それまでは、私ももう気持ちが沈んでしまって、お昼でも家の中が夜みたいに暗かったんです。何も考えられなくなっていました。でもここに来るようになって、「勉強を頑張らせてあげないと。ルイの将来のために私も動かないと。」とやっと思えたんです。
				.img
					img(src=`${assets_prefix}images/gr_img_2_4.png` width="500" alt="")
				.green.txt
					p 実は、出会った頃からルイよりもお母さんの方が心配でした。すごく思い詰めている様子やったから、「大丈夫ですよ」ということをどうにかして伝えたかった。ルイが東京に行く時も、お母さん大丈夫かなぁって思ってたなぁ。
				.black.txt
					p
						span.head 母)
						| 初めて来させてもらった時から、なんていうか、実家みたいに感じていました。塾長に「まずは、羽を休めて。それからや。」って言っていただいて、すごくほっとしたんです。今もね、何かあったら塾長に相談しようって思っちゃってます。引っ越しが終わって、東京のルイの家から一人で帰る時は新幹線で涙が止まらなかったですね……嬉しいことなのに、寂しくて。私があんまり泣くから隣の人がお弁当を食べられなくなっちゃって、申し訳なかったんですけど……
				.green.txt
					p そういえばここにNHKの取材が来た時に「長い自分の人生の中で考えたら、不登校なんて大したことじゃないなってわかった」ってルイが言ってたんや。それを聞いて、あぁもうこいつは大丈夫やなって思った。
				.black.txt
					p
						span.head ルイ）
						| 言ったっけそんなこと。（笑）まぁ、結果的にここに来て楽しかったしなぁ。塾長も他の先生も、一人ひとりに対して熱心に向き合ってくれるよな。しっかり話を聞いてくれる。勉強もわかりやすく教えてくれるし。
				.black.txt
					p
						span.head 母)
						|  一人ひとりの存在を認めてくれて、ルイも主役になれたことが本当に嬉しかったです。学校ではどうしても皆一括りにされてしまって、我慢している子や言えない子はそのまま置いていかれてしまうから、ルイにとってはしんどかったんでしょうね……。
				.green.txt
					p でも、おまえ本当にたくましくなったなぁ。俺も色々がんばろうと思ってるんや。東京にも時々行ってるぞ。次はルイの家に泊めてもらおうかな。うまいもんご馳走するわ。
				.black.txt
					p
						span.head ルイ)
						| もう十分がんばってるやん！塾長やのに、いつも忙しそうにうろうろしてるよな。東京きたら連絡してや。
				.img
					img(src=`${assets_prefix}images/gr_img_2_5.png` width="614" alt="")
				.img.msg
					img(src=`${assets_prefix}images/gr_msg_2_1_pc.png` width="720" alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。").pc
					img(src=`${assets_prefix}images/gr_msg_2_1_sp.png` alt="今、不登校で悩んでいる方へのメッセージ 母) 無理に学校に戻そうとしない方がいいと思います。私はアウラ（現：学びの森）に出会えたことで周りに引け目を感じることもなくなって、堂々と胸をはれるようになりました。視点を広げて、次の場所を探してみてはいかがでしょうか。").sp
		.backgrond-color--lightblue.navigation.nosep
			.backgrond-color__inner
				section.c_link_1
					h2.ac
						img(src=`${assets_prefix}images/ttl_method.png` width="73" alt="学び方")
					.btn_wrap_mk
						ul
							li
								a(href="/manabi1")
									img(src=`${assets_prefix}images/btn_mn_1.png` width="280" alt="小学生4~6年")
							li
								a(href="/manabi2")
									img(src=`${assets_prefix}images/btn_mn_2.png` width="280" alt="中学生1~3年")
