extends layout.pug
block slug
	- slug = 'home'
block contents
	header.lower_header.lower_header--timeline
		h1.ttl
			span ある日の学び
	.backgrond-color--lightgreen.nosep.timelime_wrap
		.lead
			img(src=`${assets_prefix}images/tl_img1.png` width="447" alt="").img1
			img(src=`${assets_prefix}images/tl_img2.png` width="293" alt="").img2
		.timeline
			.inner
				img(src="images/tl_line.png" width="1278" height="" alt="").tl_line
				.inview.inview--to_top.tl_img03.tl_img
					img(src=`${assets_prefix}images/tl_img3.png` width="423" alt="")
				.inview.inview--to_top.tl_img04.tl_img
					img(src=`${assets_prefix}images/tl_img4.png` width="292" alt="")
				.inview.inview--to_top.tl_img05.tl_img
					img(src=`${assets_prefix}images/tl_img5.png` width="237" alt="")
				.inview.inview--to_top.tl_img06.tl_img
					img(src=`${assets_prefix}images/tl_img6.png` width="317" alt="")
				.inview.inview--to_top.tl_img07.tl_img
					img(src=`${assets_prefix}images/tl_img7.png` width="482" alt="")
				.inview.inview--to_top.tl_img08.tl_img
					img(src=`${assets_prefix}images/tl_img8.png` width="471" alt="")
				.inview.inview--to_top.tl_img09.tl_img
					img(src=`${assets_prefix}images/tl_img9.png` width="332" alt="")
				.inview.inview--to_top.tl_img10.tl_img
					img(src=`${assets_prefix}images/tl_img10.png` width="395" alt="")
				.inview.inview--to_top.tl_img11.tl_img
					img(src=`${assets_prefix}images/tl_img11.png` width="277" alt="")
				.inview.inview--to_top.tl_img12.tl_img
					img(src=`${assets_prefix}images/tl_img12.png` width="215" alt="")
				.inview.inview--to_top.tl_img13.tl_img
					img(src=`${assets_prefix}images/tl_img13.png` width="429" alt="")
				.inview.inview--to_top.tl_img14.tl_img
					img(src=`${assets_prefix}images/tl_img14.png` width="752" alt="")
				.inview.inview--to_top--delay1.tl_img15.tl_img
					img(src=`${assets_prefix}images/tl_img15.png` width="183" alt="")
				.inview.inview--to_top--delay2.tl_img16.tl_img
					img(src=`${assets_prefix}images/tl_img16.png` width="256" alt="")
				.inview.inview--to_top--delay3.tl_img17.tl_img
					img(src=`${assets_prefix}images/tl_img17.png` width="271" alt="")
				.inview.inview--to_top--delay1.tl_img18.tl_img
					img(src=`${assets_prefix}images/tl_img18.png` width="222" alt="")
				.inview.inview--to_top.tl_img19.tl_img
					img(src=`${assets_prefix}images/tl_img19.png` width="406" alt="")
				.inview.inview--to_top.tl_img20.tl_img
					img(src=`${assets_prefix}images/tl_img20.png` width="195" alt="")
				.inview.inview--to_top.tl_img20_2.tl_img
					img(src=`${assets_prefix}images/tl_img20_2.png` width="288" alt="")
				.inview.inview--to_top.tl_img21.tl_img
					img(src=`${assets_prefix}images/tl_img21.png` width="268" alt="")
				.inview.inview--to_top.tl_img22.tl_img
					img(src=`${assets_prefix}images/tl_img22.png` width="267" alt="")
				.inview.inview--to_top.tl_img23.tl_img
					img(src=`${assets_prefix}images/tl_img23.png` width="407" alt="")
				.inview.inview--to_top.tl_img24.tl_img
					img(src=`${assets_prefix}images/tl_img24.png` width="260" alt="")
				.inview.inview--to_top.tl_img24_2.tl_img
					img(src=`${assets_prefix}images/tl_img24_2.png` width="407" alt="")
				.inview.inview--to_top.tl_img25.tl_img
					img(src=`${assets_prefix}images/tl_img25.png` width="227" alt="")
				.inview.inview--to_top.tl_img26.tl_img
					img(src=`${assets_prefix}images/tl_img26.png` width="406" alt="")
				.inview.inview--to_top.tl_img27.tl_img
					img(src=`${assets_prefix}images/tl_img27.png` width="327" alt="")

		section.tl_blocks
			h2.ac
				img(src=`${assets_prefix}images/tl_img30.png` width="329" alt="")

			.tl_block_1.tl_block
				img(src=`${assets_prefix}images/tl_bg_1.png` width="460" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s1.png` width="128" alt="森の手入れ")
				.txtarea
					p 植物の植え替えは、子どもたちの人気作業。塾長の「花の植え替え頼むな～！」の一言で、わっと森に集まります。学びの森と同じように、その年や季節によって、森が見せる表情もさまざまです。
				.img
					img(src=`${assets_prefix}images/tl_img31.png` width="313" alt="")
			.tl_block_2.tl_block
				img(src=`${assets_prefix}images/tl_bg_2.png` width="460" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s2.png` width="152" alt="")
				.txtarea
					p 心配事や進路のことなどを1対1でゆっくり話す塾長面談。子どもたちにとっては、誰にも言えなかったことを相談できたり、思いがけない言葉をかけられて自分の気持ちを見つめ直したりできる、大切な時間になっています。大学入試にむけての話はもちろん、どうやって社会に出る練習をするか、アルバイトをしようか、といった相談をすることも。日々の学び方も進路についても、既存の型にはめるのではなく一人ひとりが自分の道を切り拓いていくことを目指しています。
				.img
					img(src=`${assets_prefix}images/tl_img32.png` width="356" alt="")
			.tl_block_3.tl_block
				img(src=`${assets_prefix}images/tl_bg_3.png` width="960" alt="")
				h3.ttl
					img(src=`${assets_prefix}images/ttl_timeline_s3.png` width="194" alt="")
				p.subttl 年に数回、皆で体験活動にでかけます。たとえば…
				.txtarea
					.inner_1
						p.subttl ● 丹後王国「食のみやこ」＆琴引浜
						p ヤギや羊とふれあい、アイスクリーム作り体験を楽しみ、海でとった貝やタコをその場でゆでてパクリ！
						.img
							img(src=`${assets_prefix}images/tl_img33.png` width="314" alt="")
					.inner_2
						p.subttl ● 府民の森ひよし
						p みんなで豚汁と焼き肉、焼きおにぎりを作って食べ、森を散歩したりキャッチボールをしたり、自然の中でめいっぱい遊びました。
						.img
							img(src=`${assets_prefix}images/tl_img34.png` width="285" alt="")
		section.backgrond-color--lightblue.tl_link.nosep
			h2.ac
				img(src=`${assets_prefix}images/ttl_teacher_s.png` width="96" alt="先生たち")
			p.ac
				a(href="/teacher")
					img(src=`${assets_prefix}images/link_img_teacher.png` width="918" alt="学びの森の先生はこんなひと！")
